{"To have your password reset, please enter the following fields:"|alang}
<br />
<br />
<form action="index.php" method="post" name="log_admin" id="log_admin">
  <table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td>
        <div align="left">{"Username"|alang}<br />
          <input name="user" type="text" id="user" value="" style="width:99%">
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div align="left"><br />
          {"E-mail Addresss"|alang}<br />
          <input name="email" type="text" id="email" style="width:99%">
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div align="left"><br />
          <input type="submit" name="Submit" value="{"Submit"|alang}">
          <input type="hidden" name="action" id="f" value="account_lookup">
        </div>
      </td>
    </tr>
  </table>
</form>
<p style="font-size: 10px;">{"If you do not remember the above information"|alang}<br />
{"please contact your main support system administrator."|alang}