{ac_js lib="really/simplehistory.js" base=$site.p_link}
<script type="text/javascript">
  {include file="cron.js"}
</script>

<h1>{"Scheduled Tasks"|alang}</h1>


<div class="ac_help_inline" style="color:#333333; font-size:11px;">
{if !$isWindows}
      <div class="question">{"I have a UNIX-based server."|alang} {"How do I setup cron jobs?"|alang}</div>
      <div class="answer">
        <p>
          {"Typically you will be able to setup your cron with the following format:"|alang}
        </p>
        <div class="code">
          */5 * * * * php {$cronBasePath}/admin/cron.php
        </div>

        <p>
          {"If your PHP executable is installed in a custom folder, you may need to specify the PHP folder (such as /usr/local/bin/php) with your custom PHP path in a following command:"|alang}
        </p>
        <div class="code">
          */5 * * * * <u>/usr/local/bin/php</u> {$cronBasePath}/admin/cron.php
        </div>

        <p>
          {"If you are having trouble setting up the cron (or do not know the location of PHP on the server) you can use the following format:"|alang}
        </p>
        <div class="code">
          */5 * * * * wget {$plink}/admin/cron.php > /dev/null
        </div>
      </div>

{else}
      <div class="question">{"I have a Windows-based server."|alang} {"How do I setup cron jobs?"|alang}</div>
      <div class="answer">
        <p>
          {"Since Window-based servers do not have cron jobs, you can achieve the same effect by using Scheduled Tasks application (under All Programs->Accessories->System Tools->Scheduled Tasks)."|alang}
          {"Simply place a following command that should call that script (Every 5 Minutes) from a web server into a field named 'Run':"|alang}
        </p>

        <p>
          {"If your PHP executable is installed in the default folder (C:\PHP) which is specified in the first line of cron.php, you will be able to setup a following command:"|alang}
        </p>
        <div class="code">
          C:\PHP\php.exe {$cronBasePath}\admin\cron.php
        </div>

        <p>
          {"If your PHP executable is installed in a custom folder, then replace the default folder (C:\PHP) with your custom PHP path in a following command:"|alang}
        </p>
        <div class="code">
          <u>C:\PHP\php.exe</u> {$cronBasePath}\admin\cron.php
        </div>
      </div>
{/if}
</div>

{include file="cron.list.htm"}
{include file="cron.form.htm"}
{include file="cron.delete.htm"}
{include file="cron.search.htm"}
{include file="cron.log.htm"}

<script type="text/javascript">
  ac_ui_rsh_init(cron_process, true);
</script>
