{if $get.mode == "editdep"}
  {assign var="h2" value="Edit Dependancy"}
  {assign var="label" value="Update"}
  {assign var="mode2" value="update"}
{else}
  {assign var="h2" value="Create Dependancy"}
  {assign var="label" value="Create"}
  {assign var="mode2" value="insert"}
{/if}

{include file="message.tpl.htm"}

<h1>Plugin Manager</h1>
<hr>
<h2>{$h2|html}</h2>

<form action="main.php" method="POST">
  <table width="100%" border="0" cellspacing="0" cellpadding="5">
    <tr>
      <td>Dependant on</td>
      <td>
        <input type="radio" name="deptype" value="PHP" {if $dep.deptype|default:'Product' == "PHP"}checked{/if}> PHP
        <input type="radio" name="deptype" value="MySQL" {if $dep.deptype|default:'Product' == "MySQL"}checked{/if}> MySQL
        <input type="radio" name="deptype" value="Product" {if $dep.deptype|default:'Product' == "Product"}checked{/if}> Product
      </td>
    </tr>
    <tr>
      <td>From Version</td>
      <td><input type="text" name="from" value="{$dep.from|default:''|html}"></td>
    </tr>
    <tr>
      <td>To Version</td>
      <td><input type="text" name="to" value="{$dep.to|default:''|html}"></td>
    </tr>
  </table>

  <p>
  <input type="submit" value="{$label|default:'Submit'|html}">
  <input type="hidden" name="action" value="{$get.actions|default:'plugins'|html}">
  <input type="hidden" name="mode" value="{$get.mode|default:''|html}">
  <input type="hidden" name="mode2" value="{$mode2|html}">
  <input type="hidden" name="id" value="{$dep.id|default:'0'|html}">
  {if isset($get.groupid)}
  <input type="hidden" name="groupid" value="{$get.groupid|html}">
  {else}
  <input type="hidden" name="groupid" value="{$dep.groupid|default:'0'|html}">
  {/if}
</form>
