{ac_js lib="really/simplehistory.js" base=$site.p_link}
<script type="text/javascript">
  {include file="group.js"}
</script>

{if isset($group_usersettings_header)}
	{include file="user-settings.header.inc.htm" userpage='group'}
{else}
	<h1>{"Groups"|alang}</h1>
{/if}

{include file="group.list.htm"}
{include file="group.form.htm"}
{include file="group.delete.htm"}
{include file="group.search.htm"}

<script type="text/javascript">
  ac_ui_rsh_init(group_process, true);
</script>
