{if $get.mode == "edithook"}
  {assign var="label" value="Update"}
  {assign var="mode2" value="update"}
  {assign var="h2" value="Edit Hook"}
{elseif $get.mode == "addhook"}
  {assign var="label" value="Create"}
  {assign var="mode2" value="insert"}
  {assign var="h2" value="Create Hook"}
{/if}

{include file="message.tpl.htm"}

<h1>Plugin Manager</h1>
<hr>
<h2>{$h2|html}</h2>

<form action="main.php" method="POST">
  <table width="100%" border="0" cellspacing="0" cellpadding="5">
    <tr>
      <td>Hook Group</td>
      <td>{html_options name="groupid" options=$hgroups selected=$hook.groupid|default:''}</td>
    </tr>
    <tr>
      <td>Hook Location</td>
      <td>{html_options name="call" output=$hlocations values=$hlocations selected=$hook.call|default:''}</td>
    </tr>
    <tr>
      <td>Priority</td>
      <td><input type="text" name="priority" value="{$hook.priority|default:'0'|html}"></td>
    </tr>
    <tr>
      <td>Description</td>
      <td><input type="text" name="description" value="{$hook.description|default:''|html}" style="width:100%"></td>
    </tr>
    <tr>
      <td>Code</td>
      <td><textarea rows="20" name="code" style="width:100%">{$hook.code|default:''|html}</textarea></td>
    </tr>
    <tr>
      <td>Status</td>
      <td>
        <input type="radio" name="status" value="enabled" {if $hook.status|default:'enabled' == "enabled"}checked="checked"{/if}>
        Enabled
        <input type="radio" name="status" value="disabled" {if $hook.status|default:'enabled' == "disabled"}checked="checked"{/if}>
        Disabled
      </tr>
    </tr>
  </table>

  <p>
  <input type="submit" value="{$label|default:'Submit'|html}">
  <input type="hidden" name="action" value="{$get.action|default:'plugins'|html}">
  <input type="hidden" name="mode" value="{$get.mode|default:''|html}">
  <input type="hidden" name="mode2" value="{$mode2|default:''|html}">
  <input type="hidden" name="id" value="{$hook.id|default:''}">
</form>
