<div id="form" class="ac_hidden">
  <form method="POST" onsubmit="loginsource_form_save(loginsource_form_id); return false">
    <input type="hidden" name="id" id="form_id" />
    <table border="0" cellspacing="0" cellpadding="5">
	  <tr>
		<td>{"Name"|alang}</td>
		<td><span id="form_name"></span></td>
	  </tr>
	  <tr>
		<td>{"Enabled"|alang}</td>
		<td><input type="checkbox" name="enabled" id="form_enabled" value="1" /></td>
	  </tr>
	  <tr valign="top">
		<td>{"Groups"|alang}</td>
		<td>
		  <select name="groupset[]" id="form_groupset" multiple size="5" onchange="if (typeof loginsource_groups_onchange_extended == 'function') loginsource_groups_onchange_extended(this.value)">
			{foreach from=$groups item=g}
			<option value="{$g.id}" id="form_groupset_{$g.id}">{$g.title|escape}</option>
			{/foreach}
		  </select>
		</td>
	  </tr>
	  {if isset($loginsource_include_aftergroups)}
	  {include file=$loginsource_include_aftergroups}
	  {/if}
	  <tbody id="form_tbody_host" class="ac_hidden">
		<tr>
		  <td>{"Host"|alang}</td>
		  <td><input type="text" name="host" id="form_host" /></td>
		</tr>
	  </tbody>
	  <tbody id="form_tbody_port" class="ac_hidden">
		<tr>
		  <td>{"Port"|alang}</td>
		  <td><input type="text" name="port" id="form_port" /></td>
		</tr>
	  </tbody>
	  <tbody id="form_tbody_user" class="ac_hidden">
		<tr>
		  <td>{"User"|alang}</td>
		  <td><input type="text" name="user" id="form_user" /></td>
		</tr>
	  </tbody>
	  <tbody id="form_tbody_pass" class="ac_hidden">
		<tr>
		  <td>{"Password"|alang}</td>
		  <td><input type="password" name="pass" id="form_pass" /></td>
		</tr>
	  </tbody>
	  <tbody id="form_tbody_dbname" class="ac_hidden">
		<tr>
		  <td>{"Database"|alang}</td>
		  <td><input type="text" name="dbname" id="form_dbname" /></td>
		</tr>
	  </tbody>
	  <tbody id="form_tbody_tableprefix" class="ac_hidden">
		<tr>
		  <td>{"Table prefix"|alang}</td>
		  <td><input type="text" name="tableprefix" id="form_tableprefix" /></td>
		</tr>
	  </tbody>
	  <tbody id="form_tbody_ad" class="ac_hidden">
		<tr>
		  <td>{"Base DN"|alang}</td>
		  <td>
			<input type="text" name="ad_basedn" id="form_ad_basedn"/>
			{"The base of the distinguished name that users would log in with; e.g., ou=Users,dc=domain,dc=com"|help}
		  </td>
		</tr>
		<tr>
		  <td>{"Administrator DN"|alang}</td>
		  <td>
			<input type="text" name="ad_admin_dn" id="form_ad_admin_dn"/>
			{"The full distinguished name of an administrator account, necessary for Active Directory's login process.  Example: cn=Administrator,ou=Users,dc=domain,dc=com"|help}
		  </td>
		</tr>
		<tr>
		  <td>{"Administrator Password"|alang}</td>
		  <td>
			<input type="text" name="ad_admin_pw" id="form_ad_admin_pw"/>
			{"The password for the administrator account, mentioned above."|help}
		  </td>
		</tr>
	  </tbody>
	  <tbody id="form_tbody_basedn" class="ac_hidden">
		<tr>
		  <td>{"Base DN"|alang}</td>
		  <td>
			<input type="text" name="basedn" id="form_basedn" />
			{"The base of the distinguished name that users would log in with; e.g., ou=Users,dc=domain,dc=com"|help}
		  </td>
		</tr>
		<tr>
		  <td>{"Use base DN when logging in"|alang}</td>
		  <td>
			<input type="checkbox" name="loginusesdn" id="form_loginusesdn" />
			{"With this checked, we will log in with a fully-formed distinguished name (cn=user,ou=Users,dc=domain,dc=com); without it, we'll log in with 'user' and let the server sort things out."|help}
		  </td>
		</tr>
		<tr>
		  <td>{"Login attribute"|alang}</td>
		  <td>
			<input type="text" name="loginattr" id="form_loginattr" />
			{"The attribute that the LDAP server expects us to log in with.  In the vast majority of cases, this field should be 'cn' (short for 'common name')."|help}
		  </td>
		</tr>
		<tr>
		  <td>{"Bind DN"|alang}</td>
		  <td>
			<input type="text" name="binddn" id="form_binddn" />
			{"In some cases, particularly with Active Directory, we must log in with an administrative account before we can truly log in with a user.  In that case, you would place here the full distinguished name of the LDAP server's administrative user (e.g. cn=Administrator,ou=Users,dc=domain,dc=com)."|help}
		  </td>
		</tr>
		<tr>
		  <td>{"Bind Password"|alang}</td>
		  <td>
			<input type="text" name="bindpw" id="form_bindpw" />
			{"The password of the administrative user mentioned above."|help}
		  </td>
		</tr>
		<tr>
		  <td>{"User attribute"|alang}</td>
		  <td>
			<input type="text" name="userattr" id="form_userattr" />
			{"In some cases, particularly Active Directory, the user name you normally log in with is not actually what the server expects through its normal LDAP interface.  This field is the name of the attribute that you want to use to log in with.  In most of those cases, the value which must go here would be 'samAccountName'."|help}
		  </td>
		</tr>
	  </tbody>
    </table>

    <br />
    <div>
      <input type="button" id="form_submit" class="ac_button_submit" value="{"Submit"|alang}" onclick="loginsource_form_save(loginsource_form_id)" />
      <input type="button" id="form_back" class="ac_button_back" value="{"Back"|alang}" onclick="window.history.go(-1)" />
    </div>
    <input type="submit" class="ac_hidden"/>
  </form>
</div>
