<div id="list" class="ac_hidden">
  <form action="main.php?action=loginsource" method="GET" onsubmit="loginsource_list_search(); return false">
    <table width="100%" border="0" cellspacing="0" cellpadding="1">
      <thead id="list_head">
        <tr class="ac_table_header">
          <td width="50">{"Options"|alang}</td>
		  <td width="75">{ac_headercol action="loginsource" id="02" label="Order"|alang}</td>
		  <td>{ac_headercol action="loginsource" id="01" label="Name"|alang}</td>
        </tr>
      </thead>
      <tbody id="list_table">
      </tbody>
      <tbody id="list_noresults" class="ac_hidden">
        <tr>
          <td colspan="2" align="center">
            <div>{"Nothing found."|alang}</div>
          </td>
        </tr>
      </tbody>
    </table>
    <div style="float:right">
      {include file="pagination.js.tpl.htm" tabelize="loginsource_list_tabelize" paginate="loginsource_list_paginate"}
    </div>
    <div id="loadingBar" class="ac_block" style="background: url(../ac_global/media/loader.gif); background-repeat: no-repeat; padding: 5px; padding-left: 20px; padding-top: 2px; color: #999999; font-size: 10px; margin: 5px">
      {"Loading. Please wait..."|alang}
    </div>
    <span id="selectXPageAllBox" class="ac_hidden">
      <span class="ac_hidden">{"All login sources are now selected."|alang}</span>
      <span class="ac_hidden">{"All login sources on this page are now selected."|alang}</span>
      <a class="ac_hidden" href="#" onclick="return ac_form_check_selection_xpage(this.parentNode);">{"Click here to select all %s items."|alang:'<span></span>'}</a>
    </span>
  </form>

  <br />
</div>
