<div id="list" class="ac_hidden">
  <form action="main.php?action=privatemessage" method="GET" onsubmit="privatemessage_list_search(); return false">
	<table cellspacing="0" cellpadding="0" width="100%">
	  <tr class="ac_table_header_options">
		<td align="left" style="border-right: 0px;">
		  <select name="privatemessage_filter" id="privatemessage_filter" onchange="privatemessage_list_search();">
				<option value="user_to">{"Inbox"|alang}</option>
				<option value="user_from">{"Sent"|alang}</option>
		  </select>
		  <!--<input type="button" value='Filter' onclick="privatemessage_list_search()" />-->
		</td>
		<td align="right" style="border-left: 0px;">
		  <div>
			<input type="text" name="qsearch" id="list_search" />
			<input type="button" value='{"Search"|alang}' onclick="privatemessage_list_search()" />
			<input type="button" value='{"Clear"|alang}' id="list_clear" style="display:none" onclick="privatemessage_list_clear()" />
			&nbsp;<a href="#search" style="display:inline;font-size:10px">{"Advanced Search"|alang}</a>
			<a href="{$site.p_link}/index.php?action=privatemessage&r={$user_md5}{$admin.id}" id="privatemessage_feed_link" style="display:inline;"><img src="images/feed.gif" border="0" /></a>
		  </div>
		</td>
	  </tr>
	</table>
	<table width="100%" border="0" cellspacing="0" cellpadding="1">
	  <thead id="list_head">
		<tr class="ac_table_header">
		  <td id="list_table_column_checkbox" align="center" width="20">
				<input id="acSelectAllCheckbox" type="checkbox" value="multi[]" onclick="ac_form_check_selection_all(this, $('selectXPageAllBox'))" />
		  </td>
		  {*<td width="100">{"Options"|alang}</td>*}
		  <td id="from_to_td" width="250">{"From/To"|alang}</td>
		  <td>{ac_headercol action="privatemessage" id="03" label="Subject"|alang}</td>
		  <td id="sent_received_td" width="100">{ac_headercol action="privatemessage" id="02" label="Sent"|alang}</td>
		  <td id="list_table_column_status" width="125">{ac_headercol action="privatemessage" id="01" label="Status"|alang}</td>
		</tr>
	  </thead>
	  <tbody id="list_table">
	  </tbody>
	  <tbody id="list_noresults" class="ac_hidden">
		<tr>
		  <td colspan="7" align="center">
			<div>{"Nothing found."|alang}</div>
		  </td>
		</tr>
	  </tbody>
	</table>
	<div style="float:right">
	  {include file="pagination.js.tpl.htm" tabelize="privatemessage_list_tabelize" paginate="privatemessage_list_paginate"}
	</div>
	<div id="loadingBar" class="ac_block" style="background: url(../ac_global/media/loader.gif); background-repeat: no-repeat; padding: 5px; padding-left: 20px; padding-top: 2px; color: #999999; font-size: 10px; margin: 5px">
	  {"Loading. Please wait..."|alang}
	</div>
	<span id="selectXPageAllBox" class="ac_hidden">
	  <span class="ac_hidden">{"All Private Messages are now selected."|alang}</span>
	  <span class="ac_hidden">{"All Private Messages on this page are now selected."|alang}</span>
	  <a class="ac_hidden" href="#" onclick="return ac_form_check_selection_xpage(this.parentNode);">{"Click here to select all %s items."|alang:'<span></span>'}</a>
	</span>
  </form>

  <br />
  <input type="button" value="{"Compose"|alang}" onclick="ac_ui_anchor_set('form-0')" class="ac_button_add" />
  <input type="button" id="list_delete_button" value="{"Delete Selected"|alang}" onclick="ac_ui_anchor_set('delete_multi')" />
  <input type="button" id="privatemessage_export_link" value="{"Export"|alang}" onclick="window.location='main.php?action=privatemessage&export=1';" />
</div>
