<div id="form" class="ac_hidden">
  <form method="POST" onsubmit="processes_form_save(processes_form_id); return false">
    <input type="hidden" name="id" id="form_id" />

    <div>
      <h3 id="nameLabel"></h3>
      <p id="descriptLabel" class="ac_hidden"></p>
      <div>{"Created: "|alang}<span id="cdateLabel"></span></div>
      <div>{"Updated: "|alang}<span id="ldateLabel"></span></div>
      <div>{"Completed: "|alang}<span id="percentageLabel"></span></div>
      <div>{"Status: "|alang}<strong id="statusLabel"></strong></div>
      <div>{"Progress:"|alang}</div>
      <div id="progressBar" class="ac_progressbar"></div>
    </div>

    <div id="restartBox" class="ac_hidden">
      <label>
        <input type="checkbox" name="restart" id="restartField" value="1" onclick="$('activeField').checked = this.checked;processes_form_active_changed();" />
        {"Re-Start"|alang}
      </label>
    </div>
    <div id="activeBox" class="ac_hidden">
      <label>
        <input type="checkbox" name="active" id="activeField" value="1" onclick="processes_form_active_changed();" />
        {"Active"|alang}
      </label>
    </div>
    <div id="activeInBox" class="ac_hidden">
      <div id="scheduleBox" class="ac_hidden">
        <label>
          <input type="checkbox" name="schedule" id="scheduleField" value="1" onclick="processes_form_schedule_changed();" />
          {"Scheduled"|alang}
        </label>
        <label id="dateBox" class="ac_hidden">
          &middot;
          {"Starting Date/Time:"|alang}
          <input type="text" name="ldate" id="ldateField" value="" size="20" />
          <img src="images/date_time.png" id="ldateCalendar" />
        </label>
      </div>
      <div id="spawnBox" class="ac_hidden">
        <label>
          <input type="checkbox" name="spawn" id="spawnField" value="1" onclick="processes_form_spawn_changed();" />
          {"Run Now (ReQueue)"|alang}
        </label>
      </div>
    </div>

    <br />
    <div>
      <input type="button" id="form_submit" class="ac_button_submit" value="{"Submit"|alang}" onclick="processes_form_save(processes_form_id)" />
      <input type="button" id="form_back" class="ac_button_back" value="{"Back"|alang}" onclick="window.history.go(-1)" />
    </div>
    <input type="submit" style="display:none"/>
  </form>
</div>

<script type="text/javascript">
{literal}
Calendar.setup({inputField: "ldateField", ifFormat: '%Y/%m/%d %H:%M', button: "ldateCalendar", showsTime: true, timeFormat: "24"});
{/literal}
</script>
