<div id="search" class="ac_modal_search" align="center" style="display:none">
  <div class="ac_modal_inner">
    <form method="GET" onsubmit="processes_search(); return false">
      <table border="0" cellspacing="0" cellpadding="5">
        <tr>
          <td>{"Search for"|alang}</td>
          <td><input type="text" name="content" id="search_content"/></td>
        </tr>
        <tr valign="top">
          <td>{"Search in"|alang}</td>
          <td>
            {foreach from=$search_sections item=s}
            <input type="checkbox" name="section[]" value="{$s.col}"> {$s.label}<br/>
            {/foreach}
          </td>
        </tr>
        <tr valign="top">
          <td>{"In Processes"|alang}</td>
          <td>
            <select name="listid" id="JSActionFilter" size="5" multiple>
              <option value="0">{"- All Processes -"|alang}</option>
              {html_options options=$actions}
             </select>
            {"Notice: Hold CTRL to select multiple items."|help}
            <div>
              {"Select:"|alang}
              <a href="#" onclick="return ac_form_select_multiple_all($('JSActionFilter'), true);">{"All"|alang}</a>
              &middot;
              <a href="#" onclick="return ac_form_select_multiple_none($('JSActionFilter'));">{"None"|alang}</a>
            </div>
          </td>
        </tr>
        <tr valign="top">
          <td>{"With Statuses"|alang}</td>
          <td>
            <select name="status" id="JSStatusFilter" size="5" multiple>
              <option value="">{"- All Statuses -"|alang}</option>
              <option value="active">{"Running"|alang}</option>
              <option value="stall">{"Stalled"|alang}</option>
              <option value="done">{"Completed"|alang}</option>
             </select>
            {"Notice: Hold CTRL to select multiple items."|help}
            <div>
              {"Select:"|alang}
              <a href="#" onclick="return ac_form_select_multiple_all($('JSStatusFilter'), true);">{"All"|alang}</a>
              &middot;
              <a href="#" onclick="return ac_form_select_multiple_none($('JSStatusFilter'));">{"None"|alang}</a>
            </div>
          </td>
        </tr>
      </table>
    </form>
    <br/>
    <br/>
    <div>
      <input type="button" value='{"Search"|alang}' onclick="processes_search()"/>
      <input type="button" value='{"Cancel"|alang}' onclick="ac_dom_toggle_display('search', 'block'); ac_ui_anchor_set(processes_list_anchor())"/>
    </div>
  </div>
</div>
<script type="text/javascript">
  processes_search_defaults();
</script>
