<h1>{"Branding Settings"|alang}</h1>

{if $formSubmitted}
<div class="resultMessage">
  {if $submitResult}
  {"Changes successfully saved."|alang}
  {else}
  {"Changes NOT saved. Please, try again later..."|alang}
  {/if}
</div>
{/if}

<form name="form1" method="post" action="main.php">
  <input type="hidden" name="action" value="{$action|default:'settings_branding'}" />

  <div class="h2_wrap">
	<h2>{"Software Branding"|alang}</h2>
	<div class="h2_content">

	  <table border="0" width="100%" cellpadding="5" cellspacing="0">
		{if !isset($show_editor_size) or $show_editor_size}
		<tr>
		  <td valign="middle" rowspan="2" class="column_1">{"Editor Size:"|alang}</td>
		  <td valign="top" class="column_2" nowrap>
			{"Width:"|alang}
			<input type="text" name="brand_editorw" value="{$editorWidth}" size="5" />
			<select name="brand_editorw_measure" size="1">
			  <option value="%"{if $widthMeasure == '%'} selected{/if}>{"%"|alang}</option>
			  <option value="px"{if $widthMeasure == 'px'} selected{/if}>{"px"|alang}</option>
		  </select>       </td>
		  <td valign="top" rowspan="2" class="column_2"><span class="smallHelper"> {"You are able to change the width and height of the WYSIWYG editor."|alang}<br />
			  {"Examples:"|alang}<br />
			  100% {"For a 100 percent wide editor."|alang}<br />
			  500px {"For a 500 pixel high editor."|alang} </span></td>
		</tr>
		<tr>
		  <td valign="top" class="column_2" nowrap>
			{"Height:"|alang}
			<input type="text" name="brand_editorh" value="{$editorHeight}" size="5" />
			<select name="brand_editorh_measure" size="1">
			  <option value="%"{if $heightMeasure == '%'} selected{/if}>{"%"|alang}</option>
			  <option value="px"{if $heightMeasure == 'px'} selected{/if}>{"px"|alang}</option>
		  </select>       </td>
		</tr>
		{/if}
		<tr>
		  <td valign="top" class="column_1">{"Show Copyright:"|alang}</td>
		  <td valign="top" class="column_2"><input type="checkbox" name="brand_copyright" value="1"{if $cfgArray.brand_copyright} checked{/if} /></td>
		  <td valign="top" class="column_2"><span class="smallHelper">{"License agreement does not allow you to set your own copyright, but you may opt to have the copyright invisibe to public/non-code view."|alang}<br />
			  {"Copyrights may never be removed from the actual code."|alang}</span></td>
		</tr>
		<tr>
		  <td valign="top" class="column_1">{"Show Software Links:"|alang}</td>
		  <td valign="top" class="column_2"><input type="checkbox" name="brand_links" value="1"{if $cfgArray.brand_links} checked{/if} /></td>
		  <td valign="top" class="column_2"><span class="smallHelper">{"You have the option to make the Software Homepage and Support Center links visible or invisible."|alang}</span></td>
		</tr>
		<tr>
		  <td valign="top" class="column_1">{"Hide Version:"|alang}</td>

		  <td valign="top" class="column_2"><input type="checkbox" name="brand_version" value="1"{if $cfgArray.brand_version} checked{/if} /></td>
		  <td valign="top" class="column_2"><span class="smallHelper">{"Hide version to all users besides user admin?"|alang}<br />
			  {"If selected, the version will NOT be visible in the control panel."|alang}</span></td>
		</tr>
		<tr>
		  <td valign="top" class="column_1">{"Demo Mode:"|alang}</td>
		  <td valign="top" class="column_2"><input type="checkbox" name="brand_demo" value="1"{if $cfgArray.brand_demo} checked{/if} onclick="alert('{"Warning!  Once you save this form with this box checked,\nyou will not be able to get out of demo mode through the mailing software.\n\nTo get out of demo mode, you will have to go to phpMyAdmin, click on the tt_backend table,\nand set brand_demo=0 for the only row (where id=1).\n\nThis prevents your visitors from taking the mailing software out of demo mode while browsing around. "|alang|js}');" /></td>
		  <td valign="top" class="column_2"><span class="smallHelper">{"If selected, the software will disable most functions such as deleting, sending and more."|alang}</span></td>
		</tr>
	  </table>

	</div>
  </div>



  <div class="bottom_nav_options">
	{if !$demoMode}
	<input class="bottom_nav_button" type="submit" value="{"Save Changes"|alang}" />
	{else}
	<span class="demoDisabled">{"Disabled in demo"|alang}</span>
	{/if}
  </div>

</form>
