<h1>{$pageTitle}</h1>



    <p>{"Your current version:"|alang} <strong>{$site.version}</strong></p>
    <p>{"Latest available version:"|alang} <strong>{if $latest == 0 or $latest == ''}{"Unknown"|alang}{else}{$latest}{/if}</strong></p>

{if $fetched and $shouldUpdate}
    <div>{"New version available!"|alang}</div>

{if isset($site.brand_copyright) and $site.brand_copyright}
    <p>
      <button onclick="window.location = 'http://support.imedia.vn/license.php?updating={$appID}&from={$site.version|replace:' ':'.'}&encoding={$encoding}&hash={$hash}';">
        {"Login to Support Center to Upgrade"|alang}
      </button>
    </p>
{/if}

{elseif $fetched and !$shouldUpdate}
    <div>{"You are using the latest available version."|alang} {"No update is needed!"|alang}</div>

{else}

    <div>{"Could not fetch the latest version number. Check your connection to ActivateLicense.com server and try again."|alang}</div>

{/if}

