<div id="syncRunPanel" class="ac_modal" align="center" style="display:none; overflow: auto">
  <div class="ac_modal_inner" style="width: 600px;">
  <h3 id="syncRunTitle"></h3>
  <input id="syncRunID" type="hidden" value="0" />
	<table width="100%" border="0" cellspacing="0" cellpadding="5">
	  <tr>
		<td width="150">{"User@Host"|alang}</td>
		<td><span id="syncRunUser"></span></td>
	  </tr>
	  <tr>
		<td>{"Database"|alang}</td>
		<td><span id="syncRunDB"></span></td>
	  </tr>
	  <tr>
		<td valign="top">{"Table"|alang}</td>
		<td>
		  <span id="syncRunTable"></span>
		  <a href="#" id="syncRunTablesLink" class="ac_hidden" onclick="ac_dom_toggle_display('syncRunTablesBox', 'block');this.innerHTML = ( this.innnerHTML == syncShowTables ? syncHideTables : syncShowTables );return false;">{"Show Tables"|alang}</a>
		  <div id="syncRunTablesBox" style="display: none; margin: 10px 0; padding: 5px; border: 1px solid #eee;">
		    <ul id="syncRunTablesList"></ul>
		  </div>
		</td>
	  </tr>
	  <tr>
		<td valign="top">{"Query"|alang}</td>
		<td><div id="syncRunQuery" style="padding: 5px; border: 1px solid #eee;"></div></td>
	  </tr>
	  {*
	  <tr>
		<td valign="top">{"Found to Sync"|alang}</td>
		<td><span id="syncRunFound"></span></td>
	  </tr>
	  <tr>
		<td valign="top">{"Synced"|alang}</td>
		<td>
		  <span id="syncRunSynced"></span>
		  <a href="#" id="syncRunSyncedLink" onclick="ac_dom_toggle_display('syncRunSyncedBox', 'block');this.innerHTML = ( this.innnerHTML == syncShowSynced ? syncHideSynced : syncShowSynced );return false;">{"View Synced"|alang}</a>
		  <div id="syncRunSyncedBox" style="display: none; margin: 10px 0; padding: 5px; border: 1px solid #eee;">
		    <table width="100%" border="0" cellspacing="0" cellpadding="0">
		      <tbody id="syncRunSyncedList"></tbody>
		    </table>
		  </div>
		</td>
	  </tr>
	  <tr>
		<td valign="top">{"Failed"|alang}</td>
		<td>
		  <span id="syncRunFailed"></span>
		  <a href="#" id="syncRunFailedLink" onclick="ac_dom_toggle_display('syncRunFailedBox', 'block');this.innerHTML = ( this.innnerHTML == syncShowFailed ? syncHideFailed : syncShowFailed );return false;">{"View Failed"|alang}</a>
		  <div id="syncRunFailedBox" style="display: none; margin: 10px 0; padding: 5px; border: 1px solid #eee;">
		    <table width="100%" border="0" cellspacing="0" cellpadding="0">
		      <tbody id="syncRunFailedList"></tbody>
		    </table>
		  </div>
		</td>
	  </tr>
	  *}
	</table>
	<div style="display:none"> {* We're intentionally hiding this *}
	  <input id="syncRunDetails" type="button" value="{'Details...'|alang}" class="ac_hidden" onclick="ac_sync_details();" />
	</div>

		<div id="syncRunNotice" align="center">
			<div id="progressBar" class="ac_progressbar" align="left"></div>
			<div>{"Your synchronization has been started.  You may click 'Done' to leave this window at any time."|alang}</div><br />
			<div style="color:#999999;">{"You can monitor the progress here or leave this page and let it run in the background."|alang}</div>

		</div>
		<iframe id="syncRunFrame" name="syncRunFrame" class="ac_hidden" width="100%" height="300" scrolling="auto" src="about:blank" border="0" style="border:0px;"></iframe>
		<script>/* register iframe for autoexpand here */</script>
		<div id="syncRunResult" class="ac_hidden" align="center">
			<div>{"Your synchronization has been completed."|alang}</div><br />
			{if isset($site.is12all)}
			<div>
				<a href="main.php?action=subscriber">{"Manage Subscribers"|alang}</a>
				&nbsp; | &nbsp;
				<a href="main.php?action=sync#add-0-1">{"Add More Synchronizations"|alang}</a>
				&nbsp; | &nbsp;
				<a href="#" onclick="return ac_sync_report();">{"View Report"|alang}</a>
			</div>
			{/if}
		</div>

	<br />
	<br />
	<div id="sync_before_run" style="text-align: right">
	  <input id="syncRunStart" type="button" value="{'Start Sync'|alang}" class="ac_button_ok" onclick="ac_sync_start();" />
	  <input id="test_to_run_button" class="ac_hidden" type="button" onclick="ac_dom_toggle_display('syncRunPanel', 'block');sync_run($('syncRunID').value, false);" value='{"Run"|alang}' />
	  <input type="button" onclick="ac_dom_toggle_display('syncRunPanel', 'block');" value='{"Cancel"|alang}' />
	</div>
	<div id="sync_after_run" style="display:none; text-align: right">
	  <input type="button" onclick="$('syncRunPanel').hide()" value='{"Done"|alang}' class="ac_button_ok">
	</div>
  </div>
</div>
