{assign var="hasdesk" value="0"}
<h1>{"Template Files"|alang}</h1>
<div class="inner_content">
  {include file="message.tpl.htm"}
  <div style="float: left; padding-right: 10px">
	<a href="main.php?action=tplversion&location=admin">Admin</a>
  </div>
  {if $hasdesk}
  <div style="float: left; padding-right: 10px">
	<a href="main.php?action=tplversion&location=desk">Desk</a>
  </div>
  {/if}
  <div style="float: left; padding-right: 10px">
	<a href="main.php?action=tplversion&location=global">Global</a>
  </div>
  <div style="float: left; padding-right: 10px">
	<a href="main.php?action=tplversion&location=lang">Language</a>
  </div>
  <div style="float: left; padding-right: 10px">
	<a href="main.php?action=tplversion&location=public">Public</a>
  </div>
  <table width="100%" border="0" cellspacing="0" cellpadding="1" style="clear: both">
    <tr class="row_header">
	  {if $hasdesk}
	  <td width="10%">{"Desk"|alang}</td>
	  {/if}
	  <td width="20%">{"Name"|alang}</td>
	  <td width="10%">{"Modified"|alang}</td>
    </tr>
	{foreach from=$files item=f}
	<tr class="row_normal">
	  {if $hasdesk}
	  <td>{$f.desk}</td>
	  {/if}
	  <td>{$f.name}</td>
	  <td>{$f.mtime|acpdate}</td>
	</tr>
	{/foreach}
  </table>
</div>
