{include file="instup.checks.htm" installer=false}


<div id="settings" class="{if $step == 5}ac_block{else}ac_hidden{/if}">
	<h3>{"Software Settings"|alang}</h3>

	<form action="install.php" method="post" name="reg" id="siteForm" onsubmit="updater_next(); return false;">

		<div>{"Your %s software URL will be updated to:"|alang:$appname}</div>
		<div><strong>{$siteurl}</strong><input type="hidden" name="murl" id="murl" value="{$siteurl}" size="60" tabindex="1" /></div>

		{* we shouldn't let them change this -- whatever they used to hit updater, that's it
		<div>{"Specify the main URL of your %s software"|alang:$appname}</div>
		<div><input type="text" name="murl" id="murl" value="{$siteurl}" size="60" tabindex="1" /></div>
		<div>{"Do not include a trailing slash. Example = &quot;http://www.mysite.com/somepath&quot;"|alang}</div>
		*}

		<div style="margin: 10px 0;">
			<input type="button" value="{'Next &gt;'|alang}" class="ac_button_next" id="settingsNext" tabindex="10" onclick="updater_next();" />
		</div>

	    <input type="submit" style="display:none" />
	</form>
</div>


<div id="updater" class="{if $step == 6}ac_block{else}ac_hidden{/if}">
	<h3>{"Updating %s"|alang:$appname}</h3>
	<iframe id="updateriframe" frameborder="0" marginheight="0" marginwidth="0" src="{if $step == 6}{$siteurl}/ac_global/scripts/updateri.php{else}about:blank{/if}" width="100%" height="400"></iframe>
{if $subapps}
	<iframe id="subupdateriframe" frameborder="0" marginheight="0" marginwidth="0" src="about:blank" width="100%" height="400" style="display:none;"></iframe>
{/if}
</div>

<script>

var promptPageLeave = '{"By leaving this page your upgrade will not continue and your software will likely not work properly!"|alang}';

{literal}
window.onbeforeunload = null;
window.onbeforeunload = function() {
	if ( $('updater').className == 'ac_block' ) {
		for ( var i = 0; i < window.frames.length; i++ ) {
			var ifr = window.frames[i];
			if ( ifr.location.href == 'about:blank' ) continue;
			var loaderbox = ifr.document.getElementById('ac_updating_box');
			if ( loaderbox && loaderbox.className == 'ac_block' ) {
				return promptPageLeave;
			}
		}
	}
};
{/literal}

</script>