{foreach from=$admin.groups item=g}
{if $g == $smarty.const.AC_GROUP_ADMIN}
{assign var="showgroupdropdown" value="1"}
{/if}
{/foreach}

<div id="export" class="ac_modal" style="display:none">
  <div class="ac_modal_inner">
  	<h1>{"Export"|alang}</h1>
	<input type="checkbox" id="export_user" name="export_user" value="1" checked/>  {"User"|alang}<br/>
	<input type="checkbox" id="export_name" name=export_name" value="1" checked/>  {"Name"|alang}<br/>
	<input type="checkbox" id="export_email" name="export_email" value="1" checked/> {"Email"|alang}<br/>
    <br/>
    <div>
      <input type="button" value='{"Export"|alang}' onclick="user_export()" class="ac_button_ok"/>
      <input type="button" value='{"Cancel"|alang}' onclick="$('export').style.display = 'none'"/>
    </div>
  </div>
</div>

<div id="list" class="ac_hidden">
  {if isset($user_header_file)}
  {include file=$user_header_file}
  {/if}

  <form action="main.php?action=user" method="GET" onsubmit="user_list_search(); return false">
	<table cellspacing="0" cellpadding="0" width="100%">
	  <tr class="ac_table_header_options">
		<td>
		  <div style="float:right">
			  <input type="text" name="qsearch" id="list_search" />
			  <input type="button" value='{"Search"|alang}' onclick="user_list_search()" />
			  <input type="button" value='{"Clear"|alang}' id="list_clear" style="display:none" onclick="user_list_clear()" />
			  &nbsp;<a href="#search" style="display:inline;font-size:10px">{"Advanced Search"|alang}</a>
		  </div>
		  <div>
			{if isset($showgroupdropdown)}
			<select name="search_group" id="list_search_group" onchange="if (typeof user_list_search_onchange_extended == 'function') user_list_search_onchange_extended(this.value)">
			  <option value="0">{"All Groups"|alang}</option>
			  {foreach from=$fgroups item=g}
			  <option value="{$g.id}">-- {$g.title|escape}</option>
			  {/foreach}
			  {if isset($user_group_dropdown_include)}
			  {include file=$user_group_dropdown_include}
			  {/if}
			</select>
			{if isset($user_list_aftergroups)}
			{include file=$user_list_aftergroups}
			{/if}
			<input type="button" value='{"Filter"|alang}' onclick="user_list_search()" />
			{else}
			<input name="search_group" id="list_search_group" type="hidden" value="0">
			{/if}
		  </div>
		</td>
	  </tr>
	</table>
	<table width="100%" border="0" cellspacing="0" cellpadding="1">
	  <thead id="list_head">
		<tr class="ac_table_header">
		  <td align="center" width="20">
			<input id="acSelectAllCheckbox" type="checkbox" value="multi[]" onclick="ac_form_check_selection_all(this, $('selectXPageAllBox'))" />
		  </td>
		  <td width="60">{"Options"|alang}</td>
		  <td>{ac_sortcol action="user" id="01" label="User"|alang}</td>
		  <td>{ac_sortcol action="user" id="02" label="Name"|alang}</td>
		  <td>{ac_sortcol action="user" id="03" label="Email"|alang}</td>
		  <td>{"Groups"|alang}</td>
		</tr>
	  </thead>
	  <tbody id="list_table">
	  </tbody>
	  <tbody id="list_noresults" class="ac_hidden">
		<tr>
		  <td colspan="4" align="center">
			<div>{"Nothing found."|alang}</div>
		  </td>
		</tr>
	  </tbody>
	  <tfoot>
		<td colspan="4" align="left">
		  <div id="loadingBar" class="ac_hidden" style="background:url(../ac_global/media/loader.gif); background-repeat:no-repeat; padding:5px; padding-left:20px; padding-top:2px; color:#999999; font-size:10px; margin:5px;">
			{"Loading. Please wait..."|alang}
		  </div>
          <span id="selectXPageAllBox" class="ac_hidden">
            <span class="ac_hidden">{"All items are now selected."|alang}</span>
            <span class="ac_hidden">{"All items on this page are now selected."|alang}</span>
            <a class="ac_hidden" href="#" onclick="return ac_form_check_selection_xpage(this.parentNode);">{"Click here to select all items."|alang}</a>
          </span>
		</td>
		<td align="right">
		  &nbsp;
		</td>
	  </tfoot>
	</table>

  </form>

	<div style="float:right;">{include file="pagination.js.tpl.htm" tabelize="user_list_tabelize" paginate="user_list_paginate"}</div>
	{if $_user_can_add and !$demoMode}
	<span id="list_addspan" {if isset($site.adminsLeft) and $site.adminsLeft < 1}style="display:none"{/if}>
	  <input type="button" value='{"Add User"|alang}' onclick="if (typeof user_form_addbutton_extended == 'function') user_form_addbutton_extended(); else ac_ui_anchor_set('form-0')">
	</span>
	{/if}
	{if $_user_can_delete and !$demoMode}
	<input type="button" value="{"Delete Selected"|alang}" onclick="ac_ui_anchor_set('delete_multi')" />
	{/if}
	<input type="button" value='{"Export"|alang}' onclick="$('export').style.display = ''" style="margin-left: 20px" />
	<span {if isset($global_count) and $global_count > 0} style="display: inline" {else} style="display:none" {/if}>
	  {if $_user_can_add}
	  &nbsp;&nbsp;
	  <input type="button" value="{"Import a Global User"|alang}" onclick='paginators[2].paginate(0); ac_dom_toggle_display("global", "block")' />
	  {/if}
	</span>
</div>
