{if isset($user_js_file)}
{ac_js base="." src=$user_js_file}
{/if}

<div id="form" class="ac_hidden">
  <form method="GET" onsubmit="user_form_save(user_form_id); return false">
	<input type="hidden" name="id" id="form_id" value="{$user.id|default:'0'}">
	<table border="0" cellspacing="0" cellpadding="5">
	  <tr>
		<td>{"Username"|alang}</td>
		<td><input type="text" id="form_username" name="username" value="{$user.username|default:''}" autocomplete="off" style="width: 200px"></td>
	  </tr>
	  <tr>
		<td>{"Password"|alang}</td>
		<td><input type="password" id="form_password" name="password" autocomplete="off" style="width: 200px"></td>
	  </tr>
	  <tr>
		<td>{"Repeat Password"|alang}</td>
		<td><input type="password" id="form_password_r" name="password_r" autocomplete="off" style="width: 200px"></td>
	  </tr>
	  {if $ac_admin_ismaingroup}
	  <tbody id="user_groupbody">
		<tr valign="top" id="group_tr">
		  <td>{"Group"|alang}</td>
		  <td>
				<select id="form_group" name="group" {if !ac_site_is12all5()}multiple{/if} style="width: 200px" size="5">
			  {foreach from=$groups item=g name="group"}
			  <option value="{$g.id}" {if $smarty.foreach.group.index eq 0}selected{/if}>{$g.title|escape}</option>
			  {/foreach}
			</select>
			<a href='javascript:void(0)' onclick='user_group_defaults(); ac_dom_toggle_display("group", "block")'>{"Add a new group"|alang}</a>
			
		  </td>
		</tr>
	  </tbody>
	  {/if}
	  <tr>
		<td>{"Email"|alang}</td>
		<td><input type="text" id="form_email" name="email" value="{$user.email|default:''}" style="width: 200px"></td>
	  </tr>
	  <tr>
		<td>{"First Name"|alang}</td>
		<td><input type="text" id="form_first_name" name="first_name" value="{$user.first_name|default:''}" style="width: 200px"></td>
	  </tr>
	  <tr>
		<td>{"Last Name"|alang}</td>
		<td><input type="text" id="form_last_name" name="last_name" value="{$user.last_name|default:''}" style="width: 200px"></td>
	  </tr>

	  {if isset($user_include_file)}
	  {include file=$user_include_file}
	  {/if}
	</table>

	<br>
	<div>
	  {if !$demoMode}
	  <input type="button" id="user_form_submit" value='{"Submit"|alang}' onclick="user_form_save(user_form_id)">
	  {else}
	  <span class="demoDisabled2">{"Disabled in demo"|alang}</span>
	  {/if}
	  <input type="button" class="ac_button_back" value='{"Back"|alang}' onclick="window.history.go(-1)">
	</div>
	<input type="submit" style="display:none"/> <!-- so submit-on-enter works -->
  </form>
</div>
