{ac_js acglobal="class.Table"}
{ac_js lib="really/simplehistory.js" base=$site.p_link}
<script type="text/javascript">
  {include file="user.js"}
</script>

{if isset($user_usersettings_header)}
	{include file="user-settings.header.inc.htm" userpage='user'}
{else}
	<h1>{"Users"|alang}</h1>
{/if}

{include file="user.list.htm"}
{include file="user.form.htm"}
{include file="user.delete.htm"}
{include file="user.global.htm"}
{include file="user.group.htm"}
{include file="user.search.htm"}

<script type="text/javascript">
  ac_ui_rsh_init(user_process, true);
</script>
