<div id="api_parameters_account_edit" class="api_parameters_div" style="display: none;">
  <table cellspacing="0" cellpadding="0" border="0">
    <tr>
      <td>{"Account Name"|alang}:</td>
      <td>
        <input type="text" name="account_edit_postvar_account" id="account_edit_postvar_account" value="" class="settings_api_param_general2" />
        <b>{"Example"|alang}:</b> <span class="code">{"myaccount"|alang}</span>
      </td>
    </tr>
    <tr>
      <td>{"CNAME"|alang}:</td>
      <td>
        <input type="text" name="account_edit_postvar_cname" id="account_edit_postvar_cname" value="" class="settings_api_param_general2" />
        <b>{"Example"|alang}:</b> <span class="code">{"myaccount.mydomain.com"|alang}</span>
      </td>
    </tr>
    <tr>
      <td>{"Client Name"|alang}:</td>
      <td>
        <input type="text" name="account_edit_postvar_name" id="account_edit_postvar_name" value="" class="settings_api_param_general2" />
        <b>{"Example"|alang}:</b> <span class="code">Joe Client</span>
      </td>
    </tr>
    <tr>
      <td>{"Client Email Address"|alang}:</td>
      <td>
        <input type="text" name="account_edit_postvar_email" id="account_edit_postvar_email" value="" class="settings_api_param_email" />
        <b>{"Example"|alang}:</b> <span class="code">joe.client@gmail.com</span>
      </td>
    </tr>
    <tr>
      <td>{"Notification Email Address"|alang}:</td>
      <td>
        <input type="text" name="account_edit_postvar_notification" id="account_edit_postvar_notification" value="" class="settings_api_param_email" />
        <b>{"Example"|alang}:</b> <span class="code">support-joe@mydomain.com</span>
      </td>
    </tr>
    <tr>
      <td>{"Plan"|alang}:</td>
      <td>
        <select name="account_edit_postvar_plan" id="account_edit_postvar_plan">
          <option value="2">500 {"Subscribers"|alang}</option>
        </select>
      </td>
    </tr>
  </table>
</div>