<div id="api_parameters_account_name_check" class="api_parameters_div" style="display: none;">
  <table cellspacing="0" cellpadding="0" border="0">
    <tr>
      <td>{"Account Name"|alang}:</td>
      <td>
        <input type="text" name="account_name_check_param_account" id="account_name_check_param_account" value="" class="settings_api_param_general2" />
        <b>{"Example"|alang}:</b> <span class="code">myaccount</span>
      </td>
    </tr>
  </table>
</div>