<div id="api_parameters_campaign_create" class="api_parameters_div" style="display: none;">
  <table cellspacing="0" cellpadding="0" border="0">
    <tr>
      <td>{"Type"|alang}:</td>
      <td>
        <select name="campaign_create_postvar_type" id="campaign_create_postvar_type">
          <option value="single">single</option>
          <option value="recurring">recurring</option>
          <option value="split">split</option>
          <option value="responder">responder</option>
          <option value="reminder">reminder</option>
          <option value="special">special</option>
          <option value="activerss">activerss</option>
          <option value="text">text</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>{"Type Settings"|alang}:</td>
      <td>
        <table cellspacing="0" cellpadding="0" border="0">
          <tr id="campaign_create_postvar_settings_default">
            <td>{"Choose from above."|alang}</td>
            <td></td>
            <td></td>
          </tr>
          <tr id="campaign_create_postvar_settings_recurring" style="display: none;">
            <td></td>
            <td>
              <select name="campaign_create_postvar_recurring">
                <option value="" selected="selected">{"Choose"|alang}</option>
                <option value="day1">day1</option>
                <option value="day2">day2</option>
                <option value="week1">week1</option>
                <option value="week2">week2</option>
                <option value="month1">month1</option>
                <option value="month2">month2</option>
                <option value="quarter1">quarter1</option>
                <option value="quarter2">quarter2</option>
                <option value="year1">year1</option>
                <option value="year2">year2</option>
              </select>
            </td>
            <td></td>
          </tr>
          <tr id="campaign_create_postvar_settings_split" style="display: none;">
            <td></td>
            <td>
              <select name="campaign_create_postvar_split_type">
                <option value="" selected="selected">{"Choose"|alang}</option>
                <option value="even">even</option>
                <option value="read">read</option>
                <option value="click">click</option>
              </select>
              <br />
              <br />
              <input type="text" name="campaign_create_postvar_split_offset" value="" class="settings_api_param_ids" placeholder="{"Offset"|alang}" />
              <b>{"Example"|alang}:</b> <span class="code">12</span>
              <br />
              <br />
              <select name="campaign_create_postvar_split_offset_type">
                <option value="" selected="selected">{"Choose"|alang}</option>
                <option value="hour">{"Hour"|alang}</option>
                <option value="day">{"Day"|alang}</option>
                <option value="week">{"Week"|alang}</option>
                <option value="month">{"Month"|alang}</option>
              </select>
            </td>
            <td></td>
          </tr>
          <tr id="campaign_create_postvar_settings_responder" style="display: none;">
            <td></td>
            <td>
              <input type="text" name="campaign_create_postvar_responder_offset" value="" class="settings_api_param_ids" placeholder="{"Offset"|alang}" />
              <b>{"Example"|alang}:</b> <span class="code">12</span>
              <br />
              <br />
              <select name="campaign_create_postvar_responder_type">
                <option value="" selected="selected">{"Choose"|alang}</option>
                <option value="subscribe">subscribe</option>
                <option value="unsubscribe">unsubscribe</option>
              </select>
            </td>
            <td></td>
          </tr>
          <tr id="campaign_create_postvar_settings_reminder" style="display: none;">
            <td></td>
            <td>
              <input type="text" name="campaign_create_postvar_reminder_field" value="" class="settings_api_param_ids" placeholder="{"Subscriber Field"|alang}" />
              <b>{"Example"|alang}:</b> <span class="code">cdate</span> or <span class="code">12</span>
              <br />
              <br />
              <input type="text" name="campaign_create_postvar_reminder_format" value="" class="settings_api_param_general1" placeholder="{"Subscriber Field Date Format"|alang}" />
              <b>{"Example"|alang}:</b> <span class="code">yyyy-mm-dd</span>
              <br />
              <br />
              <select name="campaign_create_postvar_reminder_type">
                <option value="" selected="selected">{"Choose"|alang}</option>
                <option value="month_day">{"Month and Day"|alang}</option>
                <option value="year_month_day">{"Year, Month, and Day"|alang}</option>
              </select>
              <br />
              <br />
              <input type="text" name="campaign_create_postvar_reminder_offset" value="" class="settings_api_param_ids" placeholder="{"Offset"|alang}" />
              <b>{"Example"|alang}:</b> <span class="code">5</span>
              <br />
              <br />
              <select name="campaign_create_postvar_reminder_offset_type">
                <option value="" selected="selected">{"Choose"|alang}</option>
                <option value="day">{"Day"|alang}</option>
                <option value="week">{"Week"|alang}</option>
                <option value="month">{"Month"|alang}</option>
                <option value="year">{"Year"|alang}</option>
              </select>
              <br />
              <br />
              <select name="campaign_create_postvar_reminder_offset_sign">
                <option value="" selected="selected">{"Choose"|alang}</option>
                <option value="+">+</option>
                <option value="-">-</option>
              </select>
            </td>
            <td></td>
          </tr>
          <tr id="campaign_create_postvar_settings_activerss" style="display: none;">
            <td></td>
            <td>
              <select name="campaign_create_postvar_activerss_interval">
                <option value="" selected="selected">{"Choose"|alang}</option>
                <option value="day1">day1</option>
                <option value="day2">day2</option>
                <option value="week1">week1</option>
                <option value="week2">week2</option>
                <option value="month1">month1</option>
                <option value="month2">month2</option>
                <option value="quarter1">quarter1</option>
                <option value="quarter2">quarter2</option>
                <option value="year1">year1</option>
                <option value="year2">year2</option>
              </select>
            </td>
            <td></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>{"Segment ID"|alang}:</td>
      <td><input type="text" name="campaign_create_postvar_segmentid" id="campaign_create_postvar_segmentid" value="0" class="settings_api_param_id" /></td>
    </tr>
    <tr>
      <td>{"Campaign Name"|alang}:</td>
      <td>
        <input type="text" name="campaign_create_postvar_name" id="campaign_create_postvar_name" value="{"TEST from API:"|alang} {$smarty.now|date_format:"%m/%d/%Y %H:%M"}" class="settings_api_param_general2" />
        <b>{"Example"|alang}:</b> <span class="code">{"Holiday Special Newsletter"|alang}</span>
      </td>
    </tr>
    <tr>
      <td>{"Send Date"|alang}:</td>
      <td>
        <input type="text" name="campaign_create_postvar_sdate" id="campaign_create_postvar_sdate" value="{$smarty.now|date_format:"%Y-%m-%d %H:%M:00"}" class="settings_api_param_general2" />
        <b>{"Example"|alang}:</b> <span class="code">2012-07-01 15:30:00</span>
      </td>
    </tr>
    <tr>
      <td>{"Status"|alang}:</td>
      <td>
        <select name="campaign_create_postvar_status">
          <option value="1" selected="selected">{"Scheduled"|alang}</option>
          <option value="0">{"Draft"|alang}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>{"Visibility"|alang}:</td>
      <td>
        <select name="campaign_create_postvar_public">
          <option value="1" selected="selected">{"Public"|alang}</option>
          <option value="0">{"Private"|alang}</option>
        </select>
      </td>
    </tr>
    <!--
    <tr>
      <td>{"Create Log File?"|alang}</td>
      <td>
        <input type="text" name="campaign_create_postvar_mailer_log_file" id="campaign_create_postvar_mailer_log_file" value="" class="settings_api_param_id" />
      </td>
    </tr>
    -->
    <tr>
      <td>{"Track Links?"|alang}</td>
      <td>
        <select name="campaign_create_postvar_tracklinks">
          <option value="all">all</option>
          <option value="mime">mime</option>
          <option value="html">html</option>
          <option value="text">text</option>
          <option value="none">none</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>{"Track Reads?"|alang}</td>
      <td>
        <input type="radio" name="campaign_create_postvar_trackreads" id="campaign_create_postvar_trackreads_yes" value="1" checked="checked" />
        <label for="campaign_create_postvar_trackreads_yes" style="margin-right: 30px;">{"Yes"|alang}</label>
        <input type="radio" name="campaign_create_postvar_trackreads" id="campaign_create_postvar_trackreads_no" value="0" />
        <label for="campaign_create_postvar_trackreads_no">{"No"|alang}</label>
      </td>
    </tr>
    <tr>
      <td>{"Track Using Google Analytics?"|alang}</td>
      <td>
        <input type="radio" name="campaign_create_postvar_trackreadsanalytics" id="campaign_create_postvar_trackreadsanalytics_yes" value="1" />
        <label for="campaign_create_postvar_trackreadsanalytics_yes" style="margin-right: 30px;">{"Yes"|alang}</label>
        <input type="radio" name="campaign_create_postvar_trackreadsanalytics" id="campaign_create_postvar_trackreadsanalytics_no" value="0" checked="checked" />
        <label for="campaign_create_postvar_trackreadsanalytics_no">{"No"|alang}</label>
      </td>
    </tr>
    <tr>
      <td>{"Google Analytics Campaign Name"|alang}:</td>
      <td>
        <input type="text" name="campaign_create_postvar_analytics_campaign_name" id="campaign_create_postvar_analytics_campaign_name" value="" class="settings_api_param_general2" />
        <b>{"Example"|alang}:</b> <span class="code">{"Holiday Special Newsletter"|alang}</span>
      </td>
    </tr>
    <tr>
      <td>{"Auto-Post to Twitter?"|alang}</td>
      <td>
        <input type="radio" name="campaign_create_postvar_tweet" id="campaign_create_postvar_tweet_yes" value="1" />
        <label for="campaign_create_postvar_tweet_yes" style="margin-right: 30px;">{"Yes"|alang}</label>
        <input type="radio" name="campaign_create_postvar_tweet" id="campaign_create_postvar_tweet_no" value="0" checked="checked" />
        <label for="campaign_create_postvar_tweet_no">{"No"|alang}</label>
      </td>
    </tr>
    <tr>
      <td>{"Auto-Post to Facebook?"|alang}</td>
      <td>
        <input type="radio" name="campaign_create_postvar_facebook" id="campaign_create_postvar_facebook_yes" value="1" />
        <label for="campaign_create_postvar_facebook_yes" style="margin-right: 30px;">{"Yes"|alang}</label>
        <input type="radio" name="campaign_create_postvar_facebook" id="campaign_create_postvar_facebook_no" value="0" checked="checked" />
        <label for="campaign_create_postvar_facebook_no">{"No"|alang}</label>
      </td>
    </tr>
    <tr>
      <td>{"Embed Images?"|alang}</td>
      <td>
        <input type="radio" name="campaign_create_postvar_embed_images" id="campaign_create_postvar_embed_images_yes" value="1" />
        <label for="campaign_create_postvar_embed_images_yes" style="margin-right: 30px;">{"Yes"|alang}</label>
        <input type="radio" name="campaign_create_postvar_embed_images" id="campaign_create_postvar_embed_images_no" value="0" checked="checked" />
        <label for="campaign_create_postvar_embed_images_no">{"No"|alang}</label>
      </td>
    </tr>
    <tr>
      <td>{"Append Unsubscribe Link for HTML?"|alang}</td>
      <td>
        <input type="radio" name="campaign_create_postvar_htmlunsub" id="campaign_create_postvar_htmlunsub_yes" value="1" checked="checked" />
        <label for="campaign_create_postvar_htmlunsub_yes" style="margin-right: 30px;">{"Yes"|alang}</label>
        <input type="radio" name="campaign_create_postvar_htmlunsub" id="campaign_create_postvar_htmlunsub_no" value="0" />
        <label for="campaign_create_postvar_htmlunsub_no">{"No"|alang}</label>
      </td>
    </tr>
    <tr>
      <td>{"Append Unsubscribe Link for Text?"|alang}</td>
      <td>
        <input type="radio" name="campaign_create_postvar_textunsub" id="campaign_create_postvar_textunsub_yes" value="1" checked="checked" />
        <label for="campaign_create_postvar_textunsub_yes" style="margin-right: 30px;">{"Yes"|alang}</label>
        <input type="radio" name="campaign_create_postvar_textunsub" id="campaign_create_postvar_textunsub_no" value="0" />
        <label for="campaign_create_postvar_textunsub_no">{"No"|alang}</label>
      </td>
    </tr>
    <tr>
      <td>{"List(s)"|alang}:</td>
      <td>
        {foreach from=$admin_lists key=l item=list name=counter}
          {* only show 2 lists - no need to go crazy here *}
          {if $smarty.foreach.counter.iteration < 3}
            <div style="border-bottom: 1px dotted #999; margin-bottom: 10px; padding-bottom: 3px; width: 400px;">
              <input type="checkbox" value="{$l}" name="campaign_create_postvar_p[{$l}]" id="campaign_create_postvar_p_{$l}" checked="checked" />
              <label for="campaign_create_postvar_p_{$l}">{$list.name} (ID: {$l})</label>
            </div>
          {/if}
        {/foreach}
      </td>
    </tr>
    <tr>
      <td>{"Email Message"|alang}:</td>
      <td>
        {foreach from=$messages item=message}
          <div style="border-bottom: 1px dotted #999; margin-bottom: 10px; padding-bottom: 3px; width: 400px;">
            <input type="checkbox" value="100" id="campaign_create_postvar_m_{$message.id}" />
            <label for="campaign_create_postvar_m_{$message.id}">{$message.subject} (ID: {$message.id})</label>
          </div>
          <input type="text" value="" name="campaign_create_postvar_m[{$message.id}]" id="campaign_create_postvar_r_{$message.id}" readonly="readonly" class="settings_api_param_id" />
          % {"of Subscribers"|alang}
          <br />
          <br />
          <br />
        {/foreach}
        <div style="border-bottom: 1px dotted #999; margin-bottom: 10px; padding-bottom: 3px; width: 400px;">
          <b>{"Any Message ID"|alang}</b>
        </div>
        <input type="text" value="" id="campaign_create_postvar_m_any" class="settings_api_param_id" placeholder="ID" />
        <input type="text" value="" id="campaign_create_postvar_m_any_pct" readonly="readonly" class="settings_api_param_id" />
        % {"of Subscribers"|alang}
      </td>
    </tr>
  </table>
</div>