<div id="api_parameters_campaign_report_totals" class="api_parameters_div" style="display: none;">
  <table cellspacing="0" cellpadding="0" border="0">
    <tr>
      <td>{"Campaign"|alang}:</td>
      <td>
        <select name="campaign_report_totals_param_campaignid" id="campaign_report_totals_param_campaignid">
          {foreach from=$campaigns item=c}
            <option value="{$c.id}">{$c.name}</option>
          {/foreach}
        </select>
        <input type="text" name="campaign_report_totals_param_campaignid" id="campaign_report_totals_param_campaignid2" class="settings_api_param_id" placeholder="{"Any ID"|alang}" />
      </td>
    </tr>
  </table>
</div>