<div id="api_parameters_campaign_send" class="api_parameters_div" style="display: none;">
  <table cellspacing="0" cellpadding="0" border="0">
    <tr>
      <td>{"Email Address"|alang}:</td>
      <td>
        <input type="text" name="campaign_send_param_email" id="campaign_send_param_email" value="{$admin.email}" class="settings_api_param_general2" />
      </td>
    </tr>
    <tr>
      <td>{"Campaign"|alang}:</td>
      <td>
        <select name="campaign_send_param_campaignid" id="campaign_send_param_campaignid">
          {foreach from=$campaigns item=c}
            <option value="{$c.id}">{$c.name}</option>
          {/foreach}
        </select>
        <input type="text" name="campaign_send_param_campaignid" id="campaign_send_param_campaignid2" class="settings_api_param_id" placeholder="{"Any ID"|alang}" />
      </td>
    </tr>
    <tr>
      <td>{"Email Message"|alang}:</td>
      <td>
        <!--
        <select name="campaign_send_param_messageid" id="campaign_send_param_messageid">
          {foreach from=$messages item=m}
            <option value="{$m.id}">{$m.subject}</option>
          {/foreach}
        </select>
        -->
        <input type="text" name="campaign_send_param_messageid" id="campaign_send_param_messageid" class="settings_api_param_id" value="0" />
        <i>{"Use value of 0 to use first campaign message found."|alang}</i>
      </td>
    </tr>
    <tr>
      <td>{"Type"|alang}:</td>
      <td>
        <select name="campaign_send_param_type">
          <option value="mime">{"Mime (HTML + Text)"|alang}</option>
          <option value="html">{"HTML"|alang}</option>
          <option value="text">{"Text"|alang}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>{"Action"|alang}:</td>
      <td>
        <select name="campaign_send_param_action">
          <option value="send">{"Send"|alang}</option>
          <option value="copy">{"Copy"|alang}</option>
          <option value="test">{"Test"|alang}</option>
          <option value="source">{"Source"|alang}</option>
          <option value="messagesize">{"Message Size"|alang}</option>
          <option value="spamcheck">{"Spam Check"|alang}</option>
          <option value="preview">{"Preview"|alang}</option>
        </select>
      </td>
    </tr>
  </table>
</div>