<div id="api_parameters_campaign_report_open_list" class="api_parameters_div" style="display: none;">
  <table cellspacing="0" cellpadding="0" border="0">
    <tr>
      <td>{"Campaign"|alang}:</td>
      <td>
        <select name="campaign_report_open_list_param_campaignid" id="campaign_report_open_list_param_campaignid">
          {foreach from=$campaigns item=c}
            <option value="{$c.id}">{$c.name}</option>
          {/foreach}
        </select>
        <input type="text" name="campaign_report_open_list_param_campaignid" id="campaign_report_open_list_param_campaignid2" class="settings_api_param_id" placeholder="{"Any ID"|alang}" />
      </td>
    </tr>
    <tr>
      <td>{"Sort"|alang}:</td>
      <td>
        <select name="campaign_report_open_list_param_sort">
          <option value="tstamp">{"Open Date/Time"|alang}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>{"Sort Direction"|alang}:</td>
      <td>
        <select name="campaign_report_open_list_param_sort_direction">
          <option value="ASC">{"Ascending (top to bottom)"|alang}</option>
          <option value="DESC">{"Descending (bottom to top)"|alang}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>{"Page"|alang}:</td>
      <td>
        <input type="text" name="campaign_report_open_list_param_page" id="campaign_report_open_list_param_page" value="1" class="settings_api_param_id" />
        <b>{"Example"|alang}:</b> <span class="code">2</span>
      </td>
    </tr>
  </table>
</div>