<div id="api_parameters_list_list" class="api_parameters_div" style="display: none;">
  <table cellspacing="0" cellpadding="0" border="0">
    <tr>
      <td>{"List ID(s)"|alang}:</td>
      <td>
        <input type="text" name="list_list_param_ids" id="list_list_param_ids" value="all" class="settings_api_param_ids" />
        <b>{"Example"|alang}:</b> <span class="code">2</span> or <span class="code">3,5</span> or <span class="code">all</span>
      </td>
    </tr>
    <tr>
      <td>{"Show All Data?"|alang}</td>
      <td>
        <input type="checkbox" value="1" name="list_list_param_full" checked="checked" />
        ({"UNcheck to return only a small subset of data."|alang})
      </td>
    </tr>
    <tr>
      <td>{"Include Global Fields?"|alang}</td>
      <td>
        <input type="checkbox" value="true" name="list_list_param_global_fields" />
        ({"Check this to include global custom fields in the result."|alang})
      </td>
    </tr>
    <tr>
      <td>{"Filters (Optional)"|alang}:</td>
      <td>
        <table cellspacing="0" cellpadding="0" border="0">
          <tr>
            <td>{"List Name"|alang}:</td>
            <td><input type="text" name="list_list_param_filters[name]" id="list_list_param_filters_name" value="" class="settings_api_param_general1" /></td>
            <td><b>{"Example"|alang}:</b> <span class="code">List 1</span></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>