<div id="api_parameters_message_template_export" class="api_parameters_div" style="display: none;">
  <table cellspacing="0" cellpadding="0" border="0">
    <tr>
      <td>{"Template ID"|alang}:</td>
      <td>
        <input type="text" name="message_template_export_param_ids[]" class="settings_api_param_id" />
        <b>{"Example"|alang}:</b> <span class="code">16</span>
      </td>
    </tr>
    <tr>
      <td>{"Template ID"|alang}:</td>
      <td>
        <input type="text" name="message_template_export_param_ids[]" class="settings_api_param_id" />
      </td>
    </tr>
    <tr>
      <td>{"File Type"|alang}:</td>
      <td>
        <select name="message_template_export_param_type">
          <option value="xml">{"XML (Includes dependent files/images)"|alang}</option>
          <option value="html">{"HTML"|alang}</option>
        </select>
      </td>
    </tr>
  </table>
</div>