<div id="api_parameters_message_edit" class="api_parameters_div" style="display: none;">
  <table cellspacing="0" cellpadding="0" border="0">
    <tr>
      <td>{"Message ID"|alang}:</td>
      <td>
        <input type="text" name="message_edit_postvar_id" id="message_edit_postvar_id" class="settings_api_param_id" />
        <b>{"Example"|alang}:</b> <span class="code">36</span>
      </td>
    </tr>
    <tr>
      <td>{"Format"|alang}:</td>
      <td>
        <select name="message_edit_postvar_format">
          <option value="mime">{"Mime (HTML + Text)"|alang}</option>
          <option value="html">{"HTML"|alang}</option>
          <option value="text">{"Text"|alang}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>{"Subject"|alang}:</td>
      <td>
        <input type="text" name="message_edit_postvar_subject" id="message_edit_postvar_subject" value="{"TEST from API:"|alang} {$smarty.now|date_format:"%m/%d/%Y %H:%M"}" class="settings_api_param_general2" />
        <b>{"Example"|alang}:</b> <span class="code">{"Holiday Special: 40% Off!"|alang}</span>
      </td>
    </tr>
    <tr>
      <td>{"'From' Email Address"|alang}:</td>
      <td>
        <input type="text" name="message_edit_postvar_fromemail" id="message_edit_postvar_fromemail" value="{$admin.email}" class="settings_api_param_general2" />
        <b>{"Example"|alang}:</b> <span class="code">test@test.com</span>
      </td>
    </tr>
    <tr>
      <td>{"'From' Name"|alang}:</td>
      <td>
        <input type="text" name="message_edit_postvar_fromname" id="message_edit_postvar_fromname" value="{$admin.fullname}" class="settings_api_param_general2" />
        <b>{"Example"|alang}:</b> <span class="code">John Smith</span>
      </td>
    </tr>
    <tr>
      <td>{"'Reply To' Email Address"|alang}:</td>
      <td>
        <input type="text" name="message_edit_postvar_reply2" id="message_edit_postvar_reply2" value="{$admin.email}" class="settings_api_param_general2" />
        <b>{"Example"|alang}:</b> <span class="code">test@test.com</span>
      </td>
    </tr>
    <tr>
      <td>{"Priority"|alang}:</td>
      <td>
        <select name="message_edit_postvar_priority">
          <option value="1">{"High"|alang}</option>
          <option value="3" selected="selected">{"Medium"|alang}</option>
          <option value="5">{"Low"|alang}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>{"Character Set"|alang}:</td>
      <td>
        <input type="text" name="message_edit_postvar_charset" id="message_edit_postvar_charset" value="UTF-8" class="settings_api_param_ids" readonly="readonly" />
      </td>
    </tr>
    <tr>
      <td>{"Encoding"|alang}:</td>
      <td>
        <input type="text" name="message_edit_postvar_encoding" id="message_edit_postvar_encoding" value="quoted-printable" class="settings_api_param_general1" readonly="readonly" />
      </td>
    </tr>
    <tr>
      <td>{"HTML Constructor"|alang}:</td>
      <td>
        <select name="message_edit_postvar_htmlconstructor" id="message_edit_postvar_htmlconstructor">
          <option value="editor" selected="selected">{"Editor"|alang}</option>
          <option value="external">{"External"|alang}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>{"HTML Settings"|alang}:</td>
      <td>
        <table cellspacing="0" cellpadding="0" border="0">
          <tr id="message_edit_postvar_htmlsettings_editor" style="display: none;">
	          <td>{"HTML Message"|alang}</td>
	          <td>
	            <textarea name="message_edit_postvar_html">&lt;h1&gt;{"My Test Message"|alang}&lt;/h1&gt;

&lt;p&gt;{"This is a test message created via the API."|alang}&lt;/p&gt;</textarea>
            </td>
            <td></td>
          </tr>
          <tr id="message_edit_postvar_htmlsettings_external" style="display: none;">
            <td></td>
            <td>
              <input type="text" name="message_edit_postvar_htmlfetch" id="message_edit_postvar_htmlfetch" value="" class="settings_api_param_general2" placeholder="URL" />
              <br />
              <br />
              <select name="message_edit_postvar_htmlfetchwhen">
                <option value="" selected="selected">{"Choose"|alang}</option>
                <option value="send">{"Fetch at Send"|alang}</option>
                <option value="pers">{"Fetch Personalized"|alang}</option>
              </select>
            </td>
            <td></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>{"Text Constructor"|alang}:</td>
      <td>
        <select name="message_edit_postvar_textconstructor" id="message_edit_postvar_textconstructor">
          <option value="editor" selected="selected">{"Editor"|alang}</option>
          <option value="external">{"External"|alang}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>{"Text Settings"|alang}:</td>
      <td>
        <table cellspacing="0" cellpadding="0" border="0">
          <tr id="message_edit_postvar_textsettings_editor" style="display: none;">
	          <td>{"Text Message"|alang}</td>
	          <td>
	            <textarea name="message_edit_postvar_text"># {"My Test Message"|alang}

{"This is a test message created via the API."|alang}</textarea>
            </td>
            <td></td>
          </tr>
          <tr id="message_edit_postvar_textsettings_external" style="display: none;">
            <td></td>
            <td>
              <input type="text" name="message_edit_postvar_textfetch" id="message_edit_postvar_textfetch" value="" class="settings_api_param_general2" placeholder="URL" />
              <br />
              <br />
              <select name="message_edit_postvar_textfetchwhen">
                <option value="" selected="selected">{"Choose"|alang}</option>
                <option value="send">{"Fetch at Send"|alang}</option>
                <option value="pers">{"Fetch Personalized"|alang}</option>
              </select>
            </td>
            <td></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>{"List(s)"|alang}:</td>
      <td>
        {foreach from=$admin_lists key=l item=list name=counter}
          {* only show 2 lists - no need to go crazy here *}
          {if $smarty.foreach.counter.iteration < 3}
            <div style="border-bottom: 1px dotted #999; margin-bottom: 10px; padding-bottom: 3px; width: 400px;">
              <input type="checkbox" value="{$l}" name="message_edit_postvar_p[{$l}]" id="message_edit_postvar_p_{$l}" checked="checked" />
              <label for="message_edit_postvar_p_{$l}">{$list.name} (ID: {$l})</label>
            </div>
          {/if}
        {/foreach}
      </td>
    </tr>
  </table>
</div>