<div id="api_parameters_message_template_add" class="api_parameters_div" style="display: none;">
  <table cellspacing="0" cellpadding="0" border="0">
    <tr>
      <td>{"Internal Name"|alang}:</td>
      <td>
        <input type="text" name="message_template_add_postvar_name" id="message_template_add_postvar_name" class="settings_api_param_general2" />
      </td>
    </tr>
    <tr>
      <td>{"Email Message Subject"|alang}:</td>
      <td>
        <input type="text" name="message_template_add_postvar_subject" id="message_template_add_postvar_subject" class="settings_api_param_general2" />
      </td>
    </tr>
    <tr>
      <td>{"HTML"|alang}:</td>
      <td>
        <textarea name="message_template_add_postvar_html" id="message_template_add_postvar_html">&lt;html&gt;
  &lt;head&gt;
    &lt;title&gt;{"Template added via API"|alang}&lt;/title&gt;
  &lt;/head&gt;
  
  &lt;body&gt;
  
    &lt;p&gt;{"This template was added via the API"|alang}&lt;/p&gt;
  
  &lt;/body&gt;

&lt;/html&gt;</textarea>
      </td>
    </tr>
    <tr>
      <td>{"Scope"|alang}:</td>
      <td>
        <select name="message_template_add_postvar_template_scope">
          <option value="all">{"All Lists"|alang}</option>
          <option value="specific">{"Specific Lists"|alang}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>{"List(s)"|alang}:</td>
      <td>
        {foreach from=$admin_lists key=l item=list name=counter}
          {* only show 2 lists - no need to go crazy here *}
          {if $smarty.foreach.counter.iteration < 3}
            <div style="border-bottom: 1px dotted #999; margin-bottom: 10px; padding-bottom: 3px; width: 400px;">
              <input type="checkbox" value="{$l}" name="message_template_add_postvar_p[{$l}]" id="message_template_add_postvar_p_{$l}" />
              <label for="message_template_add_postvar_p_{$l}">{$list.name} (ID: {$l})</label>
            </div>
          {/if}
        {/foreach}
      </td>
    </tr>
    <tr>
      <td>{"Tag"|alang}:</td>
      <td>
        <input type="text" name="message_template_add_postvar_tags[]" class="settings_api_param_general2" />
      </td>
    </tr>
    <tr>
      <td>{"Tag"|alang}:</td>
      <td>
        <input type="text" name="message_template_add_postvar_tags[]" class="settings_api_param_general2" />
      </td>
    </tr>
  </table>
</div>