<div id="api_parameters_message_template_import" class="api_parameters_div" style="display: none;">
  <table cellspacing="0" cellpadding="0" border="0">
    <tr>
      <td>{"Internal Name"|alang}:</td>
      <td>
        <input type="text" name="message_template_import_postvar_names[]" class="settings_api_param_general1" />
        <b>{"Example"|alang}:</b> <span class="code">Template 1</span>
      </td>
    </tr>
    <tr>
      <td>{"Internal Name (2)"|alang}:</td>
      <td>
        <input type="text" name="message_template_import_postvar_names[]" class="settings_api_param_general1" />
        <b>{"Example"|alang}:</b> <span class="code">Template 2</span>
      </td>
    </tr>
    <tr>
      <td>{"Scope"|alang}:</td>
      <td>
        <select name="message_template_import_postvar_template_scope2">
          <option value="all">{"All Lists"|alang}</option>
          <option value="specific">{"Specific Lists"|alang}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>{"List(s)"|alang}:</td>
      <td>
        {foreach from=$admin_lists key=l item=list name=counter}
          {* only show 2 lists - no need to go crazy here *}
          {if $smarty.foreach.counter.iteration < 3}
            <div style="border-bottom: 1px dotted #999; margin-bottom: 10px; padding-bottom: 3px; width: 400px;">
              <input type="checkbox" value="{$l}" name="message_template_import_postvar_p[{$l}]" id="message_template_import_postvar_p_{$l}" />
              <label for="message_template_import_postvar_p_{$l}">{$list.name} (ID: {$l})</label>
            </div>
          {/if}
        {/foreach}
      </td>
    </tr>
    <tr>
      <td>{"URL to XML File"|alang}:</td>
      <td>
        <input type="text" name="message_template_import_postvar_urls[]" class="settings_api_param_general2" />
        <b>{"Example"|alang}:</b> <span class="code">http://mysite.com/template.xml</span>
      </td>
    </tr>
    <tr>
      <td>{"URL to XML File (2)"|alang}:</td>
      <td>
        <input type="text" name="message_template_import_postvar_urls[]" class="settings_api_param_general2" />
        <b>{"Example"|alang}:</b> <span class="code">http://mysite.com/template2.xml</span>
      </td>
    </tr>
  </table>
</div>