<div id="api_parameters_subscriber_view_email" class="api_parameters_div" style="display: none;">
  <table cellspacing="0" cellpadding="0" border="0">
    <tr>
      <td>{"Email Address"|alang}:</td>
      <td>
        <input type="text" name="subscriber_view_email_param_email" id="subscriber_view_email_param_email" value="" class="settings_api_param_email" />
      </td>
    </tr>
  </table>
</div>