<div id="api_parameters_user_edit" class="api_parameters_div" style="display: none;">
  <table cellspacing="0" cellpadding="0" border="0">
    <tr>
      <td>{"User ID"|alang}:</td>
      <td>
        <input type="text" name="user_edit_postvar_id" id="user_edit_postvar_id" value="{$admin.id}" readonly="readonly" class="settings_api_param_id" />
        <b>{"Example"|alang}:</b> <span class="code">2</span>
      </td>
    </tr>
    <tr>
      <td>{"Username"|alang}:</td>
      <td>
        {$admin.username}
        <input type="hidden" name="user_edit_postvar_username" value="{$admin.username}" />
      </td>
    </tr>
    <tr>
      <td>{"Password"|alang}:</td>
      <td>
        <input type="password" name="user_edit_postvar_password" id="user_edit_postvar_password" value="" class="settings_api_param_general1" />
      </td>
    </tr>
    <tr>
      <td>{"Re-type Password"|alang}:</td>
      <td>
        <input type="password" name="user_edit_postvar_password_r" id="user_edit_postvar_password_r" value="" class="settings_api_param_general1" />
      </td>
    </tr>
    <tr>
      <td>{"Email Address"|alang}:</td>
      <td>
        <input type="text" name="user_edit_postvar_email" id="user_edit_postvar_email" value="{$admin.email}" class="settings_api_param_email" />
      </td>
    </tr>
    <tr>
      <td>{"First Name"|alang}:</td>
      <td>
        <input type="text" name="user_edit_postvar_first_name" id="user_edit_postvar_first_name" value="{$admin.first_name}" class="settings_api_param_general1" />
      </td>
    </tr>
    <tr>
      <td>{"Last Name"|alang}:</td>
      <td>
        <input type="text" name="user_edit_postvar_last_name" id="user_edit_postvar_last_name" value="{$admin.last_name}" class="settings_api_param_general1" />
      </td>
    </tr>
    <tr>
      <td>{"Group(s)"|alang}:</td>
      <td>
        {foreach from=$admin.groups item=g}
          <input type="checkbox" value="{$g}" name="user_edit_postvar_group[]" checked="checked" disabled="true" />
          {$g}
        {/foreach}
      </td>
    </tr>
  </table>
</div>