<div id="api_parameters_user_view" class="api_parameters_div" style="display: none;">
  <table cellspacing="0" cellpadding="0" border="0">
    <tr>
      <td>{"User ID"|alang}:</td>
      <td>
        <input type="text" name="user_view_param_id" id="user_view_param_id" value="{$admin.id}" readonly="readonly" class="settings_api_param_id" />
        <b>{"Example"|alang}:</b> <span class="code">3</span>
      </td>
    </tr>
  </table>
</div>