<script type="text/javascript">
	{include file="campaign_new.shared.js" step="result"}
	{include file="campaign_new_result.js"}
</script>

<form id="campaignform" method="POST" action="main.php" onsubmit="return false">
	{include file="campaign_new.header.htm" step="result" highlight=4}
	<input type="hidden" name="action" value="campaign_new_result">

  <div class="h2_wrap_static">
	<div class="h2_content">

{if !$admin.send_approved}

	  <div class="final_submitted" style="padding:10px; border:3px solid #E4F4C3; background:#F2FFD8; font-size:14px; margin-bottom:20px;">
		<h2 style="font-weight:bold; color:#006600;">
		{"Your email campaign has been saved and is currently awaiting approval to be sent!"|alang}
		</h2>


		{"Approval typically only takes a couple minutes to an hour. So your campaign should be sending shortly."|alang}

		<br /><br />



		{"We do manual approvals on certain campaigns (especially for new users) to ensure that email deliverability is as high as possible for all of our users."|alang} {"This allows us to ensure the top return for your email marketing efforts."|alang}
	<br /><br />
		{"Once we approve your campaign it will start sending immediately.  We apologize for any inconvenience and would like to once again remind you that this is to ensure the top email deliverability for all users."|alang}
	  </div>

{/if}

{if $finalstatus == 'sent'}

	  <div class="final_sent">
			{"Your campaign has been initiated. The sending process has started."|alang}
	  </div>

{elseif $finalstatus == 'scheduled'}

	  <div class="final_scheduled">
		{"Your campaign has been scheduled. The sending process will start at:"|alang}
		{if $campaign.sdate == ""}
		<strong>{$smarty.const.AC_CURRENTDATETIME|acpdate:$site.datetimeformat}</strong>
		{else}
		<strong>{$campaign.sdate|acpdate:$site.datetimeformat}</strong>
		{/if}
	  </div>

{elseif $finalstatus == 'finished'}

	  <div class="final_finished">{"Your campaign has been completed."|alang}</div>

{/if}

	</div>

  </div>

  <br clear="all" />

  <div>
	<input value="{'Return To Dashboard'|alang}" type="button" onclick="window.location.href='main.php';" style="font-size:14px;" />
	<input value="{'Create Another Campaign'|alang}" type="button" onclick="window.location.href='main.php?action=campaign_new';" style="font-size:14px;" />
	<input value="{'View Campaigns'|alang}" type="button" onclick="window.location.href='main.php?action=campaign';" style="font-weight:bold; font-size:14px;" />
{if !in_array($campaign.type, array('responder', 'reminder', 'special'))}
	<input value="{'View Report'|alang}" type="button" id="reportbutton" onclick="window.location.href='main.php?action=report_campaign&id={$campaignid}#general-01-0-0';" style="font-size:14px;" />
{/if}
  </div>

	<script type="text/javascript">
		{literal}
		$J(document).ready(function() {
				$J(".btn.save").hide();
				$J(".btn.next").hide();
				$J(".btn.prev").hide();

				var msgact = "campaign_new_message";

				switch (campaign_obj.type) {
			 		case "split":
						msgact = "campaign_new_splitmessage";
						break;

					case "text":
						msgact = "campaign_new_text";
						break;

					default:
						break;
				}

				$J(".step1").addClass("done");
				$J(".step2").addClass("done");
				$J(".step3").addClass("done");
				$J(".step4").addClass("done");
				$J(".step5").addClass("active");
		});
		{/literal}
	</script>
</form>