<script type="text/javascript" src="{$site.p_link}/admin/js/simplehistory.min.js"></script>
<script type="text/javascript">
  {include file="design.js"}
</script>

<h1>{"Design Settings"|alang}</h1>

{include file="design.list.htm"}
{include file="design.form.htm"}
{include file="design.search.htm"}

<script type="text/javascript">
  ac_ui_rsh_init(design_process, true);
</script>
