<div id="field_modal_addradio" class="ac_modal" align="center" style="display:none;">
	<div class="ac_modal_inner" align="left">
		<h1>{"Add a custom field"|alang}</h1>

		<div style="margin-top: 10px">
			{"Name your custom field"|alang}
		</div>

		<div style="margin-top: 10px">
			<input type="text" id="field_modal_radio_title">
		</div>

		<div id="radio_opts" style="margin-top: 10px">
		</div>

		<div style="margin-top:10px;">
			<a href="#" onclick="radio_newopt(radio_counter++, '{"new option"|alang|js}'); return false" style="font-size:10px;">{"add another option"|alang}</a>
		</div>

		<br clear="all">
<div style="display:none;">
		<div style="margin-top: 10px">
			{"Choose a personalization tag (put this in campaigns to personalize them)"|alang}
		</div>

		<div style="margin-top: 10px">
			% <input type="text" id="field_modal_radio_perstag"> %
		</div>
</div>
		<div style="margin-top: 10px">
			<input id="field_modal_radio_save_button" type="button" value='{"Save"|alang}' onclick="field_modal_save_radio()" class="ac_button_ok" />
			<input type="button" value='{"Cancel"|alang}' onclick="$('field_modal_addradio').hide()">
		</div>
	</div>
</div>

<script type="text/javascript">
	{literal}
	var radio_counter = 4;

	function radio_newopt(inc, defval) {
		var rval;

		rval = 
			sprintf("<div id='radio_opt%s'>", inc) +
			sprintf("<a href='#' class='choice_opt_delete' onclick='radio_delete(\"%s\"); return false'>x</a>", inc) + " " +
			sprintf("<a href='#' class='choice_opt_up' onclick='radio_moveup(\"%s\"); return false'>^</a>", inc) + " " +
			sprintf("<a href='#' class='choice_opt_down' onclick='radio_movedn(\"%s\"); return false'>v</a>", inc) + " " +
			sprintf("<input type='text' class='field_modal_radio_option' value='%s'>", defval) +
			"</div>";

		$J("#radio_opts").append(rval);
	}

	function radio_delete(inc) {
		if ($("radio_opt" + inc)) {
			$("radio_opts").removeChild($("radio_opt" + inc));
		}
	}

	function radio_moveup(inc) {
		var thisone = $("radio_opt" + inc);

		if (!thisone)
			return;

		var thatone = $("radio_opt" + inc).previousSibling;

		if (!thatone)
			return;

		$("radio_opts").insertBefore(thisone, thatone);
	}

	function radio_movedn(inc) {
		var thisone = $("radio_opt" + inc);

		if (!thisone)
			return;

		var thatone = $("radio_opt" + inc).nextSibling;

		if (!thatone)
			return;

		$("radio_opts").insertBefore(thatone, thisone);
	}

	radio_newopt(1, {/literal}'{"option"|alang|js} 1'{literal});
	radio_newopt(2, {/literal}'{"option"|alang|js} 2'{literal});
	radio_newopt(3, {/literal}'{"option"|alang|js} 3'{literal});
	{/literal}
</script>
