<div id="field_modal_addlistbox" class="ac_modal" align="center" style="display:none;">
	<div class="ac_modal_inner" align="left">
		<h1>{"Add a custom field"|alang}</h1>

		<div style="margin-top: 10px">
			{"Name your custom field"|alang}
		</div>

		<div style="margin-top: 10px">
			<input type="text" id="field_modal_listbox_title">
		</div>

		<div id="listbox_opts" style="margin-top: 5px">
		</div>

		<div style="margin-top:10px">
			<a href="#" onclick="listbox_newopt(listbox_counter++, '{"new option"|alang|js}'); return false" style="font-size:10px;">{"add another option"|alang}</a>
		</div>

		<br clear="all">
<div style="display:none;">
		<div style="margin-top: 10px">
			{"Choose a personalization tag (put this in campaigns to personalize them)"|alang}
		</div>

		<div style="margin-top: 10px">
			% <input type="text" id="field_modal_listbox_perstag"> %
		</div>
</div>
		<div style="margin-top: 10px">
			<input id="field_modal_listbox_save_button" type="button" value='{"Save"|alang}' onclick="field_modal_save_listbox()" class="ac_button_ok" />
			<input type="button" value='{"Cancel"|alang}' onclick="$('field_modal_addlistbox').hide()">
		</div>
	</div>
</div>

<script type="text/javascript">
	{literal}
	var listbox_counter = 4;

	function listbox_newopt(inc, defval) {
		var rval;

		rval = 
			sprintf("<div id='listbox_opt%s'>", inc) +
			sprintf("<a href='#' class='choice_opt_delete' onclick='listbox_delete(\"%s\"); return false'>x</a>", inc) + " " +
			sprintf("<a href='#' class='choice_opt_up' onclick='listbox_moveup(\"%s\"); return false'>^</a>", inc) + " " +
			sprintf("<a href='#' class='choice_opt_down' onclick='listbox_movedn(\"%s\"); return false'>v</a>", inc) + " " +
			sprintf("<input type='text' class='field_modal_listbox_option' value='%s'>", defval) +
			"</div>";

		$J("#listbox_opts").append(rval);
	}

	function listbox_delete(inc) {
		if ($("listbox_opt" + inc)) {
			$("listbox_opts").removeChild($("listbox_opt" + inc));
		}
	}

	function listbox_moveup(inc) {
		var thisone = $("listbox_opt" + inc);

		if (!thisone)
			return;

		var thatone = $("listbox_opt" + inc).previousSibling;

		if (!thatone)
			return;

		$("listbox_opts").insertBefore(thisone, thatone);
	}

	function listbox_movedn(inc) {
		var thisone = $("listbox_opt" + inc);

		if (!thisone)
			return;

		var thatone = $("listbox_opt" + inc).nextSibling;

		if (!thatone)
			return;

		$("listbox_opts").insertBefore(thatone, thisone);
	}

	listbox_newopt(1, {/literal}'{"option"|alang|js} 1'{literal});
	listbox_newopt(2, {/literal}'{"option"|alang|js} 2'{literal});
	listbox_newopt(3, {/literal}'{"option"|alang|js} 3'{literal});
	{/literal}
</script>
