<div id="list" class="ac_block" style="display:none;">
  <form action="main.php?action=filter" method="GET" onsubmit="filter_list_search(); return false">
    <table cellspacing="0" cellpadding="0" width="100%">
      <tr class="ac_table_header_options">
		<td>
		  <select name="listid" id="JSListManager" size="1" onchange="filter_list_search()">
			<option value="0">{"List Filter..."|alang}</option>
			{foreach from=$listsList item=p}
			<option value="{$p.id}">{$p.name|truncate:50}</option>
			{/foreach}
		  </select>
		</td>
        <td align="right">
          <div>
            <input type="text" name="qsearch" id="list_search" />
            <input type="button" value='{"Search"|alang}' onclick="filter_list_search()" />
            <input type="button" value='{"Clear"|alang}' id="list_clear" style="display:none" onclick="filter_list_clear()" />
          </div>
        </td>
      </tr>
    </table>
    <table width="100%" border="0" cellspacing="0" cellpadding="1">
      <thead id="list_head">
        <tr class="ac_table_header">
          <td align="center" width="20">
            <input id="acSelectAllCheckbox" type="checkbox" value="multi[]" onclick="ac_form_check_selection_all(this, $('selectXPageAllBox'))" />
          </td>
          <td width="50">{"Options"|alang}</td>
		  <td>{ac_headercol action="filter" id="01" label="Name"|alang}</td>
        </tr>
      </thead>
      <tbody id="list_table">
      </tbody>
    </table>
    <div id="list_noresults" class="ac_block" style="display:none;">
      <div align="center">{"Nothing found."|alang}</div>
    </div>
    <div style="float:right">
      {include file="pagination.js.tpl.htm" tabelize="filter_list_tabelize" paginate="filter_list_paginate"}
    </div>
    <div id="loadingBar" class="ac_hidden" style="background: url(../ac_global/media/loader.gif); background-repeat: no-repeat; padding: 5px; padding-left: 20px; padding-top: 2px; color: #999999; font-size: 10px; margin: 5px">
      {"Loading. Please wait..."|alang}
    </div>
    <span id="selectXPageAllBox" class="ac_hidden">
      <span class="ac_hidden">{"All filters are now selected."|alang}</span>
      <span class="ac_hidden">{"All filters on this page are now selected."|alang}</span>
      <a class="ac_inline" href="#" onclick="return ac_form_check_selection_xpage(this.parentNode);">{"Click here to select all %s items."|alang:'<span></span>'}</a>
    </span>
  </form>

  <br />
  {if $admin.pg_subscriber_filters}
  <input type="button" value="{"Add"|alang}" onclick="ac_ui_anchor_set('form-0')" />
  {/if}
  {if $admin.pg_subscriber_filters}
  <input type="button" id="list_delete_button" value="{"Delete Selected"|alang}" onclick="ac_ui_anchor_set('delete_multi')" />
  {/if}
</div>
