<script type="text/javascript" src="../ac_global/js/jquery.js"></script>
<script type="text/javascript" src="../ac_global/js/jqueryui.js"></script>
<script type="text/javascript">
	{literal}
	var $J = jQuery.noConflict();
	var $I = function(x) {
		return $J("#" + x).get(0);
	};
{/literal}
{include file="form_optin.js"}
</script>

<div class="formbuilder_options">
	<span class="saving" style="display: none;">{"Saving"|alang}</span>
	<a class="save" onclick="form_optin_save('optin'); return false" href="#"><span>{"Save"|alang}</span></a>
</div>

<h1>{"Opt-in confirmation email"|alang}</h1>

<form id="optinform" method="POST" action="main.php" onsubmit="">
	<input type="hidden" name="action" value="form_optin">
	<input type="hidden" name="id" value="{$form.id}">
	<input type="hidden" name="messageid" value="{$form.messageid}">
	<input type="hidden" name="managetext" id="form_optin_managetextid" value="{$form.managetext}">
	<input type="hidden" id="form_optin_next" name="next" value="list">

	<div class="form_content">
		<div class="campaign_help">
			{"Enter your form name.  This is only used for your own reference.  Your visitors will not see this."|alang}
		</div>
		<div class="campaign_input" style="margin-bottom:20px;">
			<input type="text" name="name" id="form_name" value="{$form.name|html}" class="form_input_name" onchange="form_save_name()">
		</div>

		<div class="form_content_side">
			<div class="form_content_tab">
				<div class="form_content_fields_header_gray" onclick="form_optin_save('edit')" style="cursor: pointer">
					{"Build your subscription form"|alang}
				</div>
				<br clear="all" />
			</div>
			<div id="form_content_themediv" class="form_content_tab">
				<div class="form_content_fields_header_gray" onclick="form_optin_save('theme')" style="cursor: pointer">
					{"Theme & style options"|alang}
				</div>
			</div>

			<div class="form_content_tab_selected">
				<div class="header">
					{"Opt-in confirmation email"|alang}
				</div>
			</div>


			<div class="form_content_tab">
				<div class="form_content_fields_header_gray" onclick="form_optin_save('settings')" style="cursor: pointer">
					{"Form settings"|alang}
				</div>
			</div>

			<div class="form_content_tab">
				<div class="form_content_fields_header_gray" onclick="form_optin_save('code')" style="cursor: pointer">
					{if $form.facebookurl}
                    <div style="float: right">
                        <a href="{$form.facebookurl}" target="_blank"><img border="0" src="images/facebook_grey.gif" height="16" width="16"></a>
                    </div>
                    {/if}

					{"Integrate with your site"|alang}
				</div>
			</div>
		</div>

		<div class="form_content_preview">
			<div class="form_content_preview_inner">
				<div class="sendconfverify">
					<input type="checkbox" name="sendoptin" id="sendoptin" value="1" {if $form.sendoptin}checked{/if} onchange="$J('#form_optin_next').val('optin'); $('optinform').submit();">
					<label for="sendoptin">{"Send confirmation email to verify subscribers want to receive your email"|alang}</label>
				</div>

				<div id="messagecontent" class="spaced" {if !$form.sendoptin}style="display:none"{/if}>
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td width="48%" valign="top">
								<h2>{"From Name"|alang}</h2>
								<div class="form_optin_help">
									{"It is suggested to use your company or personal name here."|alang}
								</div>
								<div class="form_optin_input">
									<input type="text" tabindex="1" name="fromname" id="form_optin_fromname" onkeyup="form_change()" value="{$message.fromname}" style="width: 99%">
								</div>
							</td>
							<td width="4%" valign="top">&nbsp;</td>
							<td width="48%" valign="top">
								<h2>{"From Email"|alang}</h2>
								<div class="form_optin_help">
									{"Enter an email that this campaign should be sent as. You can also set a"|alang} <a href="#" onclick="ac_dom_toggle_display('replyto', 'block'); return false">{"reply-to"|alang}</a>.
								</div>
								<div  class="form_optin_input">
									<input type="text" tabindex="2" name="fromemail" id="form_optin_fromemail" onkeyup="form_change()" value="{$message.fromemail}" style="width: 99%">
								</div>

								<div id="replyto" style="{if !$message.reply2 or $message.fromemail == $message.reply2}display:none;{/if}">
									<h2 style="margin-top:15px;">{"Reply-To Email"|alang}</h2>
									<div class="form_optin_input border_top_5">
										<input type="text" name="reply2" id="form_optin_reply2" onkeyup="form_change();" value="{$message.reply2}" style="width: 100%">
									</div>
								</div>
							</td>
						</tr>
					</table>

					<h2 style="margin-top:20px;">{"Subject & Message"|alang}</h2>
					<div class="form_optin_help">
						{"This is the subject your subscribers will see.  We suggest a brief yet informative sentence.  This is what will engage your subscriber to open your email."|alang}
					</div>

					<div class="form_optin_input">
						<input tabindex="3" type="text" name="subject" id="form_optin_subject" onkeyup="form_change()" value="{$message.subject|default:''}" style="width: 99%; font-size:18px; padding:5px;">
						<div>
							<div>
								<div id="editordiv">
									<div id="editorhtml">
										<div style="position:relative; margin:0px; padding-bottom:0px; width:100%; overflow:hidden;">

											<div style="position:absolute; right:0; top:17px; width:auto; z-index:10;">
												<div align="right" style="vertical-align: middle;">
													<a href="#" onclick="form_optin_personalization_open(); return false;" style="  padding:2px; background:url(images/editor_personalization.gif); background-position:left; background-repeat:no-repeat; padding-left:25px; font-weight:bold; color:#006600;">{'Personalize Message'|alang}</a>
												</div>
											</div>

											<div>
												<ul class="navlist">
													<li id="messageEditorLinkOn" class="{if $admin.htmleditor}currenttab{else}othertab{/if}">
													<a href="#" onclick="return form_optin_toggle_editor('message', true, ac_editor_init_word_object); return false" style="border-bottom:0px;"><span>{"Visual Editor"|alang}</span></a>
													</li>
													<li id="messageEditorLinkOff" class="{if !$admin.htmleditor}currenttab{else}othertab{/if}">
													<a href="#" onclick="return form_optin_toggle_editor('message', false, ac_editor_init_word_object); return false" style="border-bottom:0px;"><span>{"Code Editor"|alang}</span></a>
													</li>
												</ul>
											</div>

											<div id="messageEditorLinkDefault" style="display:none; padding:2px; padding-left:4px; font-size:10px; border-top:1px solid #ccc; background:#fff;">
												<a href="#" onclick="return form_optin_setdefaulteditor('message');" style="color:#666666;">{"Set as default editor mode"|alang}</a>
											</div>
										</div>
									</div>
									<textarea tabindex="4" name="html" id="messageEditor" style="width: {$admin.editorsize_w}; height: {$admin.editorsize_h}; padding:0px;  margin-right:0px;" onblur="messageChanged=true;"></textarea>
								</div>
								{if $admin.htmleditor}<script>form_optin_toggle_editor('message', true, ac_editor_init_word_object);</script>{/if}
							</div>
						</div>
					</div>



					<div class="form_optin_input" style=" padding-top:0px; font-size:11px; color:#666;">
						<div id="askmanagetext" style="{if $form.managetext}display:none{/if}">
							{"We will automatically create a nicely formatted text-only version of your message for you."|alang}

							<div style="float: right">
								<a href="#" onclick="form_optin_managetext(1); form_change(); return false" style="color:#999;">{"Let me manage the text only version"|alang}</a>
							</div>
						</div>

						<div id="willmanagetext" style="{if !$form.managetext}display: none{/if}">
							{"You have chosen to manage the text version of your message."|alang}

							<div style="float: right">
								<a href="#" onclick="form_optin_managetext(0); form_change(); return false" style="color:#999;">{"No, I'd rather let it be generated automatically"|alang}</a>
							</div>
						</div>
					</div>

					<div id="textversion" style="margin-top: 20px; {if !$form.managetext}display:none{/if}">
						<textarea name="text" style="width: {$admin.editorsize_w}; height: {$admin.editorsize_h}; padding:0px;  margin-right:0px;" onblur="messageChanged=true;">{$message.text}</textarea>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		{literal}
		if (message_obj.html != "") {
			ac_form_value_set($("messageEditor"), message_obj.html);
		}
{/literal}
</script>
</form>

{include file="form_optin.personalize.htm"}
