<h1>{"Facebook Subscription Form Integration"|alang}</h1>

<div class="howto">

	<div class="summary">
		<img src="images/fb_integration.png" />
		<p>{"There are over 800 million potential customers on Facebook. Embedding your subscription form on your Facebook fan page has never been easier."|alang}</p>
		<p>{"Easily embed your subscription form within seconds by following the instructions below."|alang}</p>
	</div>

	
	<h2>{"Integrate ActiveCampaign into Your Fan Page"|alang}</h2>
	
	<div class="steps">
		<div class="number">1</div>
		<div class="details">
		<h3>{"Select Your Subscription Form"|alang}</h3>
		<p>{"Under the integration tab, hover over the subscription form you wish to add to your Facebook page and click the link 'Integrate with your site'."|alang}</p>
		<img src="images/fb_form_int_1.png" />
		</div>
	</div>

	<div class="steps">
		<div class="number">2</div>
		<div class="details">
		<h3>{"Add Form to Your Fan Page"|alang}</h3>
		<p>{"Under the Add to Facebook tab, click the button that says 'Add to Page'."|alang}</p>
		<img src="images/fb_form_int_2.png" />
		</div>
	</div>

	<div class="steps">
		<div class="number">3</div>
		<div class="details">
		<h3>{"Choose Your Page"|alang}</h3>
		<p>{"A message will appear asking you to select the page where the form will be embedded. After selecting the page, click the 'Add Page Tab' button to complete this setup."|alang}</p>
		<img src="images/fb_form_int_3.png" />
		</div>
	</div>

</div>