<style>
{literal}
body, html {min-width:980px; color:#dfeeff;}
.clear {clear:both; content:""; display:block; zoom:1;}
#upgradeBrowser {position:relative; margin:0; padding:0; background:#002e64 url('images/upgradeBrowser_bg.png') repeat-x top left; width:100%; height:100%; text-align:center; overflow:hidden;}
#upgradeBrowser .container {position:relative; margin:0 auto; padding:0; width:940px; overflow:hidden; font-family:helvetica,arial,sans; text-align:center;}
#upgradeBrowser .container h2 {position:relative; margin:0; padding:0; font-size:20px; color:#fff; text-shadow:1px 1px 0px #001f43;}
#upgradeBrowser .container .header {margin-bottom:38px; height:293px; background:url('images/upgradeBrowser_title_main.png') no-repeat top center;}
#upgradeBrowser .container .header > div {position:relative; margin:0 auto; padding:0; width:100%; height:100%; overflow:hidden; display:block; clear:both;}
#upgradeBrowser .container .header .headmain {height:170px; text-indent:-99999px;}
#upgradeBrowser .container .header .headnotify {margin:34px auto; width:550px; height:120px; line-height:24px; vertical-align:center; font-size:18px; text-shadow:1px 1px 0px #001f43;}
#upgradeBrowser .container .browsers {margin:18px 0 80px 250px; display:block; width:100%; text-align:center;}
#upgradeBrowser .container .browsers > div {float:left; position:relative; margin:0 3px; list-style-type:none;}
#upgradeBrowser .container .browsers > div > a {float:left; display:block; margin:0 auto; width:100px; height:100px; text-indent:-99999px; background-position:center; background-repeat:no-repeat; outline:none!important;}
#upgradeBrowser .container .browsers > div a.ie {background-image:url('images/upgradeBrowser_ie.png');}
#upgradeBrowser .container .browsers > div a.ff {background-image:url('images/upgradeBrowser_ff.png');}
#upgradeBrowser .container .browsers > div a.cr {background-image:url('images/upgradeBrowser_cr.png');}
#upgradeBrowser .container .browsers > div a.saf {background-image:url('images/upgradeBrowser_saf.png');}
#upgradeBrowser .container .whyupgrade {padding:0 5px; display:inline; width:auto; background:#002e64; font-weight:100;}
#upgradeBrowser .container .divider {margin-top:-14px; height:3px; background:url('images/upgradeBrowser_title_main.png') no-repeat center -170px;}
#upgradeBrowser .container .features {position:relative; margin:50px 0 0 48px; padding:0; width:800px; overflow:hidden;}
#upgradeBrowser .container .features .content {position:relative; width:350px; margin:0 0 40px; text-align:left; overflow:hidden;}
#upgradeBrowser .container .features .left {float:left;}
#upgradeBrowser .container .features .right {margin-left:450px;}
#upgradeBrowser .container .features .content h3 {margin:0 0 4px; padding:0; font-size:15px; font-weight:700;}
#upgradeBrowser .container .features .content div.img {float:left; width:70px;}
#upgradeBrowser .container .features .content div.featurecontent {margin-left:80px;}
#upgradeBrowser .container .features .content div.featurecontent p {margin:0; padding:0; font-size:13px; color:#b4cdda; line-height:16px;}
#upgradeBrowser .container .footer {position:relative; margin:38px 0; padding:0; width:900px; overflow:hidden;}
#upgradeBrowser .container .footer p {margin:4px 0 0; padding:0;}
{/literal}
</style>

<div id="upgradeBrowser">
	<div class="container">

		<div class="header">
			<div class="headmain">Upgrade Your Browser</div>
			<div class="headnotify">{"Not supporting older browsers enables us to focus on providing the best email marketing software and most stable environment possible."|alang}</div>
		</div>

		<h2>{"Upgrade your old browser for free:"|alang}</h2>
		<div class="browsers">
			<div><a class="ie" href="http://windows.microsoft.com/en-us/internet-explorer/products/ie/home" target="_blank">Internet Explorer</a></div>
			<div><a class="ff" href="http://www.mozilla.org/firefox/" target="_blank">Firefox</a></div>
			<div><a class="cr" href="http://www.google.com/chrome/" target="_blank">Chrome</a></div>
			<div><a class="saf" href="http://www.apple.com/safari/download" target="_blank">Safari</a></div>
		</div>
		<div class="clear"></div>

		<h2 class="whyupgrade">{"Why You <em>Should</em> Upgrade Your Browser"|alang}</h2>
		<div class="divider"></div>

		<div class="features">
			<div class="content left">
				<div class="img"><img src="images/upgradeBrowser_screen_1.png" /></div>
				<div class="featurecontent"><h3>{"Utilize The Latest Technnology"|alang}</h3><p>{"The improve interface utilize the CSS3 technology for a cleaner, crispier and slender look with a lot more curves."|alang}</p></div>
			</div>
			<div class="content right">
				<div class="img"><img src="images/upgradeBrowser_screen_2.png" /></div>
				<div class="featurecontent"><h3>{"Improved Browser Interface"|alang}</h3><p>{"Modern browsers have more viewable space for your website and features a simplified design, consolidating menus &amp; buttons to save space."|alang}</p></div>
			</div>
			<div class="clear content left">
				<div class="img"><img src="images/upgradeBrowser_screen_3.png" /></div>
				<div class="featurecontent"><h3>{"Stunning Graphics &amp; Colors"|alang}</h3><p>{"For better browsing experience, browsers such as Chrome and Safari take advantages of hardware accelerated technology to deliver stunning &amp; smooth graphics."|alang}</p></div>
			</div>
			<div class="content right">
				<div class="img"><img src="images/upgradeBrowser_screen_4.png" /></div>
				<div class="featurecontent"><h3>{"Lightning&ndash;Fast Speed"|alang}</h3><p>{"Today's browsers utilizes accelerated JavaScript engine for quicker page rendering, browsing speed and better graphic performance."|alang}</div>
			</div>
		</div>
		<div class="clear"></div>
		{if $admin.brand_links}
		<div class="footer">
			<img src="images/upgradeBrowser_aclogo.png" />
			<p>{"&copy; 2003-%s ActiveCampaign, Inc."|i18n:$year} {"All rights reserved."|alang}</p>
		</div><!--/footer-->
		{/if}

	</div><!--/container-->
</div><!--/upgradeBrowser-->

<script type="text/javascript">
{literal}
$J(document).ready(function(){
	$J(".browsers > div").hover(function() {
	  $J(this).siblings().stop().fadeTo(325, 0.4);
	},function(){
		$J(this).siblings().stop().fadeTo(325, 1);
	});
});
{/literal}
</script>