<h1>{$pageTitle}</h1>
 {if $canAddList}
<div class="ac_listing_empty">
	<h2>{"Adding a Subscriber?"|alang} <a href="main.php?action=list&new">{"Create a list first"|alang}</a></h2>
	<p>{"To add your first subscriber,"|alang} {"please first create a list."|alang}</p>
</div>
{/if}
<div class="mscdftmsgscreenshot">
	<p>{"You currently do not have any lists. Subscribers are added to lists."|alang}</p>
	<img src="images/mscdftmsglist.png" onclick="location.href='main.php?action=list&new'" style="cursor:pointer;" />
</div>