<div id="form" class="ac_hidden">
  <form method="POST" onsubmit="personalization_form_save(personalization_form_id); return false">
    <input type="hidden" name="id" id="form_id" />
    <table border="0" cellspacing="0" cellpadding="5">
      <tr>
        <td>
          <label for="nameField">{"Personalization Name"|alang}</label>
        </td>
        <td>
          <input type="text" name="name" id="nameField" value="" size="45" />
          {"Brief Description for you to recognize. Does NOT affect your actual personalization tag."|help}
        </td>
      </tr>
      <tr>
        <td>
          <label for="tagField">{"Personalization Tag"|alang}</label>
        </td>
        <td>
          %<input type="text" name="tag" id="tagField" value="" size="45" />%
          {"Tag that will be used in mailings."|alang}
        </td>
      </tr>
      <tr valign="top">
        <td>{"Used in Lists:"|alang}</td>
        <td>
          <select name="p" id="parentsList" tabindex="1" size="10" multiple="multiple" style="width:415px; height:65px;" onchange="customFieldsObj.fetch(0);">
{foreach from=$listsList item=p}
            <option value="{$p.id}">{$p.name|truncate:50}</option>
{/foreach}
          </select>
          {"Notice: This personalization will be a member of each selected list! Hold CTRL to select multiple lists."|help}
          <div>
            {"Select:"|alang}
            <a href="#" onclick="return parents_list_select(true);">{"All"|alang}</a>
              &middot;
            <a href="#" onclick="return parents_list_select(false);">{"None"|alang}</a>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <label for="formatField">{"Format"|alang}</label>
        </td>
        <td>
          <select name="format" id="personalizationformatField" onchange="ac_editor_mime_prompt('personalization', this.value);">
            <option value="html">{"HTML"|alang}</option>
            <option value="text">{"Text"|alang}</option>
          </select>
        </td>
      </tr>
    </table>

    <div id="personalizationhtml" class="ac_hidden">
 
			<div style="position:relative; margin:0px; padding-bottom:0px; width:100%; overflow:hidden;">

					<div style="position:absolute; right:0; top:27px; width:auto; z-index:10;">

					<div align="right" style="vertical-align: middle;">
{* if $templatesCnt}
						<a href="#" onclick="form_editor_template_open('html', 'personalizationEditor');return false;" style="padding:2px; background:url(images/editor_template.gif); background-position:left; background-repeat:no-repeat; padding-left:25px; margin-right:10px;">{'Insert Template'|alang}</a>
						<a href="#" onclick="form_editor_activerss_open('html', 'personalizationEditor');return false;" style="padding:2px; background:url(images/editor_activerss.gif); background-position:left; background-repeat:no-repeat; padding-left:25px; margin-right:10px;">{'Insert RSS'|alang}</a>
{/if *}
						<a href="#" onclick="form_editor_conditional_open('html', 'personalizationEditor');return false;" style="padding:2px; background:url(images/editor_conditional.gif); background-position:left; background-repeat:no-repeat; padding-left:25px; margin-right:10px;">{'Insert Conditional Content'|alang}</a>
						<a href="#" onclick="form_editor_personalize_open('html', 'personalizationEditor'); return false;" style=" margin-right:8px; padding:2px; background:url(images/editor_personalization.gif); background-position:left; background-repeat:no-repeat; padding-left:25px; font-weight:bold; color:#006600;">{'Personalize Message'|alang}</a>
					</div>
				</div>

				<div>
				<ul class="navlist" style="padding-left:4px; border-bottom:0px;">
					<li id="personalizationEditorLinkOn" class="{if $admin.htmleditor}currenttab{else}othertab{/if}">
						<a href="#" onclick="return toggleEditor('personalization', true, ac_editor_init_word_object);" style="border-bottom:0px;"><span>{"Visual Editor"|alang}</span></a>
					</li>
					<li id="personalizationEditorLinkOff" class="{if !$admin.htmleditor}currenttab{else}othertab{/if}">
						<a href="#" onclick="return toggleEditor('personalization', false, ac_editor_init_word_object);" style="border-bottom:0px;"><span>{"Code Editor"|alang}</span></a>
					</li>
				</ul>
				</div>
				<div id="personalizationEditorLinkDefault" class="ac_hidden" style="margin:-5px 0 15px">
					<a href="#" onclick="return setDefaultEditor('personalization');" style="color:#666666;">{"Set as default editor mode"|alang}</a>
				</div>
			</div>
<textarea name="html" id="personalizationEditor" style="width: {$admin.editorsize_w}; height: {$admin.editorsize_h}; padding:0px; border:1px solid #CCCCCC; margin:0px;"></textarea>
{if $admin.htmleditor}<script>toggleEditor('personalization', true, ac_editor_init_word_object);</script>{/if}
    </div>

    <div id="personalizationtext" class="ac_hidden">
      <h3 style="background:#D3E2F1; padding:5px; padding-left:12px; font-size:14px;">{"Text Template"|alang}</h3>
      <div style="border-left:1px solid #CCCCCC; border-right:1px solid #CCCCCC; margin:0px; padding:2px; background:#F0F0EE;">
        <div align="right" style="vertical-align: middle; margin-top:5px; margin-bottom:3px;">
{* if $templatesCnt}
          <a href="#" onclick="form_editor_template_open('text', 'personalizationtextField');return false;" style="padding:2px; background:url(images/editor_template.gif); background-position:left; background-repeat:no-repeat; padding-left:25px; margin-right:10px;">{'Insert Template'|alang}</a>
          <a href="#" onclick="form_editor_activerss_open('text', 'personalizationtextField');return false;" style="padding:2px; background:url(images/editor_activerss.gif); background-position:left; background-repeat:no-repeat; padding-left:25px; margin-right:10px;">{'Insert RSS'|alang}</a>
{/if *}
          <a href="#" onclick="form_editor_conditional_open('text', 'personalizationtextField');return false;" style="padding:2px; background:url(images/editor_conditional.gif); background-position:left; background-repeat:no-repeat; padding-left:25px; margin-right:10px;">{'Insert Conditional Content'|alang}</a>
          <a href="#" onclick="form_editor_personalize_open('text', 'personalizationtextField'); return false;" style=" margin-right:8px; padding:2px; background:url(images/editor_personalization.gif); background-position:left; background-repeat:no-repeat; padding-left:25px; font-weight:bold; color:#006600;">{'Personalize Message'|alang}</a>
        </div>
      </div>
      <div style="margin:0px; padding:0px; border:1px solid #ccc;">
        <textarea name="text" cols="65" rows="10" id="personalizationtextField" style="width: {$admin.editorsize_w}; height: {$admin.editorsize_h}; border:none;"></textarea>
      </div>





      <!--<div>
        <div style="float: right;">
          <a href="#" onclick="form_editor_conditional_open('text', 'personalizationtextField');return false;"><img src="images/editor_conditional.gif" border="0" alt="{'Insert Conditional Content'|alang}" title="{'Insert Conditional Content'|alang}" /></a>
          <button type="button" onclick="form_editor_personalize_open('text', 'personalizationtextField');" title="{'Insert a Personalization Tag'|alang}">
            <img src="images/editor_personalization.gif" border="0" alt="{'Insert a Personalization Tag'|alang}" align="absmiddle" />
            {"Personalize"|alang}
          </button>
        </div>
        <div>{"TEXT Content"|alang}</div>
      </div>
      <div>
        <textarea name="text" cols="65" rows="10" id="personalizationtextField" style="width:100%"></textarea>
      </div>-->
    </div>

    <br />

      <input type="button" id="form_submit" class="ac_button_submit" value="{"Submit"|alang}" onclick="personalization_form_save(personalization_form_id)" />
      <input type="button" id="form_back" class="ac_button_back" value="{"Back"|alang}" onclick="window.history.go(-1)" />

    <input type="submit" style="display:none"/>
  </form>
</div>
