<div id="list" class="ac_hidden">
  <form action="main.php?action=recipient" method="GET" onsubmit="recipient_list_search(); return false">
    <table cellspacing="0" cellpadding="0" width="100%">
      <tr class="ac_table_header_options">
        <td align="right">
          <div>
            <input type="text" name="qsearch" id="list_search" />
            <input type="button" value='{"Search"|alang}' onclick="recipient_list_search()" />
            <input type="button" value='{"Clear"|alang}' id="list_clear" style="display:none" onclick="recipient_list_clear()" />
            &nbsp;<a href="#search" style="display:inline;font-size:10px">{"Advanced Search"|alang}</a>
          </div>
        </td>
      </tr>
    </table>
    <table width="100%" border="0" cellspacing="0" cellpadding="1">
      <thead id="list_head">
        <tr class="ac_table_header">
          <td width="50">{"Options"|alang}</td>
          <td>{ac_headercol action="recipient" id="01" label="E-mail Address"|alang}</td>
          <td>{ac_headercol action="recipient" id="02" label="Subscriber Name"|alang}</td>
          <td width="80">{ac_headercol action="recipient" id="03" label="Subscribe Date"|alang}</td>
          <td width="80">{ac_headercol action="recipient" id="04" label="Subscription IP"|alang}</td>
        </tr>
      </thead>
      <tbody id="list_table">
      </tbody>
    </table>
    <div id="list_noresults" class="ac_hidden">
      <div align="center">{"Nothing found."|alang}</div>
    </div>
    <div style="float:right">
      {include file="pagination.js.tpl.htm" tabelize="recipient_list_tabelize" paginate="recipient_list_paginate"}
    </div>
    <div id="loadingBar" class="ac_hidden" style="background: url(../ac_global/media/loader.gif); background-repeat: no-repeat; padding: 5px; padding-left: 20px; padding-top: 2px; color: #999999; font-size: 10px; margin: 5px">
      {"Loading. Please wait..."|alang}
    </div>
    <span id="selectXPageAllBox" class="ac_hidden">
      <span class="ac_hidden">{"All items are now selected."|alang}</span>
      <span class="ac_hidden">{"All items on this page are now selected."|alang}</span>
      <a class="ac_hidden" href="#" onclick="return ac_form_check_selection_xpage(this.parentNode);">{"Click here to select all %s items."|alang:'<span></span>'}</a>
    </span>
  </form>
</div>
