{if !isset($reportpage)}{assign var=reportpage value='read'}{/if}
{if $list}
<div style="color:#999999;float:right;margin-top: 6px;">
  <a href="main.php?action={if $reportpage == 'read'}report_trend_read{else}report_trend_client{/if}" style="color:#999999;">{if $reportpage == 'read'}{"Read Trends"|alang}{else}{"Email Client Trends"|alang}{/if}</a>
  &raquo;
  <a href="main.php?action={if $reportpage == 'read'}report_trend_read{else}report_trend_client{if $list}_list{/if}{/if}{if $list}&id={$lid}{/if}" style="color:#999999;">{"List '%s'"|alang:$list.name}</a>
</div>
{/if}
<div id="reportheader" style="margin-bottom:10px;">
	<ul class="navlist">
		<li class="{if $reportpage == 'read'}currenttab{else}othertab{/if}"><a href="main.php?action=report_trend_read{if $lid}&id={$lid}{/if}">{"Read Trends"|alang}</a></li>
		<li class="{if $reportpage == 'client'}currenttab{else}othertab{/if}"><a href="main.php?action=report_trend_client{if $lid}_list&id={$lid}{/if}">{"Email Client Trends"|alang}</a></li>
	</ul>
</div>
