<div id="linkinfo" class="ac_hidden">
  <div class="startup_box_container">
	<div class="startup_box_container_inner">
	  <table border="0" cellspacing="0" cellpadding="0">
		<tr>
		  <td style="font-size:19px;"><span id="linkinfo_total_t">0</span></td>
		  <td width="10">&nbsp;</td>
		  <td>{"Total Clicks"|alang}</td>
		  <td width="35">&nbsp;</td>
		  <td style="font-size:19px;"><span id="linkinfo_unique_t">0</span></td>
		  <td width="10">&nbsp;</td>
		  <td>{"Unique Clicks"|alang}</td>
		  <td width="35">&nbsp;</td>
		  <td style="font-size:19px;"><span id="linkinfo_didnt_t">0</span></td>
		  <td width="10">&nbsp;</td>
		  <td>{"Didn't Click"|alang} <span id="linkinfo_didnt_p" style="color:#999999;">(0.00%)</span></td>
		  <td width="35">&nbsp;</td>
		  <td style="font-size:19px;"><span id="linkinfo_avg">0.00</span></td>
		  <td width="10">&nbsp;</td>
		  <td>{"Avg. Clicks"|alang}</td>
		</tr>
	  </table>
	</div>
  </div>
  <br />

  <div id="linkinfo_paginator">
	<form action="main.php?action=report_campaign" method="GET" onsubmit="linkinfo_list_search(); return false">
	  {if isset($smarty.get.print) and $smarty.get.print == 1} <div style="display:none"> {/if}
		<table cellspacing="0" cellpadding="0" width="100%">
		  <tr class="ac_table_header_options">
			<td>
			  <span id="linkinfo_name"></span>
			  <a href="#" onclick="report_campaign_list_mode = 'link'; report_campaign_list_offset = link_offset_was; ac_ui_anchor_set(report_campaign_list_anchor()); return false">&laquo; {"Back"|alang}</a>
			</td>
			<td align="right">
			  <div>
				<input type="text" name="qsearch" id="linkinfo_search" />
				<input type="button" value='{"Search"|alang}' onclick="linkinfo_list_search()" />
				<input type="button" value='{"Clear"|alang}' id="linkinfo_clear" style="display:none" onclick="linkinfo_list_clear()" />
			  </div>
			</td>
		  </tr>
		</table>
		{if isset($smarty.get.print) and $smarty.get.print == 1} </div> {/if}
	  <table width="100%" border="0" cellspacing="0" cellpadding="1">
		<thead id="linkinfo_head">
		  <tr class="ac_table_header">
			<td>{ac_headercol action="linkinfo" idprefix="linkinfo_list_sorter" id="01" label="Email"|alang}</td>
			<td>{ac_headercol action="linkinfo" idprefix="linkinfo_list_sorter" id="02" label="Date"|alang}</td>
			<td>{ac_headercol action="linkinfo" idprefix="linkinfo_list_sorter" id="03" label="# Times"|alang}</td>
		  </tr>
		</thead>
		<tbody id="linkinfo_table">
		</tbody>
	  </table>
	  <div id="linkinfo_noresults" class="ac_hidden">
		<div align="center">{"Nothing found."|alang}</div>
	  </div>
	  <div style="float:right">
		{include file="pagination.js.tpl.htm" paginator=$paginator_linkinfo tabelize="linkinfo_tabelize" paginate="linkinfo_paginate"}
	  </div>
	  <div id="linkinfo_loadingBar" class="ac_hidden" style="background: url(../ac_global/media/loader.gif); background-repeat: no-repeat; padding: 5px; padding-left: 20px; padding-top: 2px; color: #999999; font-size: 10px; margin: 5px">
		{"Loading. Please wait..."|alang}
	  </div>
	</form>
  </div>
</div>
