{* load javascript calendar *}
{ac_calendar base=".."}
<script type="text/javascript" src="{$site.p_link}/admin/js/simplehistory.min.js"></script>
<script type="text/javascript">
  {include file="report_trend_client_list.js"}
{include file="report_trend_client_list.inc.js"}
</script>

{if !isset($smarty.get.print) or $smarty.get.print == 0}
<div style="float:right;">
  <div style="float:right; border:1px solid #CCCCCC; padding:5px; margin-top:-11px; font-weight:bold; text-decoration:underline;">
	<a href="#" id="datetimelabel" onclick="ac_dom_toggle_class('datetimefilter', 'ac_block', 'ac_hidden');return false;">
	  {if $datefilter == 'today'}
	  {"Today"|alang}
	  {elseif $datefilter == 'week'}
	  {"This Week"|alang}
	  {elseif $datefilter == 'month'}
	  {"This Month"|alang}
	  {elseif $datefilter == 'year'}
	  {"This Year"|alang}
	  {elseif $datefilter == 'range'}
	  {$datefrom}-{$dateto}
	  {*"Date Range"|alang*}
	  {else}
	  {*if $datefilter == 'all'*}
	  {"All Time"|alang}
	  {/if}
	</a>
	<div id="datetimefilter" class="ac_hidden" style="position:absolute; background:#FFFFFF; border:1px solid #999999; padding:10px; margin-top:5px; margin-left:-6px;">
	  <select id="datetimeselect" name="datetimefilter" size="1" onchange="$('datetimerange').className=(this.value=='range'?'ac_block':'ac_hidden');">
		<option value="all"{if $datefilter == 'all'} selected="selected"{/if}>{"All Time"|alang}</option>
		<option value="today"{if $datefilter == 'today'} selected="selected"{/if}>{"Today"|alang}</option>
		<option value="week"{if $datefilter == 'week'} selected="selected"{/if}>{"This Week"|alang}</option>
		<option value="month"{if $datefilter == 'month'} selected="selected"{/if}>{"This Month"|alang}</option>
		<option value="year"{if $datefilter == 'year'} selected="selected"{/if}>{"This Year"|alang}</option>
		<option value="range"{if $datefilter == 'range'} selected="selected"{/if}>{"Date Range"|alang}</option>
	  </select>
	  <div id="datetimerange" class="ac_hidden" style="margin-top:10px;">
		{"From:"|alang}<br />
		<input type="text" name="from" id="fromfilterField" value="{$datefrom|acpdate:$site.dateformat}" size="10" />
		<input id="fromfilterCalendar" type="button" value="{" + "|alang}" />
		<br />
		{"To:"|alang}<br />
		<input type="text" name="to" id="tofilterField" value="{$dateto|acpdate:$site.dateformat}" size="10" />
		<input id="tofilterCalendar" type="button" value="{" + "|alang}" />
	  </div>
	  <div style="margin-top:10px;">
		<input name="Go" value="{'Go'|alang}" type="button" onclick="report_trend_client_list_filter_datetime();" />
	  </div>
	</div>
  </div>

  <div style="float:right; border:1px solid #ffffff; padding:5px; margin-top:-11px; margin-right:20px; font-weight:bold; text-decoration:underline;">
	<a href="#" onclick="report_trend_client_list_export(); return false">{"Export"|alang}</a>
  </div>
  <div id="printbutton" style="float:right; padding:5px; margin-top:-11px; font-weight:bold; text-decoration:underline; margin-right:10px;">
	<a href="#" onclick="report_trend_client_list_print(); return false">{"Print"|alang}</a>
  </div>
</div>
<script>
  {literal}
  Calendar.setup({inputField: "fromfilterField", ifFormat: '%Y/%m/%d', button: "fromfilterCalendar", showsTime: false, timeFormat: "24"});
  Calendar.setup({inputField: "tofilterField", ifFormat: '%Y/%m/%d', button: "tofilterCalendar", showsTime: false, timeFormat: "24"});
  {/literal}
</script>
{/if}

{if !isset($smarty.get.print) or $smarty.get.print == 0}
<h1>{"Trend Reports"|alang}</h1>
{include file="report_trend.header.inc.htm" reportpage='client'}
{/if}

<div id="general" class="ac_hidden">

  <div id="mainpanel">
	<div class="startup_box_container">
	  <div class="startup_box_title">
		<span id="general_clientlabel" class="startup_selected"><a href="#" onclick="report_trend_client_list_showdiv_general('chart_read_client', 'general_clientlabel');return false;">{"Email Clients"|alang}</a></span>
	  </div>

	  <div class="startup_box_container_inner">
		<script type="text/javascript" src="../ac_global/amline/swfobject.js"></script>
		{ac_amchart type="pie" divid="chart_read_client" location="admin" url="graph.php?g=client_pie&listid=`$lid`&mode=report_trend_client_list&filterid=`$filterid`" width="100%" height="175" bgcolor="#FFFFFF"}
	  </div>

	</div>

  </div>

  <br />

  <input type="hidden" name="lid" value="{$lid}" id="list_id" />

  <form action="main.php?action=report_trend_client_list&id={$lid}" method="GET" onsubmit="report_trend_client_list_list_search(); return false">
	<table cellspacing="0" cellpadding="0" width="100%">
	  <tr class="ac_table_header_options">
		<td>
		  <input type="button" value='{"&laquo; Back"|alang}' onclick="window.location.href='main.php?action=report_trend_client';" />
		</td>
		<td align="right">
		  <div>
			<input type="text" name="qsearch" id="list_search" />
			<input type="button" value='{"Search"|alang}' onclick="report_trend_client_list_list_search()" />
			<input type="button" value='{"Clear"|alang}' id="list_clear" style="display:none" onclick="report_trend_client_list_list_clear()" />
		  </div>
		</td>
	  </tr>
	</table>
	<table width="100%" border="0" cellspacing="0" cellpadding="1">
	  <thead id="list_head">
		<tr class="ac_table_header">
		  <td>{ac_headercol action="report_trend_client_list" id="01" label="Email Client"|alang}</td>
		  <td width="100" align="center">{ac_headercol action="report_trend_client_list" id="02" label="Hits"|alang}</td>
		  <td width="100" align="center">{ac_headercol action="report_trend_client_list" id="03" label="Percentage"|alang}</td>
		</tr>
	  </thead>
	  <tbody id="list_table">
	  </tbody>
	</table>
	<div id="list_noresults" class="ac_hidden">
	  <div align="center">{"Nothing found."|alang}</div>
	</div>
	<div style="float:right">
	  {include file="pagination.js.tpl.htm" tabelize="report_trend_client_list_list_tabelize" paginate="report_trend_client_list_list_paginate"}
	</div>
	<div id="loadingBar" class="ac_hidden" style="background: url(../ac_global/media/loader.gif); background-repeat: no-repeat; padding: 5px; padding-left: 20px; padding-top: 2px; color: #999999; font-size: 10px; margin: 5px">
	  {"Loading. Please wait..."|alang}
	</div>
  </form>

</div>

<script type="text/javascript">
  ac_ui_rsh_init(report_trend_client_list_process, true);
</script>
