<div id="form" class="ac_hidden">
  <form method="POST" onsubmit="service_form_save(service_form_id); return false">
    <input type="hidden" name="id" id="form_id" />
    <table border="0" cellspacing="0" cellpadding="5" width="100%">
			<tr>
				<td>
					{if ac_admin_ismaingroup()}
					{include file="service.form.twitter.htm"}
					{include file="service.form.facebook.htm"}
					{/if}
					{include file="service.form.shopify.htm"}
					{include file="service.form.surveymonkey.htm"}
					{include file="service.form.wufoo.htm"}
					{include file="service.form.webhook.htm"}
					<div id="service_webhook_nolists" style="color: red; font-weight: bold;">
						{"You currently have no lists assigned to your user group. Please create a list first, then re-visit these settings."|alang}
					</div>
				</td>
			</tr>
    </table>

		<div style="display: none">
			{* ALL CUSTOM FIELDS AND LISTS - USED FOR DOM REFERENCE *}
			{foreach from=$fields_all item=field}
				<input type="hidden" id="fields_all_{$field.id}" value="{$field.title}" />
			{/foreach}
			{foreach from=$listsList item=list}
				<input type="hidden" id="lists_all_{$list.id}" value="{$list.name}" />
			{/foreach}
		</div>

  </form>
</div>