<div id="service_webhook">
	<h2>{"Choose the list(s) to add subscribers to"|alang}</h2>
	<div id="parentsList_div" class="campaign_input">
		{foreach from=$listsList item=p name=counter}
			<div>
				<label>
					<input type="checkbox" id="p_{$p.id}" class="parentsList" name="p[]" value="{$p.id}" onclick="service_form_reset_lists({$p.id}); service_form_gen_url({$p.id}); customFieldsObj.fetch(0);" {if count($listsList) == 1 || $smarty.foreach.counter.iteration == 1}checked="checked"{/if} />
					{$p.name|truncate:50}
				</label>
			</div>
		{/foreach}
	</div>
	<div id="service_webhook_customfields">
		<div class="service_form_customfields_text1">
			<h2 style="margin-top:20px;">{"Map additional fields"|alang}</h2>
			<div class="campaign_help">
				<b>{"Name"|alang}</b> {"and"|alang} <b>{"email"|alang}</b> {"will automatically be saved. You can (optionally) map other fields below."|alang}
      	{"If there are no fields available below"|alang}, try choosing a list above, or <a href="main.php?action=field">{"add new custom fields"|alang}</a> {"and then refresh this page (only Text Field and Text Box field types will show up)"|alang}.
				<span id="custom_fields_additional_unbounce1">
					{"Note: the following fields always come across from Unbounce forms:"|alang}
					<b>page_id</b>, <b>page_name</b>, <b>page_url</b>, <b>variant</b>.
					{"You can map any of these fields below."}
				</span>
			</div>
		</div>
		<div class="campaign_input">
			<table border="0" cellspacing="0" cellpadding="2">
	       	<tr>
	       		<td width="110"><b>{"Additional field"|alang}</b> {"See instructions for the appropriate field name to include here."|help}</td>
	       		<td><b>{"Subscriber custom field"|alang}</b></td>
	       	</tr>
	        <tbody id="custom_fields_trs">
	        	{* GLOBAL FIELDS HERE ONLY *}
						{foreach from=$fields item=field}
							{* only allow textarea and textbox types for now *}
							{if $field.type == "text" || $field.type == "textarea"}
			          <tr>
			            <td>
			            	<input type="text" id="custom{$field.id}Field_textbox" name="fields_additional[]" />
				          </td>
			            <td>
			            	<input name="fields[]" id="custom{$field.id}Field" type="checkbox" value="{$field.id}" />
			            	<label for="custom{$field.id}Field">{$field.title}</label>
			            </td>
			          </tr>
		          {/if}
						{/foreach}
					</tbody>
				<tbody id="custom_fields_table"></tbody>
			</table>
		</div>
	</div>
	<div id="service_fields_connected">
		<h2 style="margin-top:20px;">{"Custom fields mapping"|alang}</h2>
		<div class="campaign_input">
			<ul style="list-style-type: none; margin: 0; padding: 0;"></ul>
		</div>
	</div>
	<div id="service_webhook_fields_savebutton" class="campaign_input">
		<input type="hidden" name="fields_form_submit_type" id="fields_form_submit_type" />
		<input type="button" id="fields_form_submit" class="ac_button_submit" value="{"Save mappings"|alang}" onclick="service_form_fields_save(this.value);" />
	</div>
	<div id="service_webhook_url">
		<h2 style="margin-top:20px;">{"WebHook URL"|alang}</h2>
		<div class="campaign_help">
			{"Use this URL as your WebHook value. New submissions will automatically be added to your chosen list."|alang}
		</div>
		<div class="campaign_input">
			<input type="text" id="service_form_url" onclick="this.select();" class="form_input_name" />
			<div id="service_webhook_handshake" style="display: none;">
				<br />
				<br />
				<b>{"Handshake Key"|alang}</b>
				<br />
				{"Use this key as the Handshake value to prevent malicious form submissions."|alang}
				<br />
				<br />
				<input type="text" id="service_webhook_handshake_key" value="{$handshake}" size="50" onclick="this.select();" />
			</div>
		</div>
	</div>
	
	<h1 style="margin-top:30px; padding-top:30px; border-top:3px solid #ccc; text-align:center;">{"Setup Instructions"|alang}:</h1>
	
	<div id="service_webhook_instructions_unbounce">
	
		<div class="howto">
		
			<div class="steps">
				<div class="number">1</div>
				<div class="details">
					{if $admin.brand_links}
						<h3>{"Click Send to ActiveCampaign"|alang}</h3>
					{else}
						<h3>{"Click WebHook: POST to URL"|alang}</h3>
					{/if}
					{if $admin.brand_links}
						<p>{"When you have finished designing your Unbounce form, click Send to ActiveCampaign under the Leads & Form Integrations section"|alang}:</p>
					{else}
						<p>{"When you have finished designing your Unbounce form, click WebHook: POST to URL under the Leads & Form Integrations section"|alang}:</p>
					{/if}
					{if $admin.brand_links}
						<p><img src="images/unbounce1.jpg" /></p>
					{else}
						<p><img src="images/unbounce1b.jpg" /></p>
					{/if}
				</div>
			</div>
			
			<div class="steps">
				<div class="number">2</div>
				<div class="details">
					<h3>{"Paste the WebHook URL"|alang}</h3>
					<p>{"Paste the WebHook URL into the textbox"|alang}:</p>
					{if $admin.brand_links}
						<p><img src="images/unbounce2.jpg" /></p>
					{else}
						<p><img src="images/unbounce2b.jpg" /></p>
					{/if}
					<p>{"You will receive a confirmation that the WebHook URL was saved"|alang}:</p>
					{if $admin.brand_links}
						<p><img src="images/unbounce3.jpg" /></p>
					{else}
						<p><img src="images/unbounce3b.jpg" /></p>
					{/if}
				</div>
			</div>
			
			<div class="steps">
				<div class="number">3</div>
				<div class="details">
					<h3>{"Map additional Unbounce fields"|alang}</h3>
					<p>{"To map additional Unbounce fields as custom subscriber fields, double-click your form while in design mode"|alang}:</p>
					<p><img src="images/unbounce4.jpg" /></p>
					<p>{"Click on the field you want to map, and make note of the unique field name"|alang}:</p>
					<p><img src="images/unbounce5.jpg" /></p>
					<p>{"Include this field name on this page next to the appropriate custom field"|alang}:</p>
					<p><img src="images/unbounce6.jpg" /></p>
				</div>
			</div>
		
		</div>
	
	</div>
	
</div>