<div id="service_shopify">
	<h2>{"Shopify store URL"|alang} </h2>
	<div class="campaign_help">
		{"Example: http://YOUR-SHOP.myshopify.com"|alang}
	</div>
	<div class="campaign_input">
		<input type="text" class="form_input_name" name="service_shopify_shop_url" id="service_shopify_shop_url" size="60" onkeyup="service_shopify_shop_url_check(this.value);" />
		<div id="service_shopify_auth_link" style="margin-top: 10px;">
			<a href="#" id="service_shopify_auth_url">{"Authorize access to your Shopify store"|alang}</a>
		</div>
	</div>
	<div id="service_shopify_password_no">
    <h2 style="margin-top:20px;">{"Shopify access password"|alang}</h2>
		<div class="campaign_help">
			{"This is provided after authorizing this software on Shopify."|alang}
		</div>
		<div class="campaign_input">
			<input type="text" name="service_shopify_api_password" id="service_shopify_api_password" class="form_input_name" size="60" />
		</div>
	</div>
	<div id="service_shopify_lists">

		<div id="service_shopify_lists_line1">
			<h2 style="padding-top:20px;">
				{"Choose the list(s) to add subscribers to"|alang}
			</h2>
			<div class="campaign_help">
				{"Your Shopify customers will be added to these lists if they choose to receive email marketing updates."|alang}
			</div>
		</div>
		<div id="parentsList_div_shopify" class="">
			<div class="campaign_input">
				{foreach from=$listsList item=p name=counter}
					<div>
						<label>
							<input type="checkbox" id="p_shopify_{$p.id}" class="parentsList" name="p_shopify[]" value="{$p.id}" onclick="service_form_reset_lists({$p.id}); service_form_gen_url({$p.id}); customFieldsObj.fetch(0);" />
							{$p.name|truncate:50}
						</label>
					</div>
				{/foreach}
			</div>
		</div>
	</div>
	<div id="service_shopify_lists_connected">
		<h2 style="padding-top:20px;">{"List(s) used"|alang}</h2>
		<span id="service_shopify_password_yes"></span>
		<div class="campaign_input">
			<ul style="list-style-type: none; margin: 0; padding: 0;"></ul>
		</div>
	</div>
	<div id="service_shopify_customfields">
	
		<div class="">
      <h2 style="margin-top:20px;">{"Map additional fields"|alang}</h2>
			<div class="campaign_help">
				<b>{"Name"|alang}</b> {"and"|alang} <b>{"email"|alang}</b> {"will automatically be saved. You can (optionally) map other Shopify fields to custom subscriber fields below."|alang}
				{"If there are no fields available below"|alang}, try choosing a list above, or <a href="main.php?action=field">{"add new custom fields"|alang}</a> {"and then refresh this page (only Text Field and Text Box field types will show up)"|alang}.
			</div>
			<div class="campaign_input">
				<table border="0" cellspacing="0" cellpadding="2">
					<tr>
						<th width="100"><b>{"Shopify field"|alang}</b></th>
						<th><b>{"Local Field"|alang}</b></th>
					</tr>
					<tbody id="custom_fields_global_shopify">
						{* GLOBAL FIELDS HERE ONLY *}
						{foreach from=$fields item=field}
							{* only allow textarea and textbox types for now *}
							{if $field.type == "text" || $field.type == "textarea"}
								<tr>
									<td>
										<select name="shopify_fields_additional[]">
											<option value="company">{"Company"|alang}</option>
											<option value="billing_address">{"Billing Address"|alang}</option>
											<option value="phone">{"Phone Number"|alang}</option>
											<option value="order_number">{"Order Number"|alang}</option>
											<option value="total_price">{"Total Price"|alang}</option>							            		
										</select>
									</td>
									<td>
										<input name="fields[]" id="custom{$field.id}Field_shopify" type="checkbox" value="{$field.id}" />
										<label for="custom{$field.id}Field_shopify">{$field.title}</label>
									</td>
								</tr>
							{/if}
						{/foreach}
					</tbody>
					<tbody id="custom_fields_list_shopify"></tbody>
				</table>
				
			</div>
		</div>

		<input type="hidden" name="shopify_form_webhook_id" id="shopify_form_webhook_id" />
	</div>
	
	<div id="service_shopify_customfields_connected">
		<h2 style="margin-top:20px;">{"Custom fields mapping"|alang}</h2>
		<div class="campaign_input">
			<ul style="list-style-type: none; margin: 0; padding: 0;"></ul>
		</div>
	</div>

	<div id="service_shopify_import_previous_div">
		<h2 style="padding-top:20px;">{"Import previous customers?"|alang}</h2>
		<div class="campaign_help">
			{"This option will import all previous customers who ordered from your Shopify store, and checked the option to receive email marketing updates. NOTE: This process may take a while for a large amount of customers. (You are free to close this page, as the import will run in the background.)"|alang}
		</div>
		<div class="campaign_input">
			<input type="checkbox" name="shopify_form_import_previous" id="shopify_form_import_previous" onclick="$J('#shopify_form_import_previous_date_div').css('display', '');" />
			<label for="shopify_form_import_previous">{"Import previous customers"|alang}</label>
			<div id="shopify_form_import_previous_date_div" style="display: none; margin: 15px 0 0 25px;">
				<input type="checkbox" name="shopify_form_import_previous_date" id="shopify_form_import_previous_date" />
				<label for="shopify_form_import_previous_date">{"Use Shopify checkout date (If left unchecked, it will import each subscriber with the current date.)"|alang}</label>
			</div>
		</div>
	</div>
	
	<br />
	
	<div id="shopify_form_submit_div" class="campaign_input">
		<input type="button" id="shopify_form_submit" class="ac_button_submit" value="{"Save"|alang}" onclick="service_form_shopify_save();" />
	</div>

	<h1 style="margin-top:30px; padding-top:30px; border-top:3px solid #ccc; text-align:center;">{"Shopify Setup Instructions"|alang}:</h1>

	<div class="howto" style="margin-top:20px;">

		<div class="steps">
			<div class="number">1</div>
			<div class="details">
				<h3>{"Include your Shopify URL"|alang}</h3>
				<p>{"First include your Shopify URL, and click 'Authorize access to your Shopify store'"|alang}:</p>
				<p><img src="images/shopify3.jpg" /></p>
			</div>
		</div>
		
		<div class="steps">
			<div class="number">2</div>
			<div class="details">
				<h3>{"Click Install"|alang}</h3>
				<p>{"Click Install to authorize the Shopify application"|alang}:</p>
				{if $admin.brand_links}
					<p><img src="images/shopify1.jpg" /></p>
				{else}
					<p><img src="images/shopify1b.jpg" /></p>
				{/if}
			</div>
		</div>

		<div class="steps">
			<div class="number">3</div>
			<div class="details">
				<h3>{"Choose Lists and Fields"|alang}</h3>
				<p>{"Choose what lists new subscribers will be added to, as well as any additional custom field mapping"|alang}:</p>
				<p><img src="images/shopify8.jpg" /></p>
			</div>
		</div>
		
		<div class="steps">
			<div class="number">4</div>
			<div class="details">
				<h3>{"Remove (Only if you wish to remove integration)"|alang}</h3>
				<p>{"To remove the Shopify application from your account, visit the Installed Applications section of Shopify and click Remove"|alang}:</p>
				{if $admin.brand_links}
					<p><img src="images/shopify5.jpg" /></p>
				{else}
					<p><img src="images/shopify5b.jpg" /></p>
				{/if}
			</div>
		</div>

	</div>
</div>