<div id="service_twitter">
	<h2>{"Consumer key"|alang}:</h2>
	<div class="campaign_input">
		<input type="text" class="form_input_name" name="service_twitter_key" id="service_twitter_key" />
	</div>
	<h2 style="margin-top:20px;">{"Consumer secret"|alang}:</h2>
	<div class="campaign_input">
		<input type="text" class="form_input_name" name="service_twitter_secret" id="service_twitter_secret" />
		{if $admin.brand_links}
			<p><a href="#" onclick="$('service_twitter_key').value = 'TXAIiyAVRUR1D0DIIzSQ'; $('service_twitter_secret').value = 'Bw1nBEvtrB7ckfCJeYTRatFpEWgXi24i55Yyt3LrAM'; return false;">{"Use default @activecampaign Twitter keys"}</a></p>
		{/if}
	</div>

	<div class="campaign_input">
		<input type="button" id="form_submit" class="ac_button_submit" value="{"Submit"|alang}" onclick="service_form_save(service_form_id)" />
	</div>
	
	<h2 style="margin-top:20px;">{"Twitter List Connections"|alang}:</h2>
	<div class="campaign_help">
		{"Campaigns sent to any connected lists will auto-post to the chosen Twitter account. You must connect your Lists to Twitter accounts on the"|alang}
		<a href="main.php?action=list">{"List Settings page"|alang}</a> ({"click Options, then Advanced Settings"|alang}), {"or click a list name below to go right to the settings page"|alang}.
	</div>
	<div class="campaign_input">
		{foreach from=$lists item=l}
			<b><a href="main.php?action=list&settingsid={$l.id}">{$l.name}</a>:</b>
			{if $l.p_use_twitter && $l.twitter_token && $l.twitter_token_secret}
				<span style="color: green;">{"Connected"|alang}</span> (@{$l.twitter_accounts_toupdate})
			{else}
				<span style="color: red;">{"Not Connected"|alang}</span>
			{/if}
			<br />
			<br />
		{/foreach}
	</div>

	<h1 style="margin-top:30px; padding-top:30px; border-top:3px solid #ccc; text-align:center;">{"Twitter Application Setup Instructions"|alang}:</h1>

	<div class="howto" style="margin-top:20px;">
	
		<div class="steps">
			<div class="number">1</div>
			<div class="details">
				<h3>{"Include Application Consumer Keys"|alang}</h3>
				<p>
					{if $admin.brand_links}
						{"By default, Twitter updates will have a source from @activecampaign."|alang}
					{/if}
					{"To include your own source"|alang},
					<a href="http://twitter.com/apps">{"register an application on Twitter"|alang}</a> {"and include the consumer keys here."|alang}
	  			{"You are required to provide a callback URL, but that URL is not used with our software. It is only a setting that Twitter needs to distinguish the application type."|alang}
					{"NOTE: You will have to update your list settings if these values are changed."|alang}
				</p>
				<br />
				<p>{"Example Twitter application details"|alang}:</p>
				<p><img src="images/twitter_application_settings.jpg" /></p>
			</div>
		</div>
	
	</div>

</div>