<div id="service_wufoo">
	<div id="service_wufoo_oldversion" style="background-color: #ccc; border: 2px solid red; font-weight: bold; margin: 0 0 20px 0; padding: 5px;">
		<p style="margin: 0;">{"NOTICE: Wufoo integration has been improved to automatically obtain your forms and fields when you provide your account and API key. If you have already created a WebHook on Wufoo, and mapped custom fields, those settings will remain functional until you supply your Wufoo account and API key below, which will then reset your mappings. You will also need to remove any existing WebHooks on Wufoo before connecting below."|alang}</p>
	</div>
	<div id="service_wufoo_unconfirmed">
		<h2>{"Wufoo account"|alang}</h2>
		<div class="campaign_help">
			{"Your Wufoo account name, which appears in the URL. Example:"|alang} <code>http://ACCOUNT.wufoo.com</code> {"(just include the ACCOUNT portion)"|alang}
		</div>
		<div class="campaign_input">
			<input type="text" name="service_wufoo_account" id="service_wufoo_account" class="form_input_name" size="40" tabindex="1" />
		</div>
		<h2 style="margin-top:20px;">{"Wufoo API key"|alang}</h2>
		<div class="campaign_help">
			{"To obtain your key, log in to your Wufoo account, head to the Form Manager or Forms tab, and click the Code button beneath the name of the form for the form you want to integrate. Click the API Information button to access your API credentials."|alang}
		</div>
		<div class="campaign_input">
			<input type="text" name="service_wufoo_apikey" id="service_wufoo_apikey" class="form_input_name" size="40" tabindex="2" />
		</div>
		<div class="campaign_input">
			<input type="button" name="service_wufoo_api_save" id="service_wufoo_api_save" value="{"Connect"|alang}" onclick="service_form_wufoo_save();" />
		</div>
	</div>
	<div id="service_wufoo_confirmed">
		<h2>{"Choose your Wufoo form"|alang}</h2>
		<div class="campaign_input">
			<select name="service_wufoo_form" id="service_wufoo_form" onchange="service_form_wufoo_form_toggle(this.value);">
				<option value="">{"Choose"|alang}...</option>
			</select>
			<select id="service_wufoo_form_fields" style="display: none;"></select>
			<div id="service_wufoo_form_chosen"></div>
		</div>
	</div>
	<div id="service_wufoo_lists">
		<div id="service_wufoo_lists_line1">
			<h2 style="margin-top:20px;">{"Choose the list(s) to add subscribers to"|alang}</h2>
		</div>
		<div id="parentsList_div_wufoo" class="campaign_input">
			{foreach from=$listsList item=p name=counter}
				<div>
					<label>
						<input type="checkbox" id="p_wufoo_{$p.id}" class="parentsList" name="p_wufoo[]" value="{$p.id}" onclick="service_form_reset_lists_wufoo({$p.id}); customFieldsObj_wufoo.fetch(0);" />
						{$p.name|truncate:50}
					</label>
				</div>
			{/foreach}
		</div>
	</div>
	<div id="service_wufoo_customfields">
		<h2 style="margin-top:20px;">{"Map additional fields"|alang}</h2>
		<div class="service_form_customfields_text1 campaign_help">
			<b>{"Name"|alang}</b> {"and"|alang} <b>{"email"|alang}</b> {"will automatically be saved. You can (optionally) map other Wufoo fields to custom subscriber fields below."|alang}
			{"If there are no fields available below"|alang}, try choosing a list above, or <a href="main.php?action=field">{"add new custom fields"|alang}</a> {"and then refresh this page (only Text Field and Text Box field types will show up)"|alang}.
		</div>
		<div class="campaign_input">
			<table border="0" cellspacing="0" cellpadding="2">
	     	<tr>
	     		<th width="100">{"Wufoo form field"|alang}</th>
	     		<th>{"Subscriber custom field"|alang}</th>
	     	</tr>
			  <tbody id="custom_fields_global_wufoo">
			    {* GLOBAL FIELDS HERE ONLY *}
					{foreach from=$fields item=field}
						{* only allow textarea and textbox types for now *}
						{if $field.type == "text" || $field.type == "textarea"}
							<tr>
								<td>
									<select name="wufoo_fields_additional[]" id="custom{$field.id}Field_wufoo_select" class="wufoo_fields_additional"></select>
								</td>
								<td>
									<input name="fields[]" id="custom{$field.id}Field_wufoo" type="checkbox" value="{$field.id}" />
									<label for="custom{$field.id}Field_wufoo">{$field.title}</label>
								</td>
							</tr>
			    	{/if}
					{/foreach}
				</tbody>
				<tbody id="custom_fields_list_wufoo"></tbody>
			</table>
			<br />
			<br />
			<input type="button" id="wufoo_form_submit" class="ac_button_submit" value="{"Save connection"|alang}" onclick="service_form_wufoo_save2();" />
		</div>
		<br />
		<br />
		<input type="hidden" name="wufoo_account" id="wufoo_account" />
		<input type="hidden" name="wufoo_api_key" id="wufoo_api_key" />
		<input type="hidden" name="wufoo_webhook" id="wufoo_webhook" />
	</div>

	<div id="service_wufoo_customfields_connected">
		<h2 style="margin-top:20px;">{"Custom fields mapping"|alang}</h2>
		<div class="campaign_input">
			<ul style="list-style-type: none; margin: 0; padding: 0;"></ul>
		</div>
		<div id="service_wufoo_disconnect" class="campaign_input">
			<input type="button" name="service_wufoo_api_reset" id="service_wufoo_api_reset" value="{"Disconnect from Wufoo"|alang}" onclick="service_form_wufoo_reset();" />
		</div>
	</div>

	<h1 style="margin-top:30px; padding-top:30px; border-top:3px solid #ccc; text-align:center;">{"Setup Instructions"|alang}:</h1>
	
	<div id="service_webhook_instructions_wufoo">
	
		<div class="howto">
		
			<div class="steps">
				<div class="number">1</div>
				<div class="details">
					<h3>{"Obtain your Wufoo API Key"|alang}</h3>
					<p>{"To find your API key, navigate to Forms, Code, then click the API Information button"|alang}:</p>
					<p><img src="images/wufoo_new1.jpg" /></p>
					<p><img src="images/wufoo_new2.jpg" /></p>
				</div>
			</div>
			
			<div class="steps">
				<div class="number">2</div>
				<div class="details">
					<h3>{"Paste API Key"|alang}</h3>
					<p>{"Copy the full API key and paste it into the software, and then hit Connect"|alang}:</p>
					<p><img src="images/wufoo_new3.jpg" /></p>
					<p><img src="images/wufoo_new4.jpg" /></p>
				</div>
			</div>
			
			<div class="steps">
				<div class="number">3</div>
				<div class="details">
					<h3>{"Configure your settings"|alang}</h3>
					<p>{"Next, choose your Wufoo form, lists, and any custom fields that you want saved. Hit Save connection when ready"|alang}:</p>
					<p><img src="images/wufoo_new5.jpg" /></p>
					<p>{"Your settings will then be saved"|alang}:</p>
					<p><img src="images/wufoo_new6.jpg" /></p>
				</div>
			</div>
			
			<div class="steps">
				<div class="number">4</div>
				<div class="details">
					<h3>{"Disconnect"|alang}</h3>
					<p>{"To disconnect, click the Disconnect from Wufoo button, which will remove the integration."|alang}</p>
				</div>
			</div>
		
		</div>
	
	</div>
	
</div>