<script type="text/javascript">
  {include file="settings.js"}
</script>

{if $formSubmitted}
<script>
{jsvar var=$submitResult.message name=r}
{if $submitResult.succeeded}
ac_result_show(r);
{else}
ac_error_show(r);
{/if}
</script>
{/if}
<h1>{"Settings"|alang}</h1>
<form action="main.php?action=settings" method="POST" id="accountSettings" onsubmit="settings_form_submit(); return false;">
	{if ac_admin_ismaingroup()}
	<ul id="navtabs">
		<li><a href="#account" id="account_tab_link">{"Your Account"|alang}</a></li>
		<li><a href="#mail" id="mail_tab_link">{"Mail Sending"|alang}</a></li>
		<li><a href="#advance" id="advance_tab_link">{"Advanced Settings"|alang}</a></li>
		<li><a href="#api" id="api_tab_link">{"API"|alang}</a></li>
	</ul>
{/if}
	
	<div id="account" class="settingset">
	{include file="settings.account.htm"}
	</div>
	
{if ac_admin_ismaingroup()}

	<div id="mail" class="settingset">
		{include file="settings.mailsending.htm"}
	</div>

	<div id="advance" class="settingset">
	{include file="settings.delivery.htm"}
	{include file="settings.general.htm"}
	{include file="settings.local.htm"}
	</div>

{/if}

	{include file="settings.api.htm"}
	
	<div class="acctSettingFooter">
	  <input type="hidden" name="action" value="settings" />
	  <input type="submit" value='{"Save Settings"|alang}' />
	</div>
</form>

<script type="text/javascript">
{literal}
	function SelectAll(id) {
		document.getElementById(id).focus();
		document.getElementById(id).select();
	}
	
	jQuery.fn.labelify = function(settings) {
	  settings = jQuery.extend({
		text: "title",
		labelledClass: ""
	  }, settings);
	  var lookups = {
		title: function(input) {
		  return $J(input).attr("title");
		},
		label: function(input) {
		  return $J("label[for=" + input.id +"]").text();
		}
	  };
	  var lookup;
	  var jQuery_labellified_elements = $J(this);
	  return $J(this).each(function() {
		if (typeof settings.text === "string") {
		  lookup = lookups[settings.text];
		} else {
		  lookup = settings.text;
		};
		if (typeof lookup !== "function") { return; }
		var lookupval = lookup(this);
		if (!lookupval) { return; }
  
		$J(this).data("label",lookup(this).replace(/\n/g,''));
		$J(this).focus(function() {
		  if (this.value === $J(this).data("label")) {
			this.value = this.defaultValue;
			$J(this).removeClass(settings.labelledClass);
		  }
		}).blur(function(){
		  if (this.value === this.defaultValue) {
			this.value = $J(this).data("label");
			$J(this).addClass(settings.labelledClass);
		  }
		});
		
		var removeValuesOnExit = function() {
		  jQuery_labellified_elements.each(function(){
			if (this.value === $J(this).data("label")) {
			  this.value = this.defaultValue;
			  $J(this).removeClass(settings.labelledClass);
			}
		  })
		};
		
		$J(this).parents("form").submit(removeValuesOnExit);
		$J(window).unload(removeValuesOnExit);
		
		if (this.value !== this.defaultValue) {
		  return;
		}
		this.value = $J(this).data("label");
		$J(this).addClass(settings.labelledClass);
	  });
	};
	
	$J(document).ready(function () {

		$J(":text").labelify();
		
		$J("#datetimeformatHelp").click(function () {$J("#kbsettings_datetimeformatHelp").slideToggle(50);});
		
		var tabContainers = $J('#accountSettings > .settingset');
		
		// if a hash is set, we want to pre-load that section right away
    var url_hash = ac_ui_anchor_get();
		if (url_hash) {
			// remove "tab_"
			var section = url_hash.substring(4);
			var tab_show = section + "_tab_link"
		}
		else {
			// default tab shown if no hash in the URL
			var tab_show = "account_tab_link";
		}

		{/literal}
			{if ac_admin_ismaingroup()}
			  {literal}

			    tabContainers.hide().filter('#' + tab_show).show();
			    
			    // clicking a Settings tab
			    $J('#accountSettings ul#navtabs a').click(function () {
			      tabContainers.hide();
			      tabContainers.filter(this.hash).show();
			      $J('#accountSettings ul#navtabs a').removeClass('selected');
			      $J(this).addClass('selected');
			      var hash_str = this.hash.substring(1);
			      ac_ui_anchor_set("tab_" + hash_str);
			      return false;
			    }).filter('#' + tab_show).click();

			  {/literal}
			{/if}
		{literal}
		
		{/literal}
			{if !ac_admin_ismaingroup()}
				// always show the API Key and URL if NOT Admin Group (since the API tab will not appear for them)
				$J("#api").show();
			{/if}
		{literal}
		
		settings_api_onload();
	});
	
{/literal}
</script>

{if ac_admin_ismaingroup()}
{if !$__ishosted}
{include file="error.mailer.htm"}
{include file="settings.mailsending.modal.htm"}
{/if}
{/if}
