<div id="settings_local" style="margin-bottom:40px;">
<div  class="ac_blockquote">
  <table border="0" cellspacing="0" cellpadding="0" width="100%" class="usersettings">
	<tr>
	  <td valign="top">{"Date Format"|alang}</td>
	  <td>
		<input type="text" name="dateformat" value="{$site.dateformat|escape}" title="{$site.dateformat|escape}" />
		
		(<a href="#" id="datetimeformatHelp">{"How do these formats work?"|alang}</a>)
		
	
		<div class="kbsettings_help_datetime" style="display:none; position:relative; border:1px solid #c1dae7; background:#ebf8ff; width:400px; margin:10px 0; padding:0 10px 10px;" id='kbsettings_datetimeformatHelp'>
			<p>{"Below are some examples of common date formats:"|alang}</p>
			<div style="float:right;">%m/%d/%Y</div>
			<div>{"Month/Date/Year"|alang}</div>
			<div style="float:right;">%Y-%m-%d</div>
			<div>{"Year-Month-Date"|alang}</div>
			<div style="float:right;">%A, %m %d, %Y</div>
			<div>{"Full Day, Month Date, Year"|alang}</div>
			
			<br />
			<p>{"And below here are some common time formats:"|alang}</p>
			<div style="float:right;">%H:%M:%S</div>
			<div>{"24Hours:Minutes:Seconds (military time)"|alang}</div>
			<div style="float:right;">%I:%M %p</div>
			<div>{"12Hours:Minutes AM/PM"|alang}</div>
			
			<br />
			<div><a href="#" onclick="ac_dom_display_none('kbsettings_datetimeformatHelp'); return false">{"Close"|alang}</a></div>
		</div>
	</td>
	</tr>
	<tr>
	  <td>{"Time Format"|alang}</td>
	  <td>
		<input type="text" name="timeformat" value="{$site.timeformat|escape}" title="{$site.timeformat|escape}" />	  </td>
	</tr>
	<tr>
	  <td>{"Date + Time Format"|alang}</td>
	  <td><input type="text" name="datetimeformat" value="{$site.datetimeformat|escape}" title="{$site.datetimeformat|escape}" /></td>
	</tr>
  </table>
 </div>
</div>
