{if $canImportSubscriber}
 <a class="btn" href="main.php?action=subscriber_import"><span class="create">{"Import Subscribers"|alang}</span></a>
{/if}





<div class="menu_section">
        <h5 class="headtitle">{"Other Options"|alang}</h5>
		<ul>
            {if $canAddSubscriber}
            	<li><a href="main.php?action=subscriber#form-0">{"Add Subscriber"|alang}</a></li>
            {/if}
            <li><a href="main.php?action=subscriber#list-01-0-0">{"View Subscribers"|alang}</a></li>
            <li><a href="javascript: subscriber_search_check();">{"Search Subscribers"|alang}</a></li>
        </ul>
</div>

<div class="menu_section">
        <h5 class="headtitle">{"Advanced Options"|alang}</h5>
		<ul>

            {if $admin.pg_list_edit}
                    <li><a href="main.php?action=exclusion#list-01-0-0">{"Excluded Subscribers"|alang}</a></li>
            {/if}
            {if $admin.pg_subscriber_delete}
                    <li><a href="main.php?action=batch">{"Batch Actions"|alang}</a></li>
            {/if}
            {if $admin.pg_subscriber_sync}
                    <li><a href="main.php?action=sync#list-01">{"Database Sync"|alang}</a></li>
            {/if}

        </ul>
</div>
