<script type="text/javascript">
  {include file="startup.js"}
</script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
	{literal}
	google.load("visualization", "1", {packages:["corechart"]});
	google.setOnLoadCallback(startup_charts_draw);
	{/literal}
</script>

<div class="dashboard">



{if $admin.pg_startup_gettingstarted == 1}
		<div class="getstart">
		<div class="close"><a id="close" class="btn" href="#" data-placement="above" rel="tip" title="{'Close this'|alang}" onclick="startup_gettingstarted_hide({$groupids}); return false;">x</a></div>
		<table width="100%" cellspacing="0" cellpadding="0" border="0">
			<tr>
				<td align="right" valign="middle" class="info" width="250">
				<h4>{"Get Started"|alang}</h4>
				<p>{"Here are some things you can do to get started..."|alang}</p>
				</td>
				<td width="10"></td>
				<td align="center" valign="middle" style="padding-right:40px;">
					<table width="100%" cellspacing="0" cellpadding="0" border="0" class="steps">
						<tr>
							{if $canAddList}
							<td align="left" valign="top" {if !$group_lists_status} class="complete"{/if}><a href="main.php?action=list&new"><img src="images/gs_create.png" />
							<p>{"Create a list"|alang}</p></a>{if !$group_lists_status}<span><img src="images/gs_complete.png" /></span>{/if}</td>
							{/if}

							{if $canAddSubscriber}
							<td align="left" valign="top" {if !$group_lists_subscribers_status} class="complete"{/if}><a href="main.php?action=subscriber_import"><img src="images/gs_import.png" />
							<p>{"Import subscribers"|alang}</p></a>{if !$group_lists_subscribers_status}<span><img src="images/gs_complete.png" /></span>{/if}</td>
							{/if}

							{if $admin.pg_form_edit}
							<td align="left" valign="top" {if !$group_lists_forms_status} class="complete"{/if}><a href="main.php?action=form"><img src="images/gs_integration.png" />
							<p>{"Create a form"|alang}</p></a>{if !$group_lists_forms_status}<span><img src="images/gs_complete.png" /></span>{/if}</td>
							{/if}

							{if $admin.pg_message_add}
							<td align="left" valign="top" {if !$group_lists_campaigns_status} class="complete"{/if}><a href="main.php?action=campaign_new"><img src="images/gs_campaign.png" />
							<p>{"Create a campaign"|alang}</p></a>{if !$group_lists_campaigns_status}<span><img src="images/gs_complete.png" /></span>{/if}</td>
							{/if}

							{if $admin.pg_reports_campaign}
							<td align="left" valign="top" {if !$group_reports_link_status} class="complete"{/if}><a href="main.php?action=report"><img src="images/gs_report.png" />
							<p>{"View reports"|alang}</p></a>{if !$group_reports_link_status}<span><img src="images/gs_complete.png" /></span>{/if}</td>
							{/if}
						</tr>
					</table>
				</td>
			</tr>
		</table>
		</div>
{/if}

		<div class="fullcol wrap">
			<div class="wrapright">
				<div class="right panel">

					<div class="emview">
							<div class="view">
								<h5>{"Subscribers"|alang}</h5>
								<h4 id="current_subscriber_rate">-</h4>
								<div id="chart_subscriptions_blank" class="chartnodataoverlay">{"No Data Yet"|alang}</div>
								<div id="chart_subscriptions"></div>
							</div>

							<div style="float:right;" class="view">
								<h5>{"Interaction Rate"|alang} <span style="color:#999;">{"(AVG)"|alang}</span></h5>
								<h4 id="avg_interaction">-</h4>
								<div id="chart_interaction_blank" class="chartnodataoverlay">{"No Data Yet"|alang}</div>
								<div id="chart_interaction"></div>
							</div>
					</div>

					<div class="actstream wrap">
						<table width="100%" cellspacing="0" cellpadding="0" border="0" class="streamhead">
							<thead>
							<tr>
								<th align="left" valign="top"><h5>{"Activity Stream"|alang}</h5></th>
								<th align="right" valign="top" class="filter"><a class="btn filter" href="javascript:void(0);" data-placement="above" rel="tip" title="{"Filter activities you want to see"|alang}">{"Filters"|alang}</a></th>
								<th align="right" valign="top" class="rss"><a href="rss_activity.php?h={$rsshash}" target="_blank"><img src="images/bg_shead_rss.png" /></a></th>
							</tr>
							<tr class="filteroptions">
								<th colspan="3">
								<form>
                                    <fieldset><input type="checkbox" id="oc" name="showactivity[]" value="openclick" checked="checked" /><label for="oc">{"Opens &amp; Clicks"|alang}</label></fieldset>
									<fieldset><input type="checkbox" id="fb" name="showactivity[]" value="facebook" checked="checked" /><label for="fb">{"Facebook"|alang}</label></fieldset>
									<fieldset><input type="checkbox" id="tw" name="showactivity[]" value="twitter" checked="checked" /><label for="tw">{"Twitter"|alang}</label></fieldset>
									<fieldset><input type="checkbox" id="fw" name="showactivity[]" value="forward" checked="checked" /><label for="fw">{"Forwards"|alang}</label></fieldset>
                                    <fieldset><input type="checkbox" id="up" name="showactivity[]" value="update" checked="checked" /><label for="up">{"Updates"|alang}</label></fieldset>
									<fieldset><input type="checkbox" id="ns" name="showactivity[]" value="subscribe" checked="checked" /><label for="ns">{"Subscribes"|alang}</label></fieldset>
									<fieldset><input type="checkbox" id="un" name="showactivity[]" value="unsubscribe" checked="checked" /><label for="un">{"Unsubscribes"|alang}</label></fieldset>
								</form>
								</th>
							</tr>
							</thead>
						</table>
						<div id="nodataoverlay">
							<div class="nodataoverlaytext"><h4>{"There are no activities yet"|alang}</h4><p>{"You will see how your subscribers engage with your lists in real-time"|alang}</p></div>
							<div class="streamviewoverlay"></div>
						</div>
						<table width="100%" cellspacing="0" cellpadding="0" border="0" class="streamview">
							<tbody id="streamview">
								<tr>
									<td align="center">
										<img src="images/loader5.gif" border="0" />
									</td>
								</tr>
							</tbody>
						</table>
					</div><!--/actstream-->

					<div class="actstreamreload" style="display:none;" onmouseover="this.className='actstreamreload actstreamreloadanimate'" onmouseout="this.className='actstreamreload'"><span id="actstreamloadmore">{"Load more activities"|alang}</span></div><!--/actstreamreload-->
				</div><!--/right-->

			</div><!--/wrapright-->



			<div class="left panel">

				<div class="campaignview">

					{if $admin.pg_message_add}
						<a class="btn" href="main.php?action=campaign_new"><span class="create">{"Create New Campaign"|alang}</span></a>
					{/if}

					<div id="cpview">

						<div id="cpview_div_drafts">{"Campaign Drafts"|alang}</div>

						<ul id="campaign_list_draft" class="cpviewoptions drafts" style="display: none;"></ul>

						<div id="cpview_div_templates">{"My Templates"|alang}</div>

						<ul id="campaign_list_templates" class="cpviewoptions templates" style="display: none;">

						{foreach from=$templates item=t name=counter}
							{if $smarty.foreach.counter.iteration < 4}
							<li style="background: url({$t.url}) no-repeat 50%; background-size:66px;"><a href="main.php?action=template#form-{$t.id}"></a></li>
							{/if}
						{/foreach}

						</ul>

					</div><!--/cpview-->

				</div><!--/campaignview-->

				<div class="trends">

					<h5>{"Recent Trends"|alang}</h5>

					<ul>

						<li style="display:none;"><span>{"Subscriber trend"|alang}</span><div id="chart_recent_trend_blank" class="chartnodataoverlay">{"No Data Yet"|alang}</div><div id="chart_recent_trend" class="smallchart"></div></li>

						<li><span>{"Campaign open trend"|alang}</span><div id="chart_open_trend_blank" class="chartnodataoverlay">{"No Data Yet"|alang}</div><div id="chart_open_trend" class="smallchart"></div></li>

						<li><span>{"Click-through trend"|alang}</span><div id="chart_click_trend_blank" class="chartnodataoverlay">{"No Data Yet"|alang}</div><div id="chart_click_trend" class="smallchart"></div></li>

						<li><span>{"Unsubscribe trend"|alang}</span><div id="chart_unsub_trend_blank" class="chartnodataoverlay">{"No Data Yet"|alang}</div><div id="chart_unsub_trend" class="smallchart"></div></li>


						<li class="viewrep"><a href="main.php?action=report">{"View Reports"|alang}</a></li>

					</ul>

				</div><!--/trends-->


			</div><!--/left-->

		</div><!--/wrap-->



	<div class="clearfix"></div>

</div><!--/dashboard-->



	<div class="clearfix"></div>




{if $admin.id == 1}
<div id="badhttp" class="ac_hidden">
  <div class="ac_modal" align="center">
	<div class="ac_modal_inner" align="left">
	  <h1 style="color:red;">{"A server problem was detected"|alang}</h1>
	  <p>{"The software is unable to contact itself from your server.  This prevents certain features from working properly."|alang}
	  <br />
	  <br />

	  <strong>{"Common Causes:"|alang}</strong>  </p>
	  <ul>
		<li>{"A firewall that is blocking any attempts to:"|alang}
		<br />
		{$site.p_link}
		<br />
		{"from your server."|alang}
		<br />
		<br />
		</li>
		<li>{"A local DNS issue (on your server) that makes it so your server cannot resolve to:"|alang}
		<br />
		{$site.p_link}    </li>
	  </ul>
	  {if !$isWindows}
	  <p><strong>{"How To Prove This:"|alang}</strong></p>
	  <ul>
		<li>{"Login to your server with SSH (or ask your web host/server admin to do these steps)"|alang}</li>
		<li>{"Go to the directory where your software is installed"|alang}</li>
		<li>{"Enter the following command:"|alang}
		<br />
		wget {$site.p_link}    </li>
		<li>{"See if there are any results (it will likely stall out without results proving the server cannot contact your software URL due to a firewall or DNS issue."|alang}</li>
	  </ul>
	  {/if}
	  <br />

	  <form>
		<input type="button" value="{"Re-Check"|alang}" style="font-weight:bold;" onclick="$('badhttp').className = 'ac_hidden'; startup_viable()"/> &nbsp; <input type="button" value="{"Close"|alang}" onclick="$('badhttp').className = 'ac_hidden'"/>
	  </form>
	</div>
  </div>
</div>

<div id="badfriendlyurls" class="ac_hidden">
  <div class="ac_modal" align="center">
	<div class="ac_modal_inner" align="left">
	  <h1 style="color:red;">{"A server problem was detected"|alang}</h1>
	  <p>{"You have (Use search-friendly URLs) enabled on the Settings > General Settings > Public page but your server does not seem to be able to use the search-engine friendly URLs"|alang}
	  <br />
	  <br />

	  <strong>{"Things to check:"|alang}</strong>  </p>
	  <ul>
		<li>{"Verify that you put the .htaccess file"|alang} (<a href="main.php?action=settings#public" target="_blank">{"from the Settings > General Settings > Public page"|alang}</a>) {"in your main software folder.  You can get the contents of what should be put in the .htaccess file by going to Settings > General Settings > Public and clicking (View .htaccess Content)"|alang}
		<br />
		<br />
		</li>
		<li>{"If the .htaccess file is in your main software folder and search-engine friendly URLs still do not work contact your web host or webmaster for further assistance.  You can also disable the (Use search-friendly URLs) until your web host or webmaster fixes this for you."|alang}
  		</li>
	  </ul>
	  <br />

	  <form>
		<input type="button" value="{"Re-Check"|alang}" style="font-weight:bold;" onclick="$('badfriendlyurls').className = 'ac_hidden'; location.reload()"/> &nbsp; <input type="button" value="{"Close"|alang}" onclick="$('badfriendlyurls').className = 'ac_hidden'"/>
	  </form>
	</div>
  </div>
</div>
{/if}


{if $walkthrough}{include file=$walkthrough.filename}{/if}




<!--// Other Frameworks -->

<script type="text/javascript" src="{$site.p_link}/admin/js/jq/sparkline.js"></script>


{literal}
<script type="text/javascript">

$J(document).ready(function () {


 $J(window).bind("resize", function(event) {
  startup_charts_draw();
 });

	//<a data-placement="right" rel="tip" title="Create new campaign in minutes">

	$J("a[rel=tip]").twipsy({live:true});



	/* Begin jQuery Sparklines. Source http://omnipotent.net/jquery.sparkline/ */
	//$J('.inlinebar').sparkline('html',{type:'bar', barColor:'#0c87c9', width:'100%', height:'18px'});
	//$J('.viewgraph').sparkline('html',{type:'line', width:'100%', height:'60px', lineColor:'#0d8dc7', fillColor:'#e6f4fa', lineWidth:'2', spotRadius:'3.5', spotColor:'#0d8dc7'});



	/* Campaignview */

	$J('div#cpview> div').click(function() {

		$J(this).next('ul').slideToggle('fast')

		.siblings('ul:visible').slideUp('fast');

        if($J(this).hasClass('expanded'))
        {
            $J(this)/*.addClass('collapsed')*/.removeClass('expanded');
        }
        else
        {
            $J(this).addClass('expanded')/*.removeClass('collapsed');*/
	        .siblings('div.expanded')/*.addClass('collapsed')*/.removeClass('expanded');
        }
	});



	/* Absolutely Position Element Within a Table Cell */

	$J.fn.positionDivTableCell = function() {

		var $el;

		return this.each(function() {

			$el = $J(this);

			var newDiv = $J("<div />", {

					"class": "innerWrapper",

					"css"  : {

							"height"  : $el.height(),

							"width"   : "110px",

							"position": "relative"

					}

			});

			$el.wrapInner(newDiv);

		});

	};

	$J("td.complete").positionDivTableCell();



	$J('tr.filteroptions').hide();

	$J("a.filter").click(function(){

		$J("tr.filteroptions").toggle();

	});


	// reload activity stream
	$J('div.actstreamreload').click(function() {
		activity_stream(6, 1);
	});

	// filter the activity stream
	$J("tr.filteroptions input").click(function() {
		activity_stream(6, 0);
	});

	// fetch activity stream
	activity_stream(6, 0);

	// Recent campaigns
	startup_recent_campaigns(3);

});

</script>

{/literal}
{$utf_fix}
<script type="text/javascript">
{if !$__ishosted and $admin.id == 1}
	{literal}
	window.setTimeout(function() {
	{/literal}
		startup_viable();
		startup_rewrite();
	{literal}
	}, 7 * 1000);
	{/literal}
{/if}
</script>

