<div id="exportlist" class="ac_hidden">
  <div class="ac_modal" align="center">
	<div class="ac_modal_inner">
	  <form method="GET" onsubmit="return false">
		<h1>{"Export Subscribers Into a New List"|alang}</h1>
		<div>
		  {"Name:"|alang}<br />
		  <input type="text" name="name" id="exportlist_name" />
		</div>
		<div>
		  <br />
		  {"How Many:"|alang}<br />
		  <select name="howmany" id="exportlist_howmany" size="1">
			<option value="page" selected>{"This Page Only"|alang}</option>
			<option value="list">{"All Pages"|alang}</option>
		  </select>
		</div>
		<br />

		<div>
		  <input type="button" value="{"Export"|alang}" onclick="subscriber_exportlist_export()" class="ac_button_ok" />
		  <input type="button" value="{"Close"|alang}" onclick="subscriber_exportlist_close(); ac_ui_anchor_set(subscriber_list_anchor())" />
		</div>
	  </form>
	</div>
  </div>
</div>
