<div id="bounces" class="ac_modal" align="center" style="display: none;">
  <div class="ac_modal_inner" style="width: 500px; text-align: center;">
{if $subscriber.bouncescnt}
   <div>
     {"List of bounced emails for this subscriber"|alang}
   </div>
      <table width="100%" border="0" cellspacing="0" cellpadding="3" bgcolor="#FFFFFF">
        <tr>
          <td><strong>{"List"|alang}</strong></td>
          <td><strong>{"Campaign"|alang}</strong></td>
          <td><strong>{"Bounced Date"|alang}</strong></td>
          <td><strong>{"Bounce Type"|alang}</strong></td>
        </tr>
{if count($subscriber.bounces.mailing)}
        <tr>
          <td colspan="4">{"Mailing Bounces"|alang}</td>
        </tr>
{foreach from=$subscriber.bounces.mailing item=bounce}
        <tr>
          <td>{$bounce.listname}</td>
          <td>{$bounce.campaignname}</td>
          <td>{$bounce.tstamp|acpdate:$site.dateformat}</td>
          <td>{$bounce.description} ({$bounce.type} - {$bounce.code})</td>
        </tr>
{/foreach}
{/if}
{if count($subscriber.bounces.responder)}
        <tr>
          <td colspan="4">{"Responder Bounces"|alang}</td>
        </tr>
{foreach from=$subscriber.bounces.responder item=bounce}
        <tr>
          <td>{$bounce.listname}</td>
          <td>{$bounce.campaignname}</td>
          <td>{$bounce.tstamp|acpdate:$site.dateformat}</td>
          <td>{$bounce.description} ({$bounce.type} - {$bounce.code})</td>
        </tr>
{/foreach}
{/if}
      </table>
{/if}
    <div align="center"><input type="button" value="{'Close'|alang}" onclick="$('bounces').style.display = 'none';" /></div>
  </div>
</div>

<div id="general" class="ac_hidden">
<table width="100%"  border="0" cellpadding="0" cellspacing="0" >
  <tr>
    <td width="45%" valign="top">
      <fieldset>
      <legend><strong>{"Subscriber Information"|alang}</strong></legend>
      <table width="100%" border="0" cellspacing="0" cellpadding="3" bgcolor="#FFFFFF">
        <tr>
          <td width="95" class="column_1_top" align="right">{"E-mail"|alang}</td>
          <td class="column_2_top" id="emaillabel1">{$subscriber.email}</td>
        </tr>
        <tr>
          <td width="95" class="column_1" align="right">{"First Name"|alang}</td>
          <td class="column_2">{$subscriber.first_name}</td>
        </tr>
        <tr>
          <td width="95" class="column_1" align="right">{"Last Name"|alang}</td>
          <td class="column_2">{$subscriber.last_name}</td>
        </tr>
{foreach from=$subscriber.fields item=field}
        <tr>
          <td width="95" class="column_1" align="right">{$field.title}</td>
          <td class="column_2">{$field.val|nl2br}</td>
        </tr>
{/foreach}
      </table>
      </fieldset>
    </td>
    <td width="10%" valign="top">&nbsp;</td>
    <td width="45%" valign="top">
      <fieldset>
      <legend><strong>{"Subscriber Details"|alang}</strong></legend>
      <table width="100%" border="0" cellspacing="0" cellpadding="3" bgcolor="#FFFFFF">
        <tr>
          <td width="100" height="35" align="right">{"Created"|alang}</td>
          <td height="35">{$subscriber.cdate|acpdate:$site.datetimeformat}</td>
        </tr>
        <tr>
          <td width="100" height="35" align="right">{"Last Bounce Date"|alang}</td>
          <td height="35">{if $subscriber.bounced_date}{$subscriber.bounced_date|acpdate:$site.dateformat}{else}{"N/A"|alang}{/if}</td>
        </tr>
        <tr>
          <td width="100" height="35" align="right">{"Computer Details"|alang}</td>
          <td height="35">{$subscriber.ua}</td>
        </tr>
        <tr>
          <td width="100" height="35" align="right">{"IP Address"|alang}</td>
          <td height="35">{if $subscriber.ip}<a href="http://{$subscriber.ip}/">{$subscriber.ip}</a>{else}{"N/A"|alang}{/if}</td>
        </tr>
      </table>
      </fieldset>
    </td>
  </tr>
  <tr>
    <td valign="top">&nbsp;</td>
    <td valign="top">&nbsp;</td>
    <td valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td width="45%" valign="top">
      <fieldset>
      <legend><strong>{"Bounces"|alang}</strong></legend>
      <table width="100%" border="0" cellspacing="0" cellpadding="3" bgcolor="#FFFFFF">
       <tr>
          <td width="95">{"Soft Bounces"|alang}</td>
          <td id="softBounceReset">
            {$subscriber.bounced_soft}
{if $subscriber.bounced_soft}
            <a href="#" onclick="return subscriber_bounce_reset('soft');">{"Reset"|alang}</a>
{/if}
          </td>
       </tr>
       <tr>
          <td width="95">{"Hard Bounces"|alang}</td>
          <td id="hardBounceReset">
            {$subscriber.bounced_hard}
{if $subscriber.bounced_hard}
            <a href="#" onclick="return subscriber_bounce_reset('hard');">{"Reset"|alang}</a>
{/if}
          </td>
       </tr>
{if $subscriber.bouncescnt + $subscriber.bounced_soft + $subscriber.bounced_hard}
       <tr>
          <td width="95" id="bothBounceView">
{if $subscriber.bouncescnt}
            <a href="#" onclick="return subscriber_view_general_bounces();">{"View"|alang}</a>
{else}
            &nbsp;
{/if}
          </td>
          <td id="bothBounceReset">
{if $subscriber.bounced_soft + $subscriber.bounced_hard}
            <a href="#" onclick="subscriber_bounce_reset('both');return false;">{"Reset Both"|alang}</a>
{else}
            &nbsp;
{/if}
          </td>
       </tr>
{/if}
      </table>
      </fieldset>
    </td>
    <td width="10%" valign="top">&nbsp;</td>
    <td width="45%" valign="top">
      <fieldset>
      <legend><strong>{"Subscribed to Lists"|alang}</strong></legend>
      <table width="100%" border="0" cellspacing="0" cellpadding="3" bgcolor="#FFFFFF">
{foreach from=$subscriber.lists item=l}
        <tr>
          <td colspan="2"><strong>{$l.listname}</strong></td>
        </tr>
        <tr>
          <td width="100" height="35" align="right">{"Status"|alang}</td>
          <td height="35">{if $l.status == 2} {"Unsubscribed"|alang}
              {elseif $l.status == 1} {"Active"|alang} {elseif $l.status == 3} {"Bounced"|alang} {else} {"Unconfirmed"|alang} {/if}</td>
        </tr>
        <tr>
          <td width="100" height="35" align="right">{"Responders"|alang}</td>
          <td height="35">{if $l.responder}{"ON"|alang}{else}{"OFF"|alang}{/if}</td>
        </tr>
        <tr>
          <td width="100" height="35" align="right">{"Date of Signup"|alang}</td>
          <td height="35">{$l.sdate|acpdate:$site.datetimeformat}</td>
        </tr>
{if $l.status == 2}
        <tr>
          <td width="100" height="35" align="right">{"Unsubscription Date"|alang}</td>
          <td height="35">{$l.udate|acpdate:$site.datetimeformat}</td>
        </tr>
{/if}
{/foreach}
      </table>
      </fieldset>
    </td>
  </tr>
{if $widget_bar}
  <tr>
    <td valign="top">&nbsp;</td>
    <td valign="top">&nbsp;</td>
    <td valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td valign="top" colspan="3">{ac_widget_bar bar=$widget_bar section=admin}</td>
  </tr>
{/if}
</table>
</div>

