<script type="text/javascript" src="{$site.p_link}/admin/js/simplehistory.min.js"></script>
<script language="JavaScript" type="text/javascript">
<!--
{include file="subscriber_import.js"}
-->
</script>

<div id="subscriber_import">

<h1>{"Import Subscribers"|alang}</h1>



{if $formSubmitted and $submitResult.section == "generic"}
{if !$submitResult.status}
<script>
ac_error_show('{$submitResult.message|js}');
</script>
{else}
<script>
ac_result_show('{$submitResult.message|js}');
</script>
{/if}
{/if}

<div id="import_limit_warning" class="{if !$canImportSubscriber}ac_block{else}ac_hidden{/if}">
	{"Some subscribers might not be imported as it would exceed your currently allowed subscribers."|alang}
</div>

{if !$configured}
	{include file="subscriber_import.step1.htm"}
{else}
<div id="step2" class="ac_block">
	{include file="subscriber_import.step2.htm"}
</div>
<div id="step3" style="display: none;">
	{include file="subscriber_import.step3.htm"}
</div>
	{include file="subscriber_import.report.htm"}
{/if}

</div>

{include file="field.modal.htm"}

<script type="text/javascript">
  ac_ui_rsh_init(import_process, true);
</script>
