<div id="optin" class="ac_modal_delete" align="center" style="display: none">
  <div class="ac_modal_inner">
    <form method="POST">
	  <h1>{"Send Email Reminder to Unconfirmed Subscriber(s)"|alang}</h1>
	  <span id="optin_message"></span>
	  <ul id="optin_list"></ul>
	  <div>
		<input type="button" class="ac_button_ok" value="{"OK"|alang}" onclick="subscriber_optin(subscriber_optin_id)" />
		<input type="button" class="ac_button_cancel" value="{"Cancel"|alang}" onclick="ac_dom_toggle_display('optin', 'block'); ac_ui_anchor_set(subscriber_list_anchor())" />
	  </div>
    </form>
  </div>
</div>
