<div id="log" class="ac_hidden">
  <div class="ac_help_inline">{"These logs show the last 30 days of sending activity to this subscriber"|alang}</div>
  <table cellspacing="0" cellpadding="0" width="100%">
    <tr class="ac_table_header_options">
      <td>
        <select name="listid" id="logListManager" size="1" onchange="subscriber_view_filter(this.value);">
          <option value="0">{"List Filter..."|alang}</option>
{foreach from=$listsList item=p}
          <option value="{$p.id}">{$p.name|truncate:50}</option>
{/foreach}
        </select>
      </td>
    </tr>
  </table>
  <table width="100%" border="0" cellspacing="0" cellpadding="1">
    <thead id="log_head">
      <tr class="ac_table_header">
        <td width="150">{ac_headercol action="subscriber_view" id="01" idprefix="log_sorter" label="List"|alang}</td>
        <td>{ac_headercol action="subscriber_view" id="02" idprefix="log_sorter" label="Campaign"|alang}</td>
        <td width="120">{ac_headercol action="subscriber_view" id="04" idprefix="log_sorter" label="Sent"|alang}</td>
        <td width="120">{ac_headercol action="subscriber_view" id="03" idprefix="log_sorter" label="Date"|alang}</td>
      </tr>
    </thead>
    <tbody id="log_table">
    </tbody>
  </table>
  <div id="log_noresults" class="ac_hidden">
    <div align="center">{"Nothing found."|alang}</div>
  </div>
  <div style="float:right">
    {include file="pagination.js.tpl.htm" tabelize="subscriber_view_tabelize" paginate="subscriber_view_paginate" limitize="subscriber_view_limitize" paginator=$paginators.log}
  </div>
  <div id="logLoadingBar" class="ac_hidden" style="background: url(../ac_global/media/loader.gif); background-repeat: no-repeat; padding: 5px; padding-left: 20px; padding-top: 2px; color: #999999; font-size: 10px; margin: 5px">
    {"Loading. Please wait..."|alang}
  </div>
</div>
