<div id="delete" class="ac_modal_delete" align="center" style="display: none">
  <div class="ac_modal_inner">
    <h1>{"Delete Template(s)"|alang}</h1>
    <span id="delete_message"></span>
    <br />
    <ul id="delete_list"></ul>
    <br />
    <div>
      <input type="button" class="ac_button_ok" value="{"Yes, Delete"|alang}" onclick="template_delete(template_delete_id)" />
      <input type="button" class="ac_button_cancel" value="{"No, Thanks"|alang}" onclick="ac_dom_toggle_display('delete', 'block');" />
    </div>
  </div>
</div>
