<script type="text/javascript" src="{$site.p_link}/admin/js/simplehistory.min.js"></script>
<script type="text/javascript">
  {include file="template.js"}
</script>
<script type="text/javascript" src="{$site.p_link}/admin/js/jq/tag-it.js"></script>

<h1 id="template_header1" style="display: none;">{"Templates"|alang}</h1>

<h1 id="template_header2">
	{"Templates for"|alang}
	<select id="template_lists" name="listid" onchange="template_listchange(this.value);">
		<option value="0" selected="selected">{"All Lists"|alang}</option>
		{foreach from=$lists item=e}
			<option value="{$e.id}">{$e.name}</option>
		{/foreach}
	</select>
	<select id="template_cats" name="catid" onchange="template_usetag(this.value);">
		<option value="0" selected="selected">{"All Categories"|alang}</option>
		{foreach from=$tags item=e}
			{if $e.count > 0}
				<option value="{$e.id}">{$e.tag|capitalize} ({$e.count})</option>
			{/if}
		{/foreach}
	</select>
</h1>

{include file="template.preview.htm"}
{include file="template.list.htm"}
{include file="template.form.htm"}
{include file="template.import.htm"}
{include file="template.delete.htm"}
{include file="template.export.htm"}
{include file="template.search.htm"}
{include file="editor.activerss.inc.htm"}
{include file="editor.personalize.inc.htm"}
{include file="editor.conditional.inc.htm"}

<script type="text/javascript">
  ac_ui_rsh_init(template_process, true);
</script>
