{if !isset($userpage)}{assign var=userpage value='user'}{/if}
<div id="userheader" style="margin-bottom:10px;">
	<h1>{"Users"|alang}</h1>
	<ul class="navlist">
		<li class="{if $userpage == 'user'}currenttab{else}othertab{/if}"><a href="main.php?action=user">{"Users"|alang}</a></li>
		{if $admin.id == 1 || $admin.pg_group_add || $admin.pg_group_edit || $admin.pg_group_delete}
		<li class="{if $userpage == 'group'}currenttab{else}othertab{/if}"><a href="main.php?action=group">{"Admin Groups"|alang}</a></li>
		{/if}
		{if ac_admin_ismaingroup()}
			{if !$__ishosted}
				<li class="{if $userpage == 'loginsource'}currenttab{else}othertab{/if}"><a href="main.php?action=loginsource">{"Login Sources"|alang}</a></li>
			{/if}
		{/if}
	</ul>
</div>
