<script type="text/javascript" src="{$site.p_link}/admin/js/simplehistory.min.js"></script>
<script type="text/javascript">
<!--
{include file="archive.js"}
-->
</script>

<h1>{"Archive"|plang}</h1>

{*if $site.general_public*}

	<div id="list">

		{if !$listid}

			<script type="text/javascript">
			<!--
			{include file="archive.list.js"}
			-->
			</script>

			<input type="hidden" name="filterid" id="filterid" value="{$filterid}" />

			<div style="float: right; padding-top:1px; padding-left:10px;">
				<a href="{$_}/index.php?action=archive&nl=0&rss=1"><img src="{$_}/images/feed.gif" border="0" /></a>
			</div>

			<div style="float: right;">
				<input type="text" name="qsearch" id="list_search" onkeypress="ac_dom_keypress_doif(event, 13, archive_list_search);" />
				<input type="button" value='{"Search"|plang}' onclick="archive_list_search()" />
				<input type="button" value='{"Clear"|plang}' id="list_clear" style="display:none" onclick="archive_list_clear()" />
			</div>

			<h2>{"Select a List"|plang}</h2>



			<table width="100%" border="0" cellpadding="0" cellspacing="0">

				<thead id="list_head" class="ac_table_header">
					<tr class="ac_table_row">
						<td width="500">{ac_headercol action="archive" id="01" label="List Name"|plang}</td>
						<td>{ac_headercol action="archive" id="03" label="Messages"|plang}</td>
					</tr>
				</thead>

				<tbody id="archive_list_list"></tbody>

				<tbody id="archive_list_noresults" class="ac_hidden">
					<tr>
						<td colspan="2" align="center">No results</td>
					</tr>
				</tbody>

			</table>

			<div id="archive_list_paginator">
				{include file="pagination.js.tpl.htm" tabelize="archive_list_tabelize" paginate="archive_list_paginate"}
			</div>

			<script type="text/javascript">
			{literal}
			  /*if (paginators[1] !== undefined){
					paginators[1].paginate(0);
			  }*/
			{/literal}
			</script>

		{else}

			<script type="text/javascript">
			<!--
			{include file="archive.campaign.js"}
			-->
			</script>

			<div style="float: right; padding-top:1px; padding-left:10px;">
				<a href="{$_}/index.php?action=archive&nl={$listid}&rss=1"><img src="{$_}/images/feed.gif" border="0" /></a>
			</div>

			<div style="float: right;">
				<input type="text" name="qsearch" id="list_search" onkeypress="ac_dom_keypress_doif(event, 13, archive_campaign_search);" />
				<input type="button" value='{"Search"|plang}' onclick="archive_campaign_search()" />
				<input type="button" value='{"Clear"|plang}' id="list_clear" style="display:none" onclick="archive_campaign_clear()" />
			</div>

			<div style="float: right; margin-right: 15px;">
				<input type="button" value='{"Back"|plang}' id="list_back" onclick="archive_campaign_back()" />
			</div>

			<h2>{"Select a Campaign from List "|plang}'{$list.name|plang}'</h2>

			<input type="hidden" name="listid" id="listid" value="{$listid}" />
			<input type="hidden" name="filterid" id="filterid" value="{$filterid}" />



			<table width="100%" cellpadding="0" cellspacing="0" border="0">

				<thead id="list_head">
					<tr class="ac_table_header">
						<td width="500">{ac_headercol action="archive" id="07" label="Subject"|plang}</td>
						<td>{ac_headercol action="archive" id="06" label="Create Date"|plang}</td>
					</tr>
				</thead>

				<tbody id="archive_campaign_list"></tbody>

				<tbody id="archive_campaign_noresults" class="ac_hidden">
					<tr class="ac_table_row">
						<td colspan="2" align="center">No results</td>
					</tr>
				</tbody>

			</table>

			<div id="archive_campaign_paginator">
				{include file="pagination.js.tpl.htm" tabelize="archive_campaign_tabelize" paginate="archive_campaign_paginate"}
			</div>

			<script type="text/javascript">
			{literal}
			  /*if (paginators[1] !== undefined){
					paginators[1].paginate(0);
			  }*/
			{/literal}
			</script>

		{/if}

		<script type="text/javascript">
		  ac_ui_rsh_init(archive_process, true);
		</script>

	</div>

{*/if*}