<script>
{include file="complaint.js"}
</script>

<div style="padding:30px;">

  <h1>{"Abuse Complaint"|plang}</h1>

  <h2>{"Group:"|plang} {$group.title}</h2>

  <div id="infobox" class="ac_block">

{if $group.descript}
    <div style="padding:10px 0;">{$group.descript}</div>
{/if}


    <strong>{"Current Abuse Ratio:"|plang}
  	<span id="current_label">{$group.abuseratio_current}</span>%</strong>   <br />
	{"With a current limit of"|plang} {$group.abuseratio}% {"before being suspended."|plang}
  	<br />
  	<br />
    {"E-mails Sent:"|plang}
  	<span id="sent_label">{$group.emails_sent}</span>
  	<br />
    {"Abuse Complaints Reported:"|plang}
  	<span id="abuses_label">{$group.abuses_reported}</span>

  	<div style="padding:20px 0;">
  	  <input type="button" value="{'Change Abuse Ratio'|plang}" onclick="abuse_change();" />
{if count($group.users)}
  	  &nbsp;
  	  <input type="button" value="{'Notify Senders'|plang}" onclick="abuse_notify();" />
{/if}
{if $group.abuses_reported}
  	  &nbsp;
  	  <input type="button" value="{'View Abuses'|plang}" onclick="abuse_view();" id="abuse_button_view" />
  	  &nbsp;
  	  <input type="button" value="{'Reset Abuse Complaints'|plang}" onclick="abuse_reset();" id="abuse_button_reset" />
{/if}
  	</div>
  </div>


  <div id="notifybox" class="ac_hidden">
    <div style="font-weight:bold;">{"Notify user(s) in this group:"|plang}</div>
    <div>
{foreach from=$group.users item=u}
        <div><label><input type="checkbox" name="to[]" value="{$u.id}" checked="checked" />&quot;{$u.first_name} {$u.last_name}&quot; &lt;{$u.email}&gt;</label></div>
{/foreach}
    </div>
<br />

    <div style="font-weight:bold;">{"Send From:"|plang}</div>
    <div>{"Name:"|plang} <br /><input type="text" style="width:200px;" name="from_name" value="{$admin.first_name}{if $admin.first_name != '' and $admin.last_name != ''} {/if}{$admin.last_name}" /></div>
    <div>{"E-mail:"|plang}<br /><input type="text" style="width:200px;" name="from_mail" value="{$admin.email}" /></div>
<br />

    <div style="font-weight:bold;">{"Subject:"|plang}</div>
    <div><input type="text" name="subject" style="width:400px;" value="{'You have abused the mailing system %s'|plang:$site.site_name}" /></div>
<br />

    <div style="font-weight:bold;">{"Message:"|plang}</div>
    <div><textarea name="message" style="width:400px;">{* Some sample text here... *}</textarea></div>
<br />

    <div>
      <input type="button" value="{'Send'|plang}" onclick="abuse_notify_send();" />
      <input type="button" value="{'Back'|plang}" onclick="abuse_notify();" />
    </div>

  </div>


  <div id="viewbox" class="ac_hidden">
    <div id="abusesbox">
    </div>

    <div>
      <input type="button" value="{'Back'|plang}" onclick="abuse_view();" />
    </div>

  </div>


  <div id="changebox" class="ac_hidden">
    <div>
      {"New Abuse Ratio:"|plang}
      <input type="text" name="abuseratio" id="group_abuseratio" value="{$group.abuseratio}" size="2" />%
    </div><br />


    <div>
      <input type="button" value="{'Update'|plang}" onclick="abuse_update();" />
      <input type="button" value="{'Back'|plang}" onclick="abuse_change();" />
    </div>

  </div>


  <div id="resetbox" class="ac_hidden">
    <div>{"Abuse Complaints have been removed."|plang}</div>
  </div>


  <div id="updatebox" class="ac_hidden">
    <div>{"Abuse Ratio has been updated."|plang}</div>
  </div>

</div>
