<script type="text/javascript">
<!--
{* include file="subscribe.js" *}
-->
</script>
{* load javascript calendar *}
{ac_calendar base=""}


{if $subscription_message}
<div align="center">
	<div class="confirmation_box">
		{$subscription_message}
	</div>
</div>
{else}

{if $form.incga}
<script type="text/javascript" src="{$_}/js/ga.utm.js"></script>
{/if}

<div align="center">
	{* form *}
	{$form_header}
	<input type="hidden" name="f" value="{$form.id}">
	{if !$form.offerunsub}
		<input type="hidden" name="act" value="sub">
	{/if}
	{if $form.offerchset}
		<input type="hidden" name="_charset" value="{$_charset}">
	{/if}

	{if !$form.offerlists}
		{foreach from=$form.lists item=v}
			<input type="hidden" name="nlbox[]" value="{$v}">
		{/foreach}
	{/if}

	{foreach from=$form.parts item=p}
		{$p.html}
	{/foreach}
	{$form_footer}
</div>

{* if $site.brand_links}
<div style="color:#999999; margin-top:20px; border-top:1px solid #F1ECE2; padding-top:5px;text-align:left;">
	<a href="http://www.activecampaign.com/email-marketing/" style="text-decoration:none; color:#999999;" title="email marketing">{$site.acpow|b64d}</a> {"by ActiveCampaign"|i18n}
</div>
{/if *}

{/if}
