<div class="preview_part" style="border-left:1px solid #dedede;border-right:1px solid #dedede; margin:0; padding:0 20px 20px;">
<div id="notice"><a href="http://www.activecampaign.com/" title="email marketing" target="_blank">email marketing</a> by activecampaign</div>
</div>
