

/* PAGE DEFAULTS */
/* Setting the main body, font, color, and link defaults */


body{ font-family: Arial, Helvetica, sans-serif; font-size:11px; color:#333333; margin:0px; padding:0px;  }

input{ font-size:12px; font-weight:normal; font-family:Arial, Helvetica, sans-serif; }

a, a:visited{ color:#666666; }
a:hover{ color:#333333; }

hr{ background:#CCCCCC; color:#CCCCCC; height:1px; border:0px; }

/* Login Box For Index Page (usually the admin index) */
.ac_login_container{ }
.ac_login_head{
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-topleft: 15px;
	background:#0E3E75;
	padding-top:35px;
	padding-bottom:20px;

	margin:1px;
	margin-bottom:0px;
}
.ac_login_box_container{ padding-top:75px; width:300px; }
	.ac_login_box_container img { margin-bottom:8px; }
	.ac_login_box_container a, .ac_login_box_container a:visited{ color:#999999; }
	.ac_login_box_border{    }
	.ac_login_box{ background:#FFFFFF;	 text-align:left; padding:20px;
					border-bottom-left-radius: 15px;
					border-bottom-right-radius: 15px;
					-moz-border-radius-bottomright: 15px;
					-moz-border-radius-bottomleft: 15px;
					 font-size:16px;
					 border:1px solid #E0DFDC; border-top:0px; }
	.ac_login_box_header{ font-size:16px; font-weight:bold; }
	.ac_login_box_header a, .ac_login_box_header:visited{ text-decoration:none; }
	.ac_login_box input{ font-size:19px; }
	.ac_login_box_remember_me td{ font-size:11px; color:#999; padding-top:4px;  }
	.ac_copyright_text{ color:#6084AC; font-size:10px; margin-top:25px;  }
	.ac_copyright_text a, .ac_copyright_text a:visited{ color:#6084AC; }
.ac_login_box_container {width:350px;}
.ac_login_box_container .ac_login_head {-moz-border-radius-topleft:6px; -moz-border-radius-topright:6px; -moz-border-radius-bottomright:0px; -moz-border-radius-bottomleft:0px; -webkit-border-radius:6px 6px 0px 0px; border-radius:6px 6px 0px 0px;}
.ac_login_box_container .ac_login_box {-moz-border-radius-topleft:0px; -moz-border-radius-topright:0px; -moz-border-radius-bottomright:6px; -moz-border-radius-bottomleft:6px; -webkit-border-radius:0px 0px 6px 6px; border-radius:0px 0px 6px 6px; -webkit-box-shadow:0px 1px 1px rgba(206, 206, 206, 0.6); -moz-box-shadow:0px 1px 1px rgba(206, 206, 206, 0.6); box-shadow:0px 1px 1px rgba(206, 206, 206, 0.6)}

/* Core Layout Of ADMIN Section */
/* Public section layouts are in the product's css folder */
#ac_admin_container{  }
	#ac_admin_header{ height:50px; background:#145AA8; padding:15px; padding-left:0px; }
		#ac_admin_header_logo{ height:50px; overflow:hidden; margin-left:15px; vertical-align:middle; font-size:16px; font-weight:bold; color:#FFFFFF; /*position:fixed; z-index:999;*/ }
		#ac_admin_header_logo a{ color:#FFFFFF; text-decoration:none; }
		#ac_admin_header_links{ color:#B3CBE5; font-size:10px; }
		#ac_admin_header_links a{ color:#B3CBE5; font-size:10px; margin-left:10px; }
		#ac_admin_header_nav{ position:absolute; top:52px; left:15px; font-size:12px; }
	#ac_admin_inner_container{ background:#EEF3F9; padding:15px; }
	#ac_admin_side{ float:right; width:140px; background:#EEF3F9; padding:15px; padding-top:0px; margin-left:15px; }
		#ac_admin_side h1{ background:#E0E7F0; color: #A6B4C4; padding:7px; font-size:12px; margin:-15px; margin-top:0px; margin-bottom:5px; font-weight:normal; }
		#ac_admin_side a, #ac_admin_side a:visited{ color: #7D8FA2; border-bottom:1px solid #DFE8F2; display:block; margin-bottom:5px; padding-bottom:3px; }
		#ac_admin_side h2{ color: #7D8FA2; font-size:11px; font-weight:normal; display:block; margin-bottom:5px; padding-bottom:3px; }
		#ac_admin_side h1 a, #ac_admin_side h1 a:visited{ border:none; display:inline; margin:0; padding:0; text-decoration:none; color:#A6B4C4; }


		#ac_admin_content h1{ font-size:17px; font-family: Helvetica, Verdana, Arial, sans-serif; margin:-15px; color:#333333; margin-bottom:0px; padding:10px; padding-top:7px; padding-bottom:7px; padding-left:15px; font-weight:bold; background-color:#;   }
		#ac_admin_content h2{ background:url(../../ac_global/media/ac_h2_arrows.gif); background-position:right; background-repeat:no-repeat; background-color:#EFEDDE; color: #A7A6A0; font-size:12px; margin:0px; padding:5px; cursor:pointer;  }
		#ac_admin_content .h2_static{ background-color:#EFEDDE; color: #A7A6A0; font-size:12px; margin:0px; padding:5px;  }
		#ac_admin_content .h2_wrap_static h2 { cursor: default; background-image:none; }

		.h2_wrap { margin-top: 20px; }
		#ac_admin_content .h2_wrap{ margin-bottom:10px; }
		#ac_admin_content .h2_content{ border:1px solid #EFEDDE; padding:10px; }
		#ac_admin_content .h2_content_invis{ display:none; margin-bottom:10px; }

		#ac_admin_content h3{ font-size:13px; font-family: Helvetica, Verdana, Arial, sans-serif; color:#333333; margin-bottom:0px; padding:0px; font-weight:bold;   }


		#ac_admin_content .startup_container{ border: 2px solid #EEF3F9 ; margin-bottom:15px; }
		#ac_admin_content .startup_container h3{ background:url(../../ac_global/media/ac_table_header.gif); background-position:top; background-repeat:repeat-x; background-color:#DEE7EF; padding:5px; margin:0px; }
		#ac_admin_content .startup_container td{  padding:5px; }

	#ac_admin_footer{ clear: both; background:#ffffff; padding:15px; padding-top:5px; padding-bottom:5px; color:#999999; }
	#footer_links{ float:right;text-align:right; }
		#ac_admin_footer a, #ac_admin_footer a:visited{ color:#999999; }

.ac_demomode{
	padding:10px;
	background:#F9E4E3;
	font-size:12px;
	margin-top:15px;
}

#list_clear, .resetbutton {
	color:#FF0000;
	background:#FEE8E8;
	border:1px solid #CFB3B3;
}

.ac_table_box_header{ background:#C2D6EB; padding:5px; font-weight:bold; color: #8D9DAE;}
.ac_table_box_content{ border:1px solid #C2D6EB; padding:5px; }

.ac_table_header_options td{ background-color:#F8F8F8; padding:5px; color: #666666; border:1px solid #DEE7EF; border-bottom:0px; }
	.ac_table_header_options td a, .ac_table_header td a:visited{ color: #666666; display:block; }
	.ac_table_header_options select{ font-size:10px; border:1px solid #DEE7EF }
	.ac_table_header_options input{ font-size:10px; border:1px solid #DEE7EF; background:#ffffff;}

.ac_table_header td{ background:url(../../ac_global/media/ac_table_header.gif); background-position:top; background-repeat:repeat-x; background-color:#DEE7EF; padding:5px; color: #666666; border-top:1px solid #DEE7EF; border-bottom:1px solid #D0DBE5; border-left:1px solid #DEE7EF; }
	.ac_table_header td a, .ac_table_header td a:visited{ color: #666666; display:block; }
.ac_table_row td{ padding:5px; border-bottom: 1px solid #DEE7EF; padding-top:3px; padding-bottom:3px; }
	.ac_table_row td a, .ac_table_header td a:visited{ color: #666666; }

/* Help Icons */
div.ac_help { z-index: 999; /*display: none;*/ position:absolute; border: 1px solid #B4CDE6; padding: 10px; width:200px; margin-top:6px; font-size:10px; background:#F0F6FB; color:#333333; }
	a.ac_help {	background: url(../../ac_global/media/ac_help_default.gif) no-repeat center;	padding: 1px; }
	a.ac_help:hover { background: url(../../ac_global/media/ac_help_hover.gif) no-repeat center; padding: 1px; }

.ac_help_inline{  background: #FAFBE0; font-size:10px; padding:8px; color:#8F907C; border:1px solid #F7FA9E; margin-bottom:5px; }
.ac_warning{  background: #FFF5F5; font-size:12px; padding:8px; color:#731717; border:1px solid red; margin-bottom:5px; }
.ac_result{  background: #F5FFF5; font-size:12px; padding:8px; color:#177317; border:1px solid green; margin-bottom:5px; }
.ac_updatecheck{ position: relative;
height: 100%;
padding: 6px 10px;
font-size: 13px;
line-height: 18px;
color: #595959;
background: #EBF8FF;
border: none;
border: 0;
border-top: 1px solid #C1DAE7;
border-bottom: 1px solid #B7D0DD;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
overflow: hidden;
margin-bottom:15px;
}
.ac_updatecheck a, .ac_updatecheck a:visited{
		color: #828282;
		text-decoration:underline;
}
.ac_no_text_decoration a, .ac_no_text_decoration a:visited{ text-decoration:none; }

/* Stars */
a.ac_star_none { background: url(../../ac_global/media/ac_star_none.gif) no-repeat center; padding:0px; border:none; margin:0px; }
a.ac_star_half { background: url(../../ac_global/media/ac_star_half.gif) no-repeat center; padding:0px; border:none; margin:0px; }
a.ac_star_full { background: url(../../ac_global/media/ac_star_full.gif) no-repeat center; padding:0px; border:none; margin:0px; }
a.ac_star_hover { background: url(../../ac_global/media/ac_star_hover.gif) no-repeat center; padding:0px; border:none; margin:0px; }
.ac_star_rating { font-size: 8px; font-style: italic }


.ac_common_tasks div{
	float:left;
	padding:10px;
	padding-left:40px;
	margin:15px;
	width:100px;
}

.ac_common_tasks a, .ac_common_tasks a:visited{
	display:block;
}

fieldset{
	border:1px solid #cccccc;
}
legend{
	color:#666666;
}


.tab_nav{
	border-bottom: 1px solid #CCCCCC; padding: 5px; padding-left:0px;
}

.tab_nav a {
	padding:5px;
	background-color:#F6F6F6;
	text-decoration: none;
	margin-right:10px;
	border: 1px solid #cccccc;
}
.tab_nav a:hover {
	padding:5px;
	background-color:#cccccc;
	text-decoration: none;

}
tr.row_normal td{
	background-color: #F2FCFF;
	font-size: 11px;
	padding: 5px;
}

.row_header td{
	background-color: #83BBFA;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding: 5px;
	color: #FFFFFF;
}


.field_dropdown_head{
	border:1px solid #7599BA;
	padding:3px;
	background:url(../../ac_global/media/dropdown_down_arrow.gif);
	background-position:right;
	background-repeat:no-repeat;

}

.field_dropdown_value{
	border-left:1px solid #999999;
	border-right:1px solid #666666;
	border-bottom:1px solid #666666;
	padding:3px;
	margin-left:15px;
}

.field_dropdown_value div{
	padding:4px;
	padding-left:15px;
	background:url(../../ac_global/media/drag_icon.gif);
	background-position:left;
	background-repeat:no-repeat;
	cursor:move;

}

.field_dropdown_value div img{
	float:left;
	padding-top:2px;
	padding-right:7px;
}

.field_radio_value{
	border-left:1px solid #999999;
	border-right:1px solid #666666;
	border-bottom:1px solid #666666;
	border-top:1px solid #999999;
	padding:3px;

}
.field_radio_value div{
	padding:4px;
	padding-left:15px;
	background:url(../../ac_global/media/drag_icon.gif);
	background-position:left;
	background-repeat:no-repeat;
	cursor:move;

}
.field_radio_value div img{
	float:left;
	padding-top:2px;
	padding-right:7px;
}


/* Result Message - Used for errors, confirmations, etc.. */
.resultMessage{
	border:1px solid #999999;
	background:#FFFDE6;
	margin-top:5px;
	margin-bottom:5px;
	padding:5px;
}



.top_nav_options {
	float: right;
	padding: 5px 10px 0 0;
}
.bottom_nav_links {
	text-align: right;
	padding: 20px;
	padding-left: 0;
	float: right;
}
.bottom_nav_options {
	margin-top: 20px;
	margin-right: 0;
	/*padding: 20px;
	border: 2px solid #657887;*/
}
.top_nav_button,
.bottom_nav_button {
	border: 1px solid black;
	border-top: 1px solid white;
	border-left: 1px solid white;
	font-weight: bold;
}





.ac_icon_select { width: 410px; height: 60px; overflow: auto; padding: 2px; border: 1px solid #cccccc;  }
.ac_icon_select a { display: block; float: left; margin: 2px; border: 1px solid #ffffff; }
.ac_icon_select img { margin: 4px; width: 16px; height: 16px; border: none; }
.ac_icon_select a:hover { background-color: #F0F6FB; }
a.ac_icon_selected { background-color: #F0F6FB; border: 1px solid #000; border-top: 1px solid #ddd; border-left: 1px solid #ddd; }
#categoryIcon { margin: 4px; width: 16px; height: 16px; border: none; }

.ac_hidden { display: none; }
.ac_block { display: block; }
.ac_inline { display: inline; }
.ac_table_cell { display: table-cell; }
.ac_table_row { display: table-row; }
.ac_table_rowgroup { display: table-row-group; }
.ac_blockquote { display: block; margin: 5px 10px; padding: 5px 10px; }

div.ac_scroller { height: 100px; overflow: auto; }


#dhtmltooltip{
	font-size:10px;
	position: absolute;
	left: -300px;
	width: 150px;
	border: 1px solid #C7C3A5;
	padding: 2px;
	background-color: #FCFBF6;
	visibility: hidden;
	color:#666666;
	z-index: 100;
	/*Remove below line to remove shadow. Below line should always appear last within this CSS*/
	filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);
}

#dhtmlpointer{
	position:absolute;
	left: -300px;
	z-index: 101;
	visibility: hidden;
}



.ac_paginator {
	font-size:10px;
	margin-top:5px;
	border:1px solid #CCCCCC;
	color:#666666;
}

.ac_paginator select{

	font-size:10px;
	border:0px;
	border-left:1px solid #CCCCCC;
	color:#999999;
}
.ac_paginator option {
	font-size:10px;
}

.ac_paginator span,
.ac_paginator span strong,
.ac_paginator span a {
	margin: 0;
	padding: 0;
	padding-left: 4px;
}

.ac_paginator a.paginatorPageLink {
	margin: 0;
	padding: 0;
	padding-left:2px;
}

.invisible{
display:none;
}


#ac_result_bar { border-top: 2px solid #0C0; text-align: center; position: fixed; top:0px; z-index: 9999; width: 100%; height: 1px; padding:5px; margin-left:-10px; }
#ac_result_text {  background-color: #0C0; color: White; font-weight: bold; padding: 6px; padding-left:20px; padding-right:20px; 	border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; -moz-border-radius-bottomright: 5px; -moz-border-radius-bottomleft: 5px; }

#ac_error_bar { border-top: 2px solid Red; text-align: center; position: fixed; top:0px; z-index: 10998; width: 100%; height: 1px; padding:5px; }
#ac_error_text {  background-color: Red; color: White; font-weight: bold; padding: 6px; padding-left:20px; padding-right:20px; 	border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; -moz-border-radius-bottomright: 5px; -moz-border-radius-bottomleft: 5px;}

#ac_loading_bar { border-top: 2px solid #FF9900; text-align: center; position: fixed; top:0px; z-index: 9999; width: 100%; height: 1px; padding:5px; }
#ac_loading_text {  background-color: #FF9900; color: White; font-weight: bold; padding: 6px; padding-left:20px; padding-right:20px; 	border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; -moz-border-radius-bottomright: 5px; -moz-border-radius-bottomleft: 5px;  }

#liveedit { text-align: right; position: fixed; top: 0px; right: 200px; z-index: 998; padding: 4px 10px 0 0; border: none; }
#liveedit_a {  color: White; font-weight: bold; font-size: 10px; }

.ac_sort_asc { background:url(../../ac_global/media/asc.gif); background-position:right; background-repeat:no-repeat; }
.ac_sort_desc { background:url(../../ac_global/media/desc.gif); background-position:right; background-repeat:no-repeat; }
.ac_sort_other { background: none; }

div.ac_autocomplete {
	width: 350px;
	background: #ffffff;
	margin:0px;
	padding:0px;
	border:none;
	overflow:hidden;
	border:1px solid #C3D2E0;
}
div.ac_autocomplete ul {
	margin:0;
	padding:0;
	width:100%;
	list-style-type:none;
	cursor: pointer;
}
div.ac_autocomplete ul li {
	margin:0;
	padding:3px;
	cursor: pointer;
	text-align: left;
}
div.ac_autocomplete ul li.selected {
	background-color: #ffb;
	background-color:#F0F6FB;
	color:#000000;
}
div.ac_autocomplete ul strong.highlight {
	color: #333;
	background-color:#B4CDE6;
	margin:0;
	padding:0;
}





/* tabbed interface - tabs start */


.navlist {
	padding: 3px 0 2px 1em;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-top: 7px;
	border-bottom: 1px solid #9DC0E0;
}

.navlist ul {
	display: inline;
	padding: 3px 1em 3px 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-top: 7px;
	/*font: normal bold 11px Verdana, Helvetica, sans-serif;*/
}

.navlist li,
.navlist li.othertab {
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline;
	margin-right:5px;
	color: #cccccc;
	/*background: #EEEEEE;*/
	background: #FCFCFC;
	text-decoration: none;
	font-weight:normal;
}
.navlist li a,
.navlist li.othertab a {
	color: #cccccc;
	padding: 2px 4px;
	margin-left: -1px;
	margin-right: -2px;
	border: 1px solid #9DC0E0;
	/*background: #EEEEEE;*/
	background: #FCFCFC;
	text-decoration: none;
	display:inline;
	font-weight:normal;

}
.navlist li a:link,
.navlist li a:visited,
.navlist li.othertab a:link,
.navlist li.othertab a:visited {
	color: #999999;
	text-decoration: none;
	font-weight:normal;
	background: #FCFCFC;
}

.navlist li a:hover,
.navlist li.othertab a:hover {
	background: #F0F8FF;
	text-decoration: none;
	font-weight:normal;
}
.navlist li a:active,
.navlist li.othertab a:active {
	border: 1px solid #778;
	border-bottom: 2px solid #FFFFFF;
	background: #FCFCFC;
}
.navlist li.currenttab a {
	background:url(../../ac_global/media/tabbed_selected.gif);
	border-bottom: 2px solid #FFFFFF;
	padding: 5px 6px 1px 7px;
	margin-left: -4px;
	margin-right: -4px;
	color:	#000000;
	font-weight:bold;
}
.navlist li.currenttab a:hover {
	background:url(../../ac_global/media/tabbed_selected.gif);
	border-bottom: 2px solid #FFFFFF;
	cursor: default;
}

.navlist li.disabledtab a {
	display:none;
/*
	background: #DDDDDD;
	margin-left: -1px;
	margin-right: -2px;
	border: 1px solid #778;
	border-bottom: none;
	padding: 2px 4px;
	cursor: default;
	font-style: italic;
	color: #999;
*/
}
.navlist li.disabledtab a:hover {
	background: #DDDDDD;
	margin-left: -1px;
	margin-right: -2px;
	border: 1px solid #778;
	border-bottom: none;
	padding: 2px 4px;
	cursor: default;
	font-style: italic;
}

.navlist li.disabledtab_warning a {
	background: url(../../ac_global/media/sign_warning.png) left no-repeat;
	border-bottom: 2px solid #FFFFFF;
	padding: 2px 4px 2px 25px;
	margin-left: -4px;
	margin-right: -4px;
	color: #999999;
	font-weight: normal;
}
.navlist li.currenttab_warning a {
	background:url(../../ac_global/media/sign_warning.png) left no-repeat;
	border-bottom: 2px solid #FFFFFF;
	padding: 5px 6px 1px 25px;
	margin-left: -4px;
	margin-right: -4px;
	color:	#000000;
	font-weight:bold;
}

.navlist li ul.invisible {
	display: none;
}

.navlist li.notatab,
.navlist li.notatab a {
	background-color: transparent;
	border: none;
	color: #000;
}

/* tabbed interface - tabs end */

/* tabbed interface - panels start */

.visibletab {
	display: block;
	border: 1px solid #778;
	border-top: 0px;
	margin: 0px;
	margin-top:0px;
	padding: 20px;
}
.visibletab legend{
	font-size:10px;
}
.hiddentab {
	display: none;
}

/* tabbed interface - panels end */



.ac_upload_box {
}
.ac_upload_frame {
	border-width: 0px;
	height: 40px;
	width: 400px;
	vertical-align:top;

}
.ac_upload_list_item {
	font-weight: bold;
	margin: 0 0 15px 0;
}

.ac_greyout {
	color: #ccc;
}
.ac_table_row_options a,
.ac_table_row_options span {
	margin-right: 3px;
}

.ac_loading {
	position:fixed;
	top:0px;
	right:0px;

	width:100%;
	height:100%;
	z-index:5000;
}

.ac_loading_inner {
	position: absolute;
	top:30%;
	left:50%;
	z-index:9999;
	width:375px;
	max-height:400px;
	overflow:auto;
	overflow-x:hidden;
	margin:-75px 0 0 -250px;

	text-align:center;
	padding:25px;
}

.ac_modal {
	position:fixed;
	top:0px;
	right:0px;

	width:100%;
	height:100%;
	z-index:5000;
	background:url(../../ac_global/media/modal_bg.png);
}
.ac_modal .ac_modal_inner{
	border-top:5px solid #636B73;
}

.ac_modal_delete {
	position:fixed;
	top:0px;
	right:0px;
	width:100%;
	height:100%;
	z-index:5000;
	background:url(../../ac_global/media/modal_bg.png);
}
.ac_modal_delete .ac_modal_inner{
	border-top:5px solid #920000;
}
.ac_modal_search {
	position:fixed;
	top:0px;
	right:0px;
	width:100%;
	height:100%;
	z-index:5000;
	background:url(../../ac_global/media/modal_bg.png);
}
.ac_modal_search .ac_modal_inner{
	border-top:5px solid #6E9200;
}
.ac_modal_inner{
	position: absolute;
	top:30%;
	left:50%;
	z-index:9999;
	width:375px;
	max-height:400px;
	overflow:auto;
	overflow-x:hidden;
	margin:-75px 0 0 -250px;

	background:#FDFCE9;
	text-align:left;
	padding:25px;
}
.ac_modal_inner .ac_button_ok{
	font-weight:bold;
}
.ac_modal_inner_global_users{
	position: absolute;
	top:30%;
	left:50%;
	z-index:9999;
	width:375px;
	max-height:400px;
	overflow:auto;
	overflow-x:hidden;
	margin:-75px 0 0 -250px;
	background:#FDFCE9;
	text-align:left;
	padding:25px;
	border-top:5px solid #636B73;
}
.ac_modal_inner_groups{
	position: absolute;
	top:30%;
	left:50%;
	z-index:9999;
	width:375px;
	max-height:400px;
	overflow:auto;
	overflow-x:hidden;
	margin:-75px 0 0 -250px;
	background:#FDFCE9;
	text-align:left;
	padding:25px;
	border-top:5px solid #6E9200;

}
.ac_modal_opaque {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background: transparent;
	color:#000000;
	overflow:hidden;

	/*
	filter:alpha(opacity=80);
	opacity:.8;
	-moz-opacity:.8;
	*/
}
.ac_modal_inner_opaque{
	padding:10px;
	margin-top: 50px;
	width:400px;
	text-align:left;

	border:1px solid #000000;
	background-color:#FFFFFF;

	overflow: none;
	/*
	filter:alpha(opacity=100);
	opacity:1;
	-moz-opacity:1;
	*/
}

.width300{
	width:300px;
}
.width400{
	width:400px;
}
.width500{
	width:500px;
}
.ac_modal_text{

	background:url(../../ac_global/images/loader.gif);
	background-repeat:no-repeat;
	padding-left:25px;
}

.ac_radio_list label { display: block; }

/* sync stuff */
#syncTables label, #syncCustom label { border-top: 1px solid #ccc; padding: 4px; }

.ac_table_row_options {
	white-space:nowrap;
	padding-right:10px;
};

.ac_mapped_column {
	background-color: #ccc;
}

.ac_nav{
position:absolute;
visibility: hidden;
font-size:11px;
line-height: 18px;
z-index: 100;
border:1px solid #ffffff;
border-top:0px;
border-bottom:1px solid #6A86A6;
background-color:#EEF3F9;
width: 150px;
margin-bottom:-3px;
}

.ac_nav a, .ac_nav a:visited{
display: block;
padding: 3px;
text-decoration: none;
color: #666666;
padding-left:30px;
border-bottom:1px solid #DFE7F1;
background:url(../../ac_global/media/admin_nav_arrow.gif);
background-repeat:no-repeat;
background-position:left;
}

.ac_nav a:hover{ /*hover background color*/
background-color: #D9E3EF;
}

.ac_menu_selected {
	background:url(../../ac_global/media/admin_nav_bg.gif);
	background-position:top;
	background-repeat:repeat-x;
}


/*Icons*/
.ac_nav_icon_document_text{ background:url(../../ac_global/media/icons/document_text.png); }
.ac_nav_icon_documents{ background:url(../../ac_global/media/icons/documents.png); }
.ac_nav_icon_folder_document{ background:url(../../ac_global/media/icons/folder_document.png); }
.ac_nav_icon_message{ background:url(../../ac_global/media/icons/message.png); }
.ac_nav_icon_dictionary{ background:url(../../ac_global/media/icons/dictionary.png); }
.ac_nav_icon_index{ background:url(../../ac_global/media/icons/index.png); }
.ac_nav_icon_chart_pie2{ background:url(../../ac_global/media/icons/chart_pie2.png); }
.ac_nav_icon_users_family{ background:url(../../ac_global/media/icons/users_family.png); }

/* shows on Subscriber Import page */
#advanced {
	margin: 5px 0 0 15px;
}

.ac_progressbar {
	width: 100px;
	height: 20px;
	border: 3px solid #E9FFD5;
	background-color: #fff;
	background:url(../images/import-loading.gif);
	background-repeat:no-repeat;
}

.ac_progress_bar {
	height: 20px;
	background-color: #6BB16A;
}

.ac_progress_label {
	position: absolute;
	width: 100px;
	height: 20px;
	text-align: center;
	margin: 3px 0;
	font-size: 12px;
	font-weight: bold;
}

#activeInBox { margin: 0 0 6px 8px; border-left: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 4px; }

div.question { font-weight: bold; }
div.answer { padding: 0 50px; margin: 4px 0 10px 0; }
div.explanation { padding: 0 50px; margin: 4px 0 10px 0; }
div.code { border: 1px solid #ccc; background-color: #eee; padding: 4px 10px; margin: 5px 0; font-weight: bold; }


#responderOptions,
#bouncenew,
#optinoutnew {
	padding: 10px;
	margin: 10px;
	border: 1px solid #ccc;
}

.ac_list_selector {
	border-bottom: 1px solid #ccc;
	padding: 4px;
	padding-right:0px;
	margin: 4px 0;
}

.ac_list_selector_item {
	padding: 4px;
	border: 1px solid #D9D9D9;
	margin-left: 22px;
}
.ac_list_selector_item select{
	font-size:10px;
	margin-left:4px;
}
.ac_list_selector_item option{
	font-size:10px;
}
#parentsListBox {
	border-top: 1px solid #ccc;
}

.ac_inrow_info {
	padding-top: 10px;
}

.REMOVE{
	display:none;
}

.icon_box_selector a, .icon_box_selector a:visited{

	padding:10px;
	border:1px solid #CCCCCC;
	margin-right:10px;
	margin-bottom:10px;
	width:350px;
	height:45px;
	text-align:left;
	display:block;
	text-decoration:none;
}
.icon_box_selector a:hover, .icon_box_selector .selected{
	text-decoration:none;
	background:#F1F9D8;
	border:1px solid #AADC11;
	color:#597602;
}

.integration_details{
	padding:10px;
	font-size:11px;
	color:#666666;
	background:#F4FCD9;
}

.campaign_new_progress_container{
	text-align:center;
	width:90%;

	position:absolute;
	top:40px;
}
.campaign_new_progress{
	margin-left: auto;
	margin-right: auto;
	padding:0px;
	font-size:17px;
	color:#0E3E75;
}

.campaign_new_progress div{
	display:inline;
	color:#4b6f97;
	margin-right:10px;
	margin-left:10px;
	text-decoration:none;
	font-size:12px;
	text-transform:uppercase;
	font-weight:bold;
	padding-left:5px;
	padding-right:5px;
	border:1px solid #0e3e75;


}



.campaign_new_progress .selected{
	box-shadow: 0 0 30px #7195be;
	-webkit-box-shadow: 0 0 30px #7195be;
	-moz-box-shadow: 0 0 30px #7195be;
	background:#6180a4;
	padding-left:5px;
	padding-right:5px;
	border:1px solid #7195be;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

.campaign_new_progress a, .campaign_new_progress a:visited{
	color:#809ab6;


}
.campaign_new_progress .selected a, .campaign_new_progress .selected a:visited{
	color:#fff;
	text-decoration:none;


}
.campaign_new_progress h1{
	font-size:20px;
	font-family:Helvetica;
	letter-spacing:-1;
	font-weight:normal;
	text-shadow: #000 1px 1px 1px;
	color:#FFF;
	margin-bottom:20px;
}
.campaign_new_links td{
	font-size:11px;
	border-bottom:1px solid #DFE6E9;
	border-right:1px solid #DFE6E9;
}

.campaign_new_links{
	border:3px solid #DFE6E9;
}

.campaign_new_progress .done{
	background:url(../images/campaign_new_check.gif);
	background-position:left;
	background-repeat:no-repeat;
	background-color:#CBDF8D;
	padding-left:35px;
	color:#8CA933;
}


.subscriber_export_fieldlist div,
.exclusion_export_fieldlist div{
	float:left;
	width:125px;
	overflow:hidden;
}
.filter_add_edit{
}
.filter_group_options{
	font-size:10px;
	float:left;
	border:1px solid #DCE5EA;
	padding:5px;
	margin-left:10px;
	margin-top:-1px;
	background:#FFFFFF;
}
.filter_group{
	border:1px solid #DCE5EA;
	padding:10px;
}
.filter_group_title{
	background:#DCE5EA;
	font-size:10px;
	padding:4px;
	color:#9DA9B0;
}
.campaign_new_schedule{
	border:3px solid #DFE6E9;
	padding:5px;
}
.form_confirmation{
	border:3px solid #DFE6E9;
	padding:5px;
	margin-left:25px;
}
.menu_integration{
	background-image:url(../images/monitor_brush-16-16.png);
	background-repeat:no-repeat;
	background-position:left;
	padding-left:24px;
	padding-top:2px;
	padding-bottom:2px;
}
.menu_reports{
	background-image:url(../images/chart_pie2-16-16.png);
	background-repeat:no-repeat;
	background-position:left;
	padding-left:24px;
	padding-top:2px;
	padding-bottom:2px;
}
.menu_lists{
	background-image:url(../images/server_id_card-16-16.png);
	background-repeat:no-repeat;
	background-position:left;
	padding-left:24px;
	padding-top:2px;
	padding-bottom:2px;
}
.menu_subscribers{
	background-image:url(../images/users_family-16-16.png);
	background-repeat:no-repeat;
	background-position:left;
	padding-left:24px;
	padding-top:2px;
	padding-bottom:2px;
}
.menu_campaigns{
	background-image:url(../images/mail_open-16-16.png);
	background-repeat:no-repeat;
	background-position:left;
	padding-left:24px;
	padding-top:2px;
	padding-bottom:2px;
}
.menu_settings{
	background-image:url(../images/registry-16-16.png);
	background-repeat:no-repeat;
	background-position:left;
	padding-left:24px;
	padding-top:2px;
	padding-bottom:2px;
}
.startup_box_container{
	border:1px solid #E3E2DE;

}
.startup_box_container_shadow{
	border:5px solid #F5F4F1;

}
.startup_box_title{
	padding:10px;
	background:url(../images/title_bg1.gif);
	background-position:left;
	background-repeat:repeat-y;

	background-color:#F6F6F6;
}
.startup_box_title a{
	padding:3px;
	padding-left:6px;
	padding-right:6px;
	background:#FFFFFF;
	text-decoration:none;
	margin-right:7px;
	color:#999999;
}
.startup_box_title .startup_selected a{
	padding:5px;
	padding-left:6px;
	padding-right:6px;
	padding-bottom:10px;
	background:#FFFFFF;
	text-decoration:none;
	margin-right:7px;
	color:#333333;
}
.startup_box_container_inner{
	padding:10px;
}


























































/*

	calendar from strio3

*/

calendar_month_view table
{
	margin: 20px auto;
	width: 100%;
}

#calendar_month_view table tr#title th
{
	background: #145AA8;
	border: 1px solid #224;
	color: white;
	font-size: 120%;
	text-align: center;
}

#calendar_month_view table tr#days th
{
	background-color: #ccc;
	color: black;
	font-weight: bold;
	padding: 1px 0.33em;
	text-align: center;
}

#calendar_month_view table td
{
	border: 1px solid gray;
	border-color: #BBB #EEE #EEE #BBB;
	height: 75px;
	vertical-align: top;
	width: 10%;
}

#calendar_month_view table td.sat
{
	border-right: 1px solid #BBB;
}

#calendar_month_view table td.prev,
#calendar_month_view table td.next
{
	background: #999;
	border: 1px solid #AAB;
	border-right-color: #99A;
	color: #333;
}

#calendar_month_view table tr#lastweek td
{
	border-bottom: 2px solid #AAB;
}

#calendar_month_view table .date
{
	border: 1px solid #ccc;
	border-width: 0 1px 1px 0;
	font-size: 1.2em;
	font-weight: bold;
	margin: 0 0 2px 0;
	text-align: center;
	width: 30px;
}

#calendar_month_view table .event1,
#calendar_day_view table .event1
{
	background: #90EE90;
	border: 4px solid #145AA8;
	border-width: 0 4px;
	margin: 2px 8px;
	padding: 1px 3px;
}

#calendar_month_view table .event2,
#calendar_day_view table .event2
{
	background: #E9967A;
	margin: 2px 8px;
	padding: 1px;
}

#calendar_month_view table .today
{
	background: #ffc;
}

#calendar_month_view_normal #previous_link:link,
#calendar_month_view_normal #next_link:link
{
	color: white;
}

#calendar_month_view_normal #previous_link:visited,
#calendar_month_view_normal #next_link:visited
{
	color: white;
}

#calendar_month_view_normal #previous_link:hover,
#calendar_month_view_normal #next_link:hover
{
	color: white;
}

#calendar_month_view_normal #previous_link:active,
#calendar_month_view_normal #next_link:active
{

}

#calendar_month_view_small
{
	border: 1px solid #ccc;
	padding: 5px;
	width: 160px;
}

#calendar_month_view_small table
{
	margin: 0 auto;
	width: 160px;
}

#calendar_month_view_small table tr#title th,
#calendar_month_view_small table tr#days th
{
	color: #145AA8;
	text-align: center;
}

#calendar_month_view_small table .date
{
	text-align: center;
}

#calendar_month_view_small table .today
{
	background: #ffc;
}

#calendar_month_view_small table .event
{
	color: black;
	font-weight: bold;
}

#calendar_month_view_small table td.prev,
#calendar_month_view_small table td.next
{
	color: #ccc;
}

.left_arrow
{
	border-left: none !important;
	margin-left: 0 !important;
}

.right_arrow
{
	border-right: none !important;
	margin-right: 0 !important;
}

.left_right_arrow
{
	border-left: 0 !important;
	border-right: 0 !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

#calendar_day_view table th
{
	background: #ccc;
	text-align: left;
}

#calendar_day_view th#calendar_day_view_dayname
{
	text-align: center;
}

#calendar_day_view table td
{
	border: 1px solid gray;
	border-color: #BBB #EEE #EEE #BBB;
}

.preview_menu{
	border-bottom:1px solid #999999;
	padding:10px;
	background:#EFEDDE;
}
.preview_menu_bottom{
	border-top:1px solid #999999;
	padding:10px;
	background:#EFEDDE;
}
.preview_ruler{
	background:url(../images/preview_ruler.gif);
	background-position:left;
	background-repeat:no-repeat;
	height:19px;
}
.preview_details{
	padding:10px;
	background:#F8F7ED;
}
.ac_cronlist_disabled{
	color:#999999;
}

#design_image_div,
#branding_image_div {
	border: 1px solid #ccc;
	padding: 10px;
}

.getting_started{
	border:1px solid #FFED87;
	background:url(../images/getstarted_bg2.gif);
	background-position:bottom;
	background-repeat:repeat-x;
	background-color:#FFFEF8;
	margin-bottom:15px;
}
.getting_started li{
	line-height:200%;
	font-size: 14px;
	font-weight: bold;
}
.getting_started a, .getting_started a:visited{
	color:#006600;
	font-size:13px;
}
.getting_started .completed a, .getting_started .completed a:visited{
	color:#B2AE98;
	font-size:13px;
}
.getting_started .completed{
	color:#B2AE98;
}

.startup_top_tasks a{
	padding:10px;
	float:left;
	text-align:center;
	border:1px solid #EEFBD6;
	margin-right:5px;
	margin-left:5px;
	margin-bottom:10px;
	font-size:11px;
	width:100px;
	height:55px;;
}
.startup_top_tasks img{
	border:0px;
	text-decoration:none;
	margin-bottom:5px;
}

.startup_top_tasks a, .startup_top_tasks a:visited{
	color:#333333;
	text-decoration:none;
}
.startup_top_tasks a:hover{
	color:#689D00;
	text-decoration:none;
	border:1px solid #CDE59D;
}
.startup_kb_articles div{
	padding:5px;
	border-bottom:1px solid #F6F6F6;
}
.startup_kb_search{
	padding:5px;
	border:1px solid #E4E4E4;
	background:#F6F6F6;
}

.ac_offer{
	border:1px solid #CCCCCC;
	background:#FDFFF2;
	padding:5px;
	position:absolute;
	margin-left:23px;
}
.font_10 td{
	font-size:10px;
}
#campaign_send_warning_campaign{
	background:#FFEAEA;
	padding:10px;
	font-weight:bold;
	font-size:12px;
	border-top:1px solid #750000;
	color:#750000;
	margin-bottom:10px;
}
#campaign_send_warning_mail{
	background:#FFEAEA;
	padding:10px;
	font-weight:bold;
	font-size:12px;
	border-top:1px solid #750000;
	color:#750000;
	margin-bottom:10px;
}

.messageusedb4 {
	color: #888;
}

.subscriber_dimmed {
	color: #ccc;
}

#usemessage { width: 500px; }

.campaignlistprogressbox {
	float: right;
	width: 100px;
}

.campaignlisttitlebox {
	font-weight: bold;
}

.campaignlistdescriptbox {
	/*padding: 4px 0 0 10px;*/
	padding-top: 4px;
}

#list_export_count { font-weight: bold; }

#preview_message_source_box {
	border-top:1px solid #999999;
	padding:10px;
	background:#EFEDDE;
}

#preview_message_source {
	height: 200px;
	width: 100%;
}

.ac_button_right { float: right; }

#messagefind {
	margin: 10px 0;
	padding: 4px;
	border: 1px solid #EFEDDE;
}

.scrollablebox { max-height: 400px; overflow: auto; overflow-x: hidden; padding: 2px; width: 500px; }

.publiclink { font-weight: bold; }

.row_suspended { color: #800000; }

.personalizelisttitle{
	font-size:12px;
	font-weight:bold;
	padding:3px;
	paddin-left:6px;
	background-image:url(../images/pers-collapse.gif);
	background-position:right;
	background-repeat:no-repeat;
	background-color:#FAFBE0;
	border-bottom:1px solid #D6E55A;
}
.personalizelisttitle a, .personalizelisttitle a:visited{
	display:block;
}

/* WIDGETS */

.widget_dropzone {
	min-height:200px;
	background-color:#F4FFB4;
	border:solid #ccc 1px;

	max-height:500px;
	/*width:250px;*/
	padding:5px;
	overflow:auto;
}

.widget_list {
	background-color:#F5F5F5;
	border:solid #ccc 1px;
	margin-right:15px;
}

.widget_draggable {
	background-color:#DCE5F0;
	border:1px dotted #999;
	margin:10px;
	padding:4px;
}

.widget_title, .widget_list_title {
	cursor:pointer;
}

.widget_list_title {
	border-bottom: 1px solid #C7CCD3;
	color:#333;
}

.widget_dropzone .widget_draggable {
/*
	width: 225px;
	height: 30px;
*/
}
.widget_list .widget_draggable {
	background-color:#DCE5F0;
	float:left;
	width:150px;
	height:80px;
	color:#797E84;
}

#public_widget_loading, #admin_widget_loading {
	display:none;
	float:right;
}

#public_widget_clear, #admin_widget_clear {
	color:#999;
	text-decoration:underline;
	cursor:pointer;
	float:right
}

#public_widget_clear:hover, #admin_widget_clear:hover {
	background-color:#CCFFCC;
	color:#000099;
}

.widget_opener {
	float: right;
	padding: 4px;
	cursor:pointer;
}

.widget_config {
	background-color: #eee;
	padding: 4px;
	margin-top: 4px;
	border: 1px solid #888;
}

.widget_instance_bars_list {
	/*height: 100px;*/
	max-height: 100px;
	min-height: 30px;
	overflow: auto;
}

div.ac_checkboxlist { max-height: 100px; overflow: auto; }

#ac_admin_content #subscriber_import h2{ background:none; background-color:#FFF; color: #A7A6A0; font-size:14px; margin:0px; padding:5px; margin-top: 10px; cursor: default; }

.import_external_source{
	margin-left:15px;
	font-size:14px;
}
.import_external_source div{
	float:left;
	width:170px;
	margin-right:15px;
	margin-bottom:15px;
	padding:10px;
	text-align:center;
	overflow:hidden;
	cursor:pointer;
	font-size:11px;
	color:#999999;
	border-radius: 10px;
}
.external_form_help{
	background:#F8FCDC;
	color:#999999;
	padding:15px;
	font-size:11px;
	margin-bottom:8px;
	border:1px solid #F0F1B6;
}
.import_external_source_selected{
	border:1px solid #68A428;
	-moz-box-shadow: inset 0 0 7px #999;
	-webkit-box-shadow: inset 0 0 7px #999;
	box-shadow: inset 0 0 7px #999;
}
.import_external_source_notselected{
	border:1px solid #E0DFDC;
}

.blogpost { padding: 2px 0; }
.blogpost a { color: #999; }

  .tpl_preview_area {
	max-height: 600px;
	min-height: 200px;
	overflow:scroll;
	overflow-x:hidden;
	overflow-y: scroll;
	display:block;
	border:1px solid #ccc;
	padding:5px;
  }
  .tpl_preview_menu{
	  float: left;
	border:1px solid #ccc;
	border-right:0px;

	background:url(../images/side_bg_r.gif);
	background-repeat:repeat-y;
	background-position:right;
	border-bottom:1px solid #ccc;

  }
  .tpl_preview_menu input{
  	width:99%;
	border:1px solid #ccc;
  }
  .tpl_preview_menu div a, .tpl_preview_menu div a:visited{

 	padding:10px;
 	padding-left:15px;
	padding-right:15px;
	display:block;
 }
 .tpl_preview_menu div a:hover{
 	background:#F1F1F1;
 }
.tpl_preview_menu_search{
	padding:15px;
	background:#EEEEED;
	border-bottom:1px solid #ccc;
}

.message_tpl_select_div {
	float: left;
	text-align: center;
	width: 175px;
	margin: 10px;
	padding-top:7px;
	padding-bottom:7px;
	border:3px solid #EDECE7;
}
.message_tpl_select_span {
	font-size:11px;
	overflow: none;
	color:#999;
	display:block;
}

.message_tpl_select_div_hover {
	float: left;
	text-align: center;
	width: 175px;
	margin: 10px;
	border:3px solid #B0D56E;
	-moz-box-shadow: inset 0 0 7px #B0D56E;
	-webkit-box-shadow: inset 0 0 7px #B0D56E;
	box-shadow: inset 0 0 7px #B0D56E;
	padding-top:7px;
	padding-bottom:7px;
}

.message_tpl_select_div_hover span{
	color:#006600;
}

.message_tpl_select_noimg {

}

.message_tpl_select_img {
}

#accountInfo, #accountSettings, #accountBio { margin-left: 20px; }

#form_list_other_options {
	margin-top: 30px;
}

#form_list_other_options li {
	display: inline;
	margin-right: 15px;
}

#design_upload_div div { display:inline; }

.text_ruler{
	background:url(../images/text_ruler.gif);
	background-position:top left;
	background-repeat:repeat-y;
}

.message_form_template_msg {
	color: red;
	font-size: 16px;
	margin: 20px;
}
.ac_listing_empty{
	padding:20px;
	border-top:3px solid #E4F4C3;
	border-bottom:3px solid #E4F4C3;
	background:#F2FFD8;
	font-size:15px;
	color:#333;
}
.ac_listing_empty a, .ac_listing_empty a:visited{
	font-weight:bold;
	color:#006600;
}

#subscriber_email_editlink { padding-left: 0px; font-size:10px; }
#subscriber_email_editlink,
#subscriber_email_editlink a {
	color: #999;
}
.personalizelistsection li{
	margin-left:20px;
	font-size:12px;
	margin-bottom:6px;
	margin-top:1px;

}
.personalizelistsection li div{
	color:#666666;
	margin-left:12px;
	font-size:11px;
}
.campaign_list_select{
	max-height:400px;
	border:1px solid #e0dfdc;
	font-size:14px;
	padding-bottom:15px;
}
.campaign_list_select label{
	padding:15px;
	display:block;
	padding-bottom:0px;
}
.box_buffer{
	border:3px solid #edece7;
}
.campaign_types_head{
	font-size:12px;
	padding-top:2px;
}
.campaign_types_desc{
	font-size:11px;
	color:#666;
}

.campaign_template_selected {
	border: 1px solid #b7db61;
		box-shadow: 0 0 30px #b7db61;
	-webkit-box-shadow: 0 0 30px #b7db61;
	-moz-box-shadow: 0 0 30px #b7db61;




}

.campaign_template_notselected {
	border: 1px solid #edece7;
}

/* just used in the action=template section only */
.template_notselected {
	box-shadow: 2px 2px 10px #E0DFDC;
}

.template_preview {
	cursor: pointer;
	width: 200px;
	height: 250px;
	margin-bottom: 8px;
	padding: 0px;
	margin-right: 25px;
}

/*
.template_preview_link {
	display: block;
	width: 200px;
	height: 250px;
}
*/

.template_preview_hover {
	background:url(../images/bg_trans_white_25.png);
	position: absolute;
	width: 200px;
	height: 250px;
	/*opacity: 0;
	filter: alpha(opacity=0);*/
}

.template_preview_hover_menu {
	background-color: transparent;

	/*border-radius: 0 0 10px 10px;*/
	padding: 5px 9px 3px 20px;
	position: absolute;
	bottom: 108px;
	right: 0;
	width: 173px;
	/*opacity: 0.9;
	filter: alpha(opacity=90);*/
}

.template_preview_hover_menu2 {
	border-radius: 0;
}

#choice_template_hover_edit {
	background-image: url(../images/template_edit_button.png);
	position: absolute;
	display: block;
	width: 83px;
	height: 30px;
	margin-left: 23px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}

.template_preview_hover_menu_export {
	background-color: white;
	border-radius: 0 0 10px 10px;
	padding: 10px 8px 8px 20px;
	position: absolute;
	bottom: 0;
	width: 173px;
}

.campaign_template_textselected {
	font-weight: bold;
}

.campaign_template_textnotselected {
	font-weight: normal;
}

.campaign_split_tab {
	padding: 8px;
	background-color: #f6f6f3;
	border:1px solid #edece7;
	border-right:0px;
	margin-bottom:5px;
			border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	color: #888;
}
.campaign_split_tab a,
.campaign_split_tab a:link,
.campaign_split_tab a:visited,
.campaign_split_tab a:active {
	color: #888;
}

.campaign_split_tab_selected {
	padding: 8px;
	background-color: #edf4db;
	margin-bottom:5px;
	border:1px solid #b7db61;
	border-right:0px;

		border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	color: #6c920d;
	margin-right:-1px;

}
.campaign_split_tab_selected a,
.campaign_split_tab_selected a:link,
.campaign_split_tab_selected a:visited,
.campaign_split_tab_selected a:active {
	color: #6c920d;
}
.rss_sidebar{
	float:right; width:195px;
	margin-top:102px;
}

.rss_sidebar_highlight{
	border:1px solid #ccc; border-left:0px; padding:10px; background:#f9fae8;
}
.rss_sidebar_help{
	padding:10px; margin-top:5px;  color:#666;
}

.wufoo_fields_additional {
	width: 100px;
}

.field_table{
	border: 1px solid #ccc;
}
.field_table td{
	padding:8px;
	border-bottom:1px dotted #ccc;
}
.field_table_header{
	background-color: #f2f1ea;
	border-bottom:1px dotted #cccccc;
	color: #878787;
}
.field_personalize{
	color:#999;
}
.field_disabled_link{
	text-decoration:underline;
	color:#ccc;
}
.field_name input{
	width:99%;
}

#option_defval_text{
	width:99%;
}
.form_input_name{
	font-size: 21px;
	width: 99.7%;
}
.form_content{
}
.form_content_preview{
	margin-left:275px;
	min-height: 500px;
 z-index:999; border:1px solid #b7db61; border-top-right-radius: 5px; -moz-border-radius-topright: 5px; border-bottom-right-radius: 5px; -moz-border-radius-bottomright: 5px; border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px; background:#edf4db; padding:5px;


}
.form_content_preview_inner{
padding: 25px;  border-top-right-radius: 5px 5px; border-bottom-right-radius: 5px 5px; border-bottom-left-radius: 5px 5px;  background:#fff;
min-height:650px;


}

.form_content_side{
	width:275px;
	float:left;
}
.form_content_fields{

	margin: 0px;

	margin-bottom: 15px;
	padding-bottom: 10px;
	border: 1px solid black;
	float: right;
}
.form_content_fields_hanger{
	margin: 0px;

	margin-top: 15px;
	border: 1px solid black;

}

.form_content_tab_selected{

	background-color: #edf4db;
	margin-bottom:5px;
	border:1px solid #b7db61;
	border-right:0px;

		border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	color: #6c920d;
	margin-right:-1px;
}
.form_content_tab{
	padding: 8px;
	background-color: #f6f6f3;
	border:1px solid #edece7;
	border-right:0px;
	margin-bottom:5px;
			border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	color: #888;

}
.form_content_tab_selected .header{
	font-size: 14px;
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	background-color: #edf4db;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;

	color: #597219;
}
.form_side_content{
	background:#fafdf2;
	margin-right:-5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	padding:10px;
	padding-bottom:20px;
}
.form_content_fields_header_gray{
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 8px;
}
.form_content_fields_addlink{
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 8px;
	text-align: center;
}
.form_content_fields_item{
	width: 102px;
	border: 1px solid #8bb520;
	border-radius: 5px;
	-moz-border-radius: 5px;
	margin-top: 10px;
	margin-left: 10px;
	padding: 5px;
	float: left;
	font-size:11px;
	cursor: pointer;
	background: #dcedb1;
}
.form_content_fields_item_add{
	width: 226px;
	border: 1px solid #d6d9d0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	margin-top: 10px;
	margin-left: 10px;
	padding: 5px;
	float: left;
	font-size:11px;
	cursor: pointer;
	background: #eeefed;
	color:#707563;
}

.form_content_fields_item_gray{
	width: 90px;
	border: 1px solid #000;
	margin-top: 10px;
	margin-left: 10px;
	padding: 5px;
	float: left;
	background: #aaa;
	cursor: pointer;
}
.preview_part{
	border: none;
	text-align:left;
	padding:1px;
		padding-left:11px;
	padding-right:11px;
}
.preview_part_hover{
	border: 1px solid #d6d9d0;
	text-align:left;

	padding-left:10px;
	padding-right:10px;
	cursor:move;
	/*
	box-shadow: 0 0 20px #deedb7;
	-webkit-box-shadow: 0 0 20px #deedb7;
	-moz-box-shadow: 0 0 20px #deedb7;
	*/
}
.preview_part_hover ._label, .preview_part_hover ._field, .preview_part_hover ._partid, .preview_part_hover input, .preview_part_hover button, .preview_part_hover div, .preview_part_hover ._option{
	cursor:move;
}
.preview_part_hover ._form_options{
	cursor:default;
}
._form_options{
	border:1px solid #ccc;
	margin-left:-70px;
	margin-top:-8px;
	padding:6px;
	padding-left:10px;
	padding-right:10px;
	border: 1px solid #d6d9d0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	background:#ffffdc;
	width:65px;
	position:absolute;
	text-align:center;
	z-index:999;
}
.preview_part ._form_options{
	display:none;
}
.preview_part_sorting{
	opacity:0.4;
	filter:alpha(opacity=0);
}
.preview_part_disabled{
	cursor: auto;
	border-color: #ddd;
	color: #b0b998;
	background:#edf4db;
}
.spaced{
	margin-top: 10px;
}
.form_settings_bigtext{
	font-size: 15px;
}
.form_content_editoptions{
	margin-top: 10px;
	padding-left: 10px;
}
.form_content_theme_item{
	float:left;
	margin:1px;
	cursor:pointer;
}
.form_content_theme_item img{
	border:1px solid #edf4db;
}
.form_content_theme_item_selected{
	background-color: #3a3;
}
.form_content_newestpart{
	background-color: #fbfa86;
}

#preview{
}

/* To show hidden labels differently */
#preview ._hiddenlabel{
	color: gray;
}

.form_chooseredirect{
	float:right;
}

.form_choosenoredir{
	float:right;
	display:none;
}

.form_explain_redir{
	display:none;
}

#useredirect{

	display:none;
}

.form_useredirect_message{

}

.form_redirect_section{

	border:1px solid #dee029;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background:#fafad1;
	padding:10px;
	padding-left:15px;
	padding-right:15px;
	font-size:15px;
	margin-bottom:10px;
	color:#59594c;
}

.form_redirect_input{
 border:1px solid #b7db61; border-radius: 5px; -moz-border-radius: 5px;  background:#edf4db; padding:15px; text-align:center;


}
.form_redirect_input input, .form_redirect_input button{
	font-size:15px;
}

.inlineError{
	color:#990000;
	border:0px;
	background:#F9E4E3;
	font-size:12px;

	padding:20px;
}
.mainError{
border:1px solid #e8d9d9; padding:20px; font-size:15px; color:#333; margin-top:0px; margin-bottom:15px; background:#fcf3f3;
}

.settings_api_section {
  font-size: 14px;
  background-color: #0F3E76;
  color: white;
  padding: 3px;
  border-radius: 3px;
  width: 640px;
}

.settings_api_code {
	font-family: Courier !important;	
}

.settings_api_param_id {
	width: 35px !important;		
}

.settings_api_param_ids {
	width: 75px !important;		
}

.settings_api_param_email {
	width: 175px !important;		
}

.settings_api_param_general1 {
	width: 105px !important;		
}

.settings_api_param_general2 {
	width: 175px !important;		
}

.settings_api_param_select1 {
	width: 175px !important;
}

#api_parameters table tr td {
	vertical-align: top !important;
}

#api_parameters table tr:first-child td:first-child {
	width: 150px;
}

#api_parameters td table tr:first-child td:first-child {
	width: 110px;
}

#api_parameters td table tr:first-child td:nth-child(2) {
	width: 180px;
}

#api_parameters td table {
	width: 600px;
}

#api_parameters td table tr td:first-child,
#api_parameters td label
{
	color: #666;
	font-style: italic;
}

#api_parameters textarea {
	height: 75px !important;
	width: 200px !important;
}

/* IE: <span class="subscriber_view_exclusion">Email matches an email or pattern on the <a href="">exclusion list</a>.</span> */
.subscriber_view_exclusion {
	color: red;
	margin-left: 15px;
}
